phase5/test_stuffs/kode_raspberry_pi_ambu_v2/node-red/flows.json
[{"id":"f62818cd.f86418","type":"tab","label":"Sensor, Detection, Alarm","disabled":false,"info":""},{"id":"7f966e0f.d666c","type":"tab","label":"Actuator Motor","disabled":false,"info":""},{"id":"63f647d5.2cf558","type":"tab","label":"Data and Variables","disabled":false,"info":""},{"id":"58e61889.b398d8","type":"tab","label":"Dashboard Ventilator","disabled":false,"info":""},{"id":"4a94d9b8.5fd6f8","type":"tab","label":"Dummy [disabled]","disabled":true,"info":""},{"id":"8b108740.554b28","type":"subflow","name":"Stepper Motor","info":"","category":"","in":[{"x":160,"y":100,"wires":[{"id":"c960012c.42de"}]}],"out":[{"x":1044,"y":79,"wires":[{"id":"b10939dd.715c78","port":0}]},{"x":1041,"y":137,"wires":[{"id":"b10939dd.715c78","port":1}]},{"x":1042,"y":189,"wires":[{"id":"b10939dd.715c78","port":2}]},{"x":1044,"y":242,"wires":[{"id":"b10939dd.715c78","port":3}]},{"x":1025,"y":379,"wires":[{"id":"b10939dd.715c78","port":4},{"id":"be95b7a9.2d33a8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e3239c13.80556","type":"ncd-comm","z":"","name":"Sensor_1","bus":"i2c-1","commType":"standard","addr":"0","useMux":false,"muxAddr":"112","muxPort":"0"},{"id":"cde7b037.ff086","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"1000"},{"id":"c19c2cdb.db978","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":4,"px":0,"py":0}}},{"id":"2520364a.71129a","type":"ui_spacer","name":"spacer","group":"","order":4,"width":"9","height":"2"},{"id":"8ab9244e.92b6f8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"6507b675.c8f968","type":"ui_spacer","name":"spacer","group":"","order":4,"width":"9","height":"2"},{"id":"972e584e.68e868","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"4b97f326.e00c8c","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"41d35e8c.8fa25","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"b61819db.5ab558","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"2efd43af.fcdaac","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"43d23739.17ff38","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"465bd0a5.1088d","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"f2cc17ee.991928","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"981b9059.7fff3","type":"ui_spacer","name":"spacer","group":"","order":1,"width":"5","height":1},{"id":"f7a15cce.38b8f","type":"ui_tab","z":"","name":"Ventilator Use Mode","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"18c2e78c.1d9898","type":"ui_group","z":"","name":"Choose Use Option","tab":"f7a15cce.38b8f","order":3,"disp":true,"width":"9","collapse":false},{"id":"c2286c5a.d518e","type":"ui_tab","z":"","name":"Input Setting Value","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"68e20364.a8e9dc","type":"ui_group","z":"","name":"Setting","tab":"c2286c5a.d518e","order":3,"disp":true,"width":"9","collapse":false},{"id":"2438ef1e.c171c","type":"ui_group","z":"","name":"Alarm","tab":"f7a15cce.38b8f","order":2,"disp":true,"width":"4","collapse":false},{"id":"56262036.a3ae3","type":"ui_group","z":"","name":"Navigation","tab":"f7a15cce.38b8f","order":4,"disp":false,"width":"9","collapse":false},{"id":"6f6dce6d.e5a8e","type":"ui_spacer","name":"spacer","group":"18c2e78c.1d9898","order":4,"width":"9","height":"2"},{"id":"24999d3c.6cb652","type":"ui_group","z":"","name":"Alarm","tab":"c2286c5a.d518e","order":2,"disp":true,"width":"4","collapse":false},{"id":"231400d2.9dd8e","type":"ui_tab","z":"","name":"Input Alarm Threshold","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"54e686a7.814a78","type":"ui_group","z":"","name":"Setting","tab":"231400d2.9dd8e","order":3,"disp":true,"width":"9","collapse":false},{"id":"c55b2565.8dd6c8","type":"ui_group","z":"","name":"Alarm","tab":"231400d2.9dd8e","order":2,"disp":true,"width":"4","collapse":false},{"id":"eb6784f5.c97828","type":"ui_tab","z":"","name":"Ventilator Monitoring","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"2427dc15.12ad64","type":"ui_group","z":"","name":"Pressure Chart","tab":"eb6784f5.c97828","order":3,"disp":false,"width":"9","collapse":false},{"id":"c85d63d0.e89b4","type":"ui_group","z":"","name":"Alarm","tab":"eb6784f5.c97828","order":2,"disp":true,"width":"4","collapse":false},{"id":"e251785c.7b0aa8","type":"ui_group","z":"","name":"Navigation","tab":"c2286c5a.d518e","order":4,"disp":false,"width":"9","collapse":false},{"id":"9a2a9f60.b2f9","type":"ui_spacer","name":"spacer","group":"e251785c.7b0aa8","order":2,"width":1,"height":1},{"id":"11de3ed4.39eda1","type":"ui_group","z":"","name":"Navigation","tab":"231400d2.9dd8e","order":4,"disp":false,"width":"9","collapse":false},{"id":"f32e44f1.c21328","type":"ui_spacer","name":"spacer","group":"54e686a7.814a78","order":4,"width":"9","height":"2"},{"id":"7ca35f3d.2a055","type":"ui_spacer","name":"spacer","group":"11de3ed4.39eda1","order":2,"width":1,"height":1},{"id":"97bb0630.d4f938","type":"ui_group","z":"","name":"Title","tab":"c2286c5a.d518e","order":1,"disp":false,"width":"9","collapse":false},{"id":"43e1ab52.af2e34","type":"ui_spacer","name":"spacer","group":"24999d3c.6cb652","order":9,"width":1,"height":1},{"id":"a7d438e7.762b38","type":"ui_spacer","name":"spacer","group":"2438ef1e.c171c","order":9,"width":1,"height":1},{"id":"323a3fac.ed821","type":"ui_group","z":"","name":"Title","tab":"231400d2.9dd8e","order":1,"disp":false,"width":"9","collapse":false},{"id":"6b4e87fd.d64608","type":"ui_spacer","name":"spacer","group":"c55b2565.8dd6c8","order":9,"width":1,"height":1},{"id":"54b2ec1c.383ee4","type":"ui_spacer","name":"spacer","group":"c85d63d0.e89b4","order":9,"width":1,"height":1},{"id":"10021860.ecd688","type":"ui_group","z":"","name":"Title","tab":"eb6784f5.c97828","order":1,"disp":false,"width":"9","collapse":false},{"id":"920087ad.cea2d8","type":"ui_group","z":"","name":"Navigation","tab":"eb6784f5.c97828","order":6,"disp":false,"width":"9","collapse":false},{"id":"8ea54619.c08c48","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"8e061f25.b99ba","type":"ui_spacer","name":"spacer","group":"920087ad.cea2d8","order":2,"width":1,"height":1},{"id":"865e810e.7552","type":"ui_spacer","name":"spacer","group":"18c2e78c.1d9898","order":1,"width":1,"height":1},{"id":"f71c4bfe.928768","type":"ui_spacer","name":"spacer","group":"56262036.a3ae3","order":1,"width":"5","height":1},{"id":"ccd2297b.54e3f8","type":"ui_group","z":"","name":"Title","tab":"f7a15cce.38b8f","order":1,"disp":false,"width":"9","collapse":false},{"id":"2ef8f371.c0378c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1d8a40a6.fc3f9f","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"ventilatorv2","name":"","usetls":false,"tls":""},{"id":"be95b7a9.2d33a8","type":"function","z":"8b108740.554b28","name":"Toggle Direction","func":"var direction = flow.get('direction')||0;\n\nif (direction === -1)\n{\n    direction = 1;\n}\nelse {\n    direction = -1;\n}\nflow.set('direction',direction);\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":267,"wires":[[]]},{"id":"c960012c.42de","type":"switch","z":"8b108740.554b28","name":"Step or Direction","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Step","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":291,"y":171,"wires":[["a38c05c.89665f8"],["be95b7a9.2d33a8"]]},{"id":"96f825c2.8458e8","type":"comment","z":"8b108740.554b28","name":"Flow Variables","info":"* Direction\n* Sequence\n* SequenceIndex","x":279,"y":42,"wires":[]},{"id":"b10939dd.715c78","type":"function","z":"8b108740.554b28","name":"Sequence Generator","func":"var seqindex = context.get('seqindex')||0;\nvar sequence = [ [1,0,0,0],[1,1,0,0],[0,1,0,0],[0,1,1,0],[0,0,1,0],[0,0,1,1],[0,0,0,1],[1,0,0,1]]\nvar direction = flow.get('direction');\n\nseqindex = (seqindex % (sequence.length));\nif (seqindex == -1) {seqindex = sequence.length-1;}\n\nmsg.payload = sequence[seqindex];\nmsg.seqindex = seqindex;\nmsg.direction = direction;\n\ncontext.set('seqindex',seqindex+direction);\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Step\"});\nnode.status({});\n\nreturn GenerateOutput(seqindex);\n\nfunction GenerateOutput(index) {\n    return [ NewMessage(sequence[index][0]), NewMessage(sequence[index][1]),NewMessage(sequence[index][2]),NewMessage(sequence[index][3]), msg  ];\n}\n\nfunction NewMessage(val) {\n    return { payload:val };\n}","outputs":"5","noerr":0,"x":720,"y":174,"wires":[[],[],[],[],[]]},{"id":"a38c05c.89665f8","type":"function","z":"8b108740.554b28","name":"Multistep","func":"var outputMsgs = [];\nvar steps = msg.payload;\nfor (var count = 0; count < steps; count++) { \n    outputMsgs.push({payload:1});\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":434,"y":90,"wires":[["88360666.870ee8"]]},{"id":"88360666.870ee8","type":"delay","z":"8b108740.554b28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":615,"y":76,"wires":[["b10939dd.715c78"]]},{"id":"dab2d282.7af32","type":"serial out","z":"7f966e0f.d666c","name":"Serial_Nano_write","serial":"cde7b037.ff086","x":430,"y":120,"wires":[]},{"id":"64b607d3.393878","type":"serial in","z":"7f966e0f.d666c","name":"Serial_Nano","serial":"cde7b037.ff086","x":90,"y":160,"wires":[["4fbdfde4.233154"]]},{"id":"4fbdfde4.233154","type":"debug","z":"7f966e0f.d666c","name":"Serial_Nano_output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":180,"wires":[]},{"id":"7b335733.431228","type":"comment","z":"7f966e0f.d666c","name":"USB-UART Read/Write Arduino Nano ","info":"","x":150,"y":40,"wires":[]},{"id":"572d640d.d62aac","type":"comment","z":"f62818cd.f86418","name":"Sensor Flow ---------------------------------------------------------","info":"Check for:\n1. Spurious Breath\n2. Volume Over","x":200,"y":200,"wires":[],"icon":"node-red/arrow-in.svg"},{"id":"4ff4c498.c0412c","type":"function","z":"f62818cd.f86418","name":"calcBit2Flow","func":"var adcBit = parseFloat(msg.payload);\n\nvar flow = Math.sqrt(adcBit);\n\n// offset + gain adjust\nflow = (25.188*flow)+2915.7 + (global.get(\"offset_flow\") || 0);\n\nmsg.topic = \"flow\";\nmsg.payload = flow;\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":240,"wires":[["8578d345.6a0ba"]]},{"id":"1f4cf810.0b5cc8","type":"comment","z":"58e61889.b398d8","name":"Page 1","info":"- Choose between mandatory volume control and assisted volume control\n- Display Alarm\n- Apply page lead to Input setting value","x":50,"y":1440,"wires":[]},{"id":"246f76ea.8a54ca","type":"ui_button","z":"58e61889.b398d8","name":"","group":"18c2e78c.1d9898","order":2,"width":0,"height":0,"passthru":false,"label":"Mandatory Volume Control","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Mandatory Volume Control","payloadType":"str","topic":"","x":560,"y":1580,"wires":[["3907accf.f714f4","79154f43.e90b9","ab5b632a.1fa12"]]},{"id":"406b54f7.5123bc","type":"ui_button","z":"58e61889.b398d8","name":"","group":"18c2e78c.1d9898","order":3,"width":0,"height":0,"passthru":false,"label":"Assisted Volume Control","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Assisted Volume Control","payloadType":"str","topic":"","x":550,"y":1620,"wires":[["3907accf.f714f4","79154f43.e90b9","c38e44d2.45ab78"]]},{"id":"5e8d9c75.b48b54","type":"ui_button","z":"58e61889.b398d8","name":"","group":"2438ef1e.c171c","order":1,"width":"2","height":"1","passthru":false,"label":"High Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":660,"wires":[[]]},{"id":"3a2a064a.5f594a","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":660,"wires":[["5e8d9c75.b48b54","d979cc6d.efdaa","e479df2c.f8e27","384acc0b.5d3914"]]},{"id":"e123fd0b.2786d","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":700,"wires":[["5e8d9c75.b48b54","d979cc6d.efdaa","e479df2c.f8e27","384acc0b.5d3914"]]},{"id":"d4e6c220.09c3","type":"switch","z":"58e61889.b398d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":660,"wires":[["3a2a064a.5f594a"],["e123fd0b.2786d"]]},{"id":"5fa44cd5.632dd4","type":"ui_button","z":"58e61889.b398d8","name":"","group":"2438ef1e.c171c","order":2,"width":"2","height":"1","passthru":false,"label":"Low Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":860,"wires":[[]]},{"id":"b1e5a075.9cf07","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":860,"wires":[["5fa44cd5.632dd4","56630715.4a9138","1153a0ff.e3661f","d9dccb3d.fec1c8"]]},{"id":"972e86f3.470c28","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":900,"wires":[["5fa44cd5.632dd4","56630715.4a9138","1153a0ff.e3661f","d9dccb3d.fec1c8"]]},{"id":"79afa2bf.4f7f4c","type":"switch","z":"58e61889.b398d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":860,"wires":[["b1e5a075.9cf07"],["972e86f3.470c28"]]},{"id":"5dee9d7.b996964","type":"ui_button","z":"58e61889.b398d8","name":"","group":"2438ef1e.c171c","order":3,"width":"2","height":"1","passthru":false,"label":"Fighting","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":1040,"wires":[[]]},{"id":"a01f51b9.3c2a8","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1040,"wires":[["5dee9d7.b996964","2cbbe9c9.3d1106","719e5f0a.80702","f316a15c.735b8"]]},{"id":"29b53719.c00638","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1080,"wires":[["5dee9d7.b996964","2cbbe9c9.3d1106","719e5f0a.80702","f316a15c.735b8"]]},{"id":"853fe219.a640e","type":"switch","z":"58e61889.b398d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":1040,"wires":[["a01f51b9.3c2a8"],["29b53719.c00638"]]},{"id":"6a7d3b8e.84f494","type":"ui_button","z":"58e61889.b398d8","name":"","group":"2438ef1e.c171c","order":4,"width":"2","height":"1","passthru":false,"label":"Overcurrent","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":1240,"wires":[[]]},{"id":"e6afba13.f378b8","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1240,"wires":[["6a7d3b8e.84f494","8bca5e12.f9f81","40b6d071.93701","8dd4308d.c3e25"]]},{"id":"7f412fe7.a88f2","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1280,"wires":[["6a7d3b8e.84f494","8bca5e12.f9f81","40b6d071.93701","8dd4308d.c3e25"]]},{"id":"6b1d87e6.7ba068","type":"switch","z":"58e61889.b398d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":1240,"wires":[["e6afba13.f378b8"],["7f412fe7.a88f2"]]},{"id":"d3f5298f.7f2248","type":"ui_button","z":"58e61889.b398d8","name":"","group":"2438ef1e.c171c","order":5,"width":"2","height":"1","passthru":false,"label":"Sporious","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1360,"y":660,"wires":[[]]},{"id":"d36a48d7.320ba8","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":660,"wires":[["d3f5298f.7f2248","1de553a1.f1c63c","2508325.c0ff9ce","982a250f.a7ca78"]]},{"id":"d9e551b3.1a7bd","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":700,"wires":[["d3f5298f.7f2248","1de553a1.f1c63c","2508325.c0ff9ce","982a250f.a7ca78"]]},{"id":"ad14794f.89b638","type":"switch","z":"58e61889.b398d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":660,"wires":[["d36a48d7.320ba8"],["d9e551b3.1a7bd"]]},{"id":"93a523cf.14bda","type":"ui_button","z":"58e61889.b398d8","name":"","group":"2438ef1e.c171c","order":6,"width":"2","height":"1","passthru":false,"label":"Over Vol","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1360,"y":860,"wires":[[]]},{"id":"5bd98acb.75c4d4","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":860,"wires":[["93a523cf.14bda","6142f1f7.0ef29","c1e34ec1.16aaa","d710dcc4.5d483"]]},{"id":"44554919.0eb318","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":900,"wires":[["93a523cf.14bda","6142f1f7.0ef29","c1e34ec1.16aaa","d710dcc4.5d483"]]},{"id":"b316af59.81b","type":"switch","z":"58e61889.b398d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":860,"wires":[["5bd98acb.75c4d4"],["44554919.0eb318"]]},{"id":"dd495c54.3839d","type":"ui_button","z":"58e61889.b398d8","name":"","group":"2438ef1e.c171c","order":7,"width":"2","height":"1","passthru":false,"label":"Low PEEP","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":1040,"wires":[[]]},{"id":"71ab0840.77ed48","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":1040,"wires":[["dd495c54.3839d","5be43a9a.d36364","c5baa492.d64e98","33f2a75c.24f9e8"]]},{"id":"27acef17.762d3","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":1080,"wires":[["dd495c54.3839d","5be43a9a.d36364","c5baa492.d64e98","33f2a75c.24f9e8"]]},{"id":"44c6f826.3da108","type":"switch","z":"58e61889.b398d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":1040,"wires":[["71ab0840.77ed48"],["27acef17.762d3"]]},{"id":"c67cc54a.674ae8","type":"ui_button","z":"58e61889.b398d8","name":"","group":"2438ef1e.c171c","order":8,"width":"2","height":"1","passthru":false,"label":"Low/High O2","tooltip":"","color":"{{textcolour}}","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":1240,"wires":[[]]},{"id":"5bb9f3b2.ab656c","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"yellow","tot":"str"},{"t":"set","p":"textcolour","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":1240,"wires":[["c67cc54a.674ae8","a519a6a6.fea2d8","8a257e3a.1243b","48ff02d0.3e9ccc"]]},{"id":"19c1a908.efe057","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"},{"t":"set","p":"textcolour","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":1280,"wires":[["c67cc54a.674ae8","a519a6a6.fea2d8","8a257e3a.1243b","48ff02d0.3e9ccc"]]},{"id":"4007f005.bf0f1","type":"switch","z":"58e61889.b398d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":1240,"wires":[["5bb9f3b2.ab656c"],["19c1a908.efe057"]]},{"id":"1fbf2e8d.d2f7b1","type":"ui_button","z":"58e61889.b398d8","name":"silence bt","group":"2438ef1e.c171c","order":11,"width":0,"height":0,"passthru":false,"label":"{{labelsilence}}","tooltip":"","color":"{{textcoloursilence}}","bgcolor":"{{coloursilence}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":460,"wires":[["b50ce0bf.048eb"]]},{"id":"16235094.21202f","type":"ui_button","z":"58e61889.b398d8","name":"","group":"2438ef1e.c171c","order":10,"width":0,"height":0,"passthru":false,"label":"RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":460,"wires":[["a556f9c9.c5b178"]]},{"id":"bd571f69.d9745","type":"comment","z":"58e61889.b398d8","name":"Page Alarm","info":"Display Alarm \nbutton will change colour if alarm detected\n","x":70,"y":380,"wires":[]},{"id":"ab9b6602.335d68","type":"ui_button","z":"58e61889.b398d8","name":"","group":"56262036.a3ae3","order":2,"width":"4","height":"1","passthru":false,"label":"Apply","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Input Setting Value","payloadType":"str","topic":"","x":1050,"y":1700,"wires":[["1f85ce13.73f292","6749c324.61bd1c"]]},{"id":"1f85ce13.73f292","type":"ui_ui_control","z":"58e61889.b398d8","name":"","events":"all","x":1200,"y":1700,"wires":[[]]},{"id":"e734d75.cd0b828","type":"ui_numeric","z":"58e61889.b398d8","name":"","label":"I:E (ratio) ","tooltip":"","group":"68e20364.a8e9dc","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"1 : {{value}}","min":0,"max":"3","step":1,"x":560,"y":2100,"wires":[["a0e10356.1034a"]]},{"id":"7755c6cd.cf44d8","type":"comment","z":"58e61889.b398d8","name":"Page 2","info":"- Setting value","x":50,"y":1980,"wires":[]},{"id":"72763017.2e981","type":"ui_numeric","z":"58e61889.b398d8","name":"","label":"RR (bpm)","tooltip":"","group":"68e20364.a8e9dc","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"60","step":1,"x":560,"y":2160,"wires":[["c91b5274.d2dc"]]},{"id":"c63d6d86.76f63","type":"ui_numeric","z":"58e61889.b398d8","name":"","label":"FiO2 (%)","tooltip":"","group":"68e20364.a8e9dc","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"100","step":1,"x":560,"y":2220,"wires":[["d7ec5ce5.859e8"]]},{"id":"44f395e2.2c312c","type":"ui_numeric","z":"58e61889.b398d8","name":"","label":"PEEP (cmH2O)","tooltip":"","group":"68e20364.a8e9dc","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"20","step":1,"x":580,"y":2280,"wires":[["40b922d7.95807c"]]},{"id":"ab6e8453.950bf8","type":"ui_numeric","z":"58e61889.b398d8","name":"","label":"VTi (ml)","tooltip":"","group":"68e20364.a8e9dc","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"800","step":"10","x":560,"y":2340,"wires":[["7adc29d5.0d2658"]]},{"id":"d979cc6d.efdaa","type":"ui_button","z":"58e61889.b398d8","name":"","group":"24999d3c.6cb652","order":1,"width":"2","height":"1","passthru":false,"label":"High Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":700,"wires":[[]]},{"id":"e479df2c.f8e27","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c55b2565.8dd6c8","order":1,"width":"2","height":"1","passthru":false,"label":"High Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":740,"wires":[[]]},{"id":"384acc0b.5d3914","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c85d63d0.e89b4","order":1,"width":"2","height":"1","passthru":false,"label":"High Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":780,"wires":[[]]},{"id":"56630715.4a9138","type":"ui_button","z":"58e61889.b398d8","name":"","group":"24999d3c.6cb652","order":2,"width":"2","height":"1","passthru":false,"label":"Low Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":900,"wires":[[]]},{"id":"1153a0ff.e3661f","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c55b2565.8dd6c8","order":2,"width":"2","height":"1","passthru":false,"label":"Low Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":940,"wires":[[]]},{"id":"d9dccb3d.fec1c8","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c85d63d0.e89b4","order":2,"width":"2","height":"1","passthru":false,"label":"Low Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":980,"wires":[[]]},{"id":"2cbbe9c9.3d1106","type":"ui_button","z":"58e61889.b398d8","name":"","group":"24999d3c.6cb652","order":3,"width":"2","height":"1","passthru":false,"label":"Fighting","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":1080,"wires":[[]]},{"id":"719e5f0a.80702","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c55b2565.8dd6c8","order":3,"width":"2","height":"1","passthru":false,"label":"Fighting","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":1120,"wires":[[]]},{"id":"f316a15c.735b8","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c85d63d0.e89b4","order":3,"width":"2","height":"1","passthru":false,"label":"Fighting","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":1160,"wires":[[]]},{"id":"8bca5e12.f9f81","type":"ui_button","z":"58e61889.b398d8","name":"","group":"24999d3c.6cb652","order":4,"width":"2","height":"1","passthru":false,"label":"Overcurrent","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":1280,"wires":[[]]},{"id":"40b6d071.93701","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c55b2565.8dd6c8","order":4,"width":"2","height":"1","passthru":false,"label":"Overcurrent","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":1320,"wires":[[]]},{"id":"8dd4308d.c3e25","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c85d63d0.e89b4","order":4,"width":"2","height":"1","passthru":false,"label":"Overcurrent","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":1360,"wires":[[]]},{"id":"1de553a1.f1c63c","type":"ui_button","z":"58e61889.b398d8","name":"","group":"24999d3c.6cb652","order":5,"width":"2","height":"1","passthru":false,"label":"Sporious","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1360,"y":700,"wires":[[]]},{"id":"2508325.c0ff9ce","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c55b2565.8dd6c8","order":5,"width":"2","height":"1","passthru":false,"label":"Sporious","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1360,"y":740,"wires":[[]]},{"id":"982a250f.a7ca78","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c85d63d0.e89b4","order":5,"width":"2","height":"1","passthru":false,"label":"Sporious","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1360,"y":780,"wires":[[]]},{"id":"6142f1f7.0ef29","type":"ui_button","z":"58e61889.b398d8","name":"","group":"24999d3c.6cb652","order":6,"width":"2","height":"1","passthru":false,"label":"Over Vol","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1360,"y":903,"wires":[[]]},{"id":"c1e34ec1.16aaa","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c55b2565.8dd6c8","order":6,"width":"2","height":"1","passthru":false,"label":"Over Vol","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1360,"y":946,"wires":[[]]},{"id":"d710dcc4.5d483","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c85d63d0.e89b4","order":6,"width":"2","height":"1","passthru":false,"label":"Over Vol","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1360,"y":987,"wires":[[]]},{"id":"5be43a9a.d36364","type":"ui_button","z":"58e61889.b398d8","name":"","group":"24999d3c.6cb652","order":7,"width":"2","height":"1","passthru":false,"label":"Low PEEP","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":1080,"wires":[[]]},{"id":"c5baa492.d64e98","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c55b2565.8dd6c8","order":7,"width":"2","height":"1","passthru":false,"label":"Low PEEP","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":1120,"wires":[[]]},{"id":"33f2a75c.24f9e8","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c85d63d0.e89b4","order":7,"width":"2","height":"1","passthru":false,"label":"Low PEEP","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":1160,"wires":[[]]},{"id":"a519a6a6.fea2d8","type":"ui_button","z":"58e61889.b398d8","name":"","group":"24999d3c.6cb652","order":8,"width":"2","height":"1","passthru":false,"label":"Low/High O2","tooltip":"","color":"{{textcolour}}","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":1280,"wires":[[]]},{"id":"8a257e3a.1243b","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c55b2565.8dd6c8","order":8,"width":"2","height":"1","passthru":false,"label":"Low/High O2","tooltip":"","color":"{{textcolour}}","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":1320,"wires":[[]]},{"id":"48ff02d0.3e9ccc","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c85d63d0.e89b4","order":8,"width":"2","height":"1","passthru":false,"label":"Low/High O2","tooltip":"","color":"{{textcolour}}","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":1360,"wires":[[]]},{"id":"b580a6ee.fff618","type":"ui_button","z":"58e61889.b398d8","name":"silence bt","group":"24999d3c.6cb652","order":11,"width":0,"height":0,"passthru":false,"label":"{{labelsilence}}","tooltip":"","color":"{{textcoloursilence}}","bgcolor":"{{coloursilence}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":500,"wires":[["b50ce0bf.048eb"]]},{"id":"f85c540a.4ec118","type":"ui_button","z":"58e61889.b398d8","name":"silence bt","group":"c55b2565.8dd6c8","order":11,"width":0,"height":0,"passthru":false,"label":"{{labelsilence}}","tooltip":"","color":"{{textcoloursilence}}","bgcolor":"{{coloursilence}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":540,"wires":[["b50ce0bf.048eb"]]},{"id":"69e02649.1004c8","type":"ui_button","z":"58e61889.b398d8","name":"silence bt","group":"c85d63d0.e89b4","order":11,"width":0,"height":0,"passthru":false,"label":"{{labelsilence}}","tooltip":"","color":"{{textcoloursilence}}","bgcolor":"{{coloursilence}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":580,"wires":[["b50ce0bf.048eb"]]},{"id":"1fe7231d.964c0d","type":"ui_button","z":"58e61889.b398d8","name":"","group":"24999d3c.6cb652","order":10,"width":0,"height":0,"passthru":false,"label":"RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":500,"wires":[["a556f9c9.c5b178"]]},{"id":"89b3a5ff.df83a8","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c55b2565.8dd6c8","order":10,"width":0,"height":0,"passthru":false,"label":"RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":540,"wires":[["a556f9c9.c5b178"]]},{"id":"5c7d0194.f71bf","type":"ui_button","z":"58e61889.b398d8","name":"","group":"c85d63d0.e89b4","order":10,"width":0,"height":0,"passthru":false,"label":"RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":580,"wires":[["a556f9c9.c5b178"]]},{"id":"15d9faa.2544c05","type":"ui_button","z":"58e61889.b398d8","name":"","group":"e251785c.7b0aa8","order":1,"width":"4","height":"1","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Ventilator Use Mode","payloadType":"str","topic":"","x":550,"y":2400,"wires":[["f8bff54b.45cbc8"]]},{"id":"f8bff54b.45cbc8","type":"ui_ui_control","z":"58e61889.b398d8","name":"","events":"all","x":720,"y":2400,"wires":[[]]},{"id":"7647b71f.d4faa8","type":"ui_button","z":"58e61889.b398d8","name":"","group":"e251785c.7b0aa8","order":3,"width":"4","height":"1","passthru":false,"label":"Next","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Input Alarm Threshold","payloadType":"str","topic":"","x":550,"y":2440,"wires":[["eaf4ea79.ec2888","f8bff54b.45cbc8","cee1346b.b3ca78"]]},{"id":"b3319a7b.e00cf8","type":"ui_numeric","z":"58e61889.b398d8","name":"","label":"High Press Limit (cmH2O)","tooltip":"","group":"54e686a7.814a78","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"20","max":"40","step":1,"x":390,"y":2800,"wires":[["fdab2b5e.a8b4b8"]]},{"id":"c32bfe0c.f837f","type":"comment","z":"58e61889.b398d8","name":"Page 3","info":"- Setting alarm treshold","x":50,"y":2680,"wires":[]},{"id":"b4d9df89.d22da","type":"ui_numeric","z":"58e61889.b398d8","name":"","label":"Low Press Limit (cmH2O)","tooltip":"","group":"54e686a7.814a78","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"20","max":"35","step":1,"x":390,"y":2860,"wires":[["9822ab5.5cd1e58"]]},{"id":"996f07dd.a0cc08","type":"ui_numeric","z":"58e61889.b398d8","name":"","label":"O2 Tolerance (%)","tooltip":"","group":"54e686a7.814a78","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"5","max":"30","step":1,"x":370,"y":2920,"wires":[["422e7085.8df38"]]},{"id":"132bda7e.26fdc6","type":"ui_button","z":"58e61889.b398d8","name":"","group":"11de3ed4.39eda1","order":1,"width":"4","height":"1","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Input Setting Value","payloadType":"str","topic":"","x":330,"y":3000,"wires":[["1243cb30.fc6395"]]},{"id":"1243cb30.fc6395","type":"ui_ui_control","z":"58e61889.b398d8","name":"","events":"all","x":500,"y":3000,"wires":[[]]},{"id":"48371093.75cbc","type":"ui_button","z":"58e61889.b398d8","name":"","group":"11de3ed4.39eda1","order":3,"width":"4","height":"1","passthru":false,"label":"Next","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Ventilator Monitoring","payloadType":"str","topic":"","x":330,"y":3040,"wires":[["309a2190.904f2e","1243cb30.fc6395","12e3d0b5.2ab9bf"]]},{"id":"2235e4f1.5fef0c","type":"comment","z":"58e61889.b398d8","name":"Page 4","info":"Main Page contain :\n- chart\n- read value\n- setting value\n- alarm","x":50,"y":3160,"wires":[]},{"id":"feb3a779.e5f998","type":"ui_text","z":"58e61889.b398d8","group":"2427dc15.12ad64","order":3,"width":"4","height":"1","name":"","label":"PIP (cmH2O)","format":"xx {{msg.payload}}","layout":"row-spread","x":350,"y":3320,"wires":[]},{"id":"35a3c757.9292f8","type":"ui_text","z":"58e61889.b398d8","group":"2427dc15.12ad64","order":4,"width":"4","height":"1","name":"","label":"IPP (cmH2O)","format":"xx {{msg.payload}}","layout":"row-spread","x":350,"y":3380,"wires":[]},{"id":"c2fe9a14.1a40d8","type":"ui_text","z":"58e61889.b398d8","group":"2427dc15.12ad64","order":5,"width":"4","height":"1","name":"","label":"PEEP (cmH2O)","format":"xx {{msg.payload}}","layout":"row-spread","x":360,"y":3440,"wires":[]},{"id":"33c84789.f6fa58","type":"ui_text","z":"58e61889.b398d8","group":"2427dc15.12ad64","order":6,"width":"4","height":"1","name":"","label":"FiO2 (%)","format":"xx {{msg.payload}}","layout":"row-spread","x":340,"y":3500,"wires":[]},{"id":"d0269042.5044","type":"ui_ui_control","z":"58e61889.b398d8","name":"","events":"all","x":1300,"y":3600,"wires":[[]]},{"id":"e757a209.8ab06","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"labelback","pt":"msg","to":"set value","tot":"str"},{"t":"set","p":"buttonstart","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"labelstart","pt":"msg","to":"stop","tot":"str"},{"t":"set","p":"startcolour","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":3640,"wires":[["9dc8a0da.d1813","930657fd.a42958","672d5194.0a1f3"]]},{"id":"17a8de42.9c4632","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"labelback","pt":"msg","to":"use menu","tot":"str"},{"t":"set","p":"buttonstart","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"labelstart","pt":"msg","to":"start","tot":"str"},{"t":"set","p":"startcolour","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":3600,"wires":[["9dc8a0da.d1813","930657fd.a42958","672d5194.0a1f3"]]},{"id":"9dc8a0da.d1813","type":"ui_button","z":"58e61889.b398d8","name":"back bt","group":"920087ad.cea2d8","order":1,"width":"4","height":"1","passthru":false,"label":"{{labelback}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":740,"y":3600,"wires":[["66455fd8.e4834"]]},{"id":"66455fd8.e4834","type":"switch","z":"58e61889.b398d8","name":"","property":"buttonstart","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":3600,"wires":[["f586a817.bc2558"],["981b5ec7.959cd"]]},{"id":"981b5ec7.959cd","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ventilator Use Mode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":3640,"wires":[["d0269042.5044"]]},{"id":"f586a817.bc2558","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Input Setting Value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":3600,"wires":[["d0269042.5044"]]},{"id":"930657fd.a42958","type":"ui_button","z":"58e61889.b398d8","name":"start bt","group":"920087ad.cea2d8","order":3,"width":"4","height":"1","passthru":false,"label":"{{labelstart}}","tooltip":"","color":"","bgcolor":"{{startcolour}}","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":3640,"wires":[["758be426.a0c56c"]]},{"id":"758be426.a0c56c","type":"switch","z":"58e61889.b398d8","name":"","property":"buttonstart","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":3640,"wires":[["17a8de42.9c4632","e5917962.a99478"],["e757a209.8ab06","c2a5e66.f395d18"]]},{"id":"4bcb635b.417c4c","type":"inject","z":"58e61889.b398d8","name":"display alarm and bt init","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":160,"wires":[["3280c34.4cf5b3c"]]},{"id":"514b6cde.c69db4","type":"link in","z":"58e61889.b398d8","name":"[alarm] alarm01","links":["3280c34.4cf5b3c","b1707edf.ef16b"],"x":115,"y":660,"wires":[["d4e6c220.09c3"]]},{"id":"3280c34.4cf5b3c","type":"link out","z":"58e61889.b398d8","name":"to triggered","links":["514b6cde.c69db4","c3b44523.ea65a8","eb5e7857.9943f8","ae53b50d.c4e4a8","9b0de9bc.64fea8","9e3aaf57.2b982","9565ab21.107938","ddb18dad.ff671","6b2ea448.8a1e7c","93a1aaf7.f213f8","726b3c78.d588a4"],"x":715,"y":160,"wires":[]},{"id":"c3b44523.ea65a8","type":"link in","z":"58e61889.b398d8","name":"[alarm] alarm02","links":["3280c34.4cf5b3c","8893d8fa.ae0da8"],"x":115,"y":860,"wires":[["79afa2bf.4f7f4c"]]},{"id":"eb5e7857.9943f8","type":"link in","z":"58e61889.b398d8","name":"[alarm] alarm03","links":["3280c34.4cf5b3c","af76ef2d.7b34c"],"x":115,"y":1040,"wires":[["853fe219.a640e"]]},{"id":"ae53b50d.c4e4a8","type":"link in","z":"58e61889.b398d8","name":"[alarm] alarm05","links":["3280c34.4cf5b3c","a4e33fc2.6099e"],"x":855,"y":660,"wires":[["ad14794f.89b638"]]},{"id":"9b0de9bc.64fea8","type":"link in","z":"58e61889.b398d8","name":"[alarm] alarm06","links":["3280c34.4cf5b3c","bb3b2d05.98881"],"x":855,"y":860,"wires":[["b316af59.81b"]]},{"id":"9e3aaf57.2b982","type":"link in","z":"58e61889.b398d8","name":"[alarm] alarm07","links":["3280c34.4cf5b3c","853f24c.1199dd8"],"x":855,"y":1040,"wires":[["44c6f826.3da108"]]},{"id":"9565ab21.107938","type":"link in","z":"58e61889.b398d8","name":"[alarm] alarm04","links":["3280c34.4cf5b3c","96e43f62.6b529"],"x":115,"y":1240,"wires":[["6b1d87e6.7ba068"]]},{"id":"ddb18dad.ff671","type":"link in","z":"58e61889.b398d8","name":"[alarm] alarm08","links":["3280c34.4cf5b3c","4db251fe.67fbb"],"x":855,"y":1240,"wires":[["4007f005.bf0f1"]]},{"id":"6b2ea448.8a1e7c","type":"link in","z":"58e61889.b398d8","name":"from trigger","links":["3280c34.4cf5b3c"],"x":295,"y":3600,"wires":[["17a8de42.9c4632"]]},{"id":"255d2328.5f460c","type":"ui_text","z":"58e61889.b398d8","group":"ccd2297b.54e3f8","order":0,"width":0,"height":0,"name":"","label":"Use Control : ","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":1500,"wires":[]},{"id":"cd3e2706.cdd078","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1720,"wires":[["ab9b6602.335d68"]]},{"id":"93a1aaf7.f213f8","type":"link in","z":"58e61889.b398d8","name":"from trigger","links":["3280c34.4cf5b3c"],"x":695,"y":1720,"wires":[["cd3e2706.cdd078"]]},{"id":"3907accf.f714f4","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1680,"wires":[["ab9b6602.335d68"]]},{"id":"2fb8ab0b.0e3824","type":"inject","z":"63f647d5.2cf558","name":"one time create file config","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["df640b93.d6a9f8"]]},{"id":"df640b93.d6a9f8","type":"function","z":"63f647d5.2cf558","name":"breathing param variable creator","func":"var data = {};\ndata.ie = 2;\ndata.rr = 20;\ndata.o2 = 20;\ndata.peep = 5;\ndata.vol = 600;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["98b296d1.43e988"]]},{"id":"98b296d1.43e988","type":"file","z":"63f647d5.2cf558","name":"","filename":"/home/pi/ventilator/breathingparam.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":840,"y":80,"wires":[[]]},{"id":"27e106c1.478f8a","type":"inject","z":"63f647d5.2cf558","name":"first initial trigger","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":200,"wires":[["31c7b51d.f72d9a"]]},{"id":"31c7b51d.f72d9a","type":"file in","z":"63f647d5.2cf558","name":"load breathing param","filename":"/home/pi/ventilator/breathingparam.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":200,"wires":[["1a797c19.a51034"]]},{"id":"1a797c19.a51034","type":"json","z":"63f647d5.2cf558","name":"","property":"payload","action":"","pretty":false,"x":550,"y":200,"wires":[["3347ba32.bf8616"]]},{"id":"3347ba32.bf8616","type":"change","z":"63f647d5.2cf558","name":"set global var","rules":[{"t":"set","p":"set_ie","pt":"global","to":"payload.ie","tot":"msg"},{"t":"set","p":"set_rr","pt":"global","to":"payload.rr","tot":"msg"},{"t":"set","p":"set_o2","pt":"global","to":"payload.o2","tot":"msg"},{"t":"set","p":"set_peep","pt":"global","to":"payload.peep","tot":"msg"},{"t":"set","p":"set_vol","pt":"global","to":"payload.vol","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":200,"wires":[["9f4d8c6c.d8687"]]},{"id":"a5dcecc6.288bf","type":"link in","z":"58e61889.b398d8","name":"from load data","links":["9f4d8c6c.d8687","823b5492.9220d8"],"x":220,"y":2200,"wires":[[]]},{"id":"9f4d8c6c.d8687","type":"link out","z":"63f647d5.2cf558","name":"to dashboard","links":["a5dcecc6.288bf"],"x":875,"y":200,"wires":[]},{"id":"2ad0b664.7ad68a","type":"link in","z":"63f647d5.2cf558","name":"from apply button breathing","links":["eaf4ea79.ec2888"],"x":215,"y":140,"wires":[["8077ee25.15a71"]]},{"id":"8077ee25.15a71","type":"function","z":"63f647d5.2cf558","name":"save breathing param variable","func":"var data = {};\ndata.ie = global.get(\"set_ie\");\ndata.rr = global.get(\"set_rr\");\ndata.o2 = global.get(\"set_o2\");\ndata.peep = global.get(\"set_peep\");\ndata.vol = global.get(\"set_vol\");\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["5668e1fa.4970b"]]},{"id":"5668e1fa.4970b","type":"file","z":"63f647d5.2cf558","name":"","filename":"/home/pi/ventilator/breathingparam.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":760,"y":140,"wires":[[]]},{"id":"eaf4ea79.ec2888","type":"link out","z":"58e61889.b398d8","name":"to save data breathing","links":["2ad0b664.7ad68a"],"x":675,"y":2440,"wires":[]},{"id":"436ed800.a19538","type":"comment","z":"63f647d5.2cf558","name":"load and save breathing parameters","info":"","x":140,"y":40,"wires":[]},{"id":"5acce9e7.523488","type":"comment","z":"63f647d5.2cf558","name":"load and save alarm parameters","info":"","x":130,"y":280,"wires":[]},{"id":"6fd6daed.79f984","type":"inject","z":"63f647d5.2cf558","name":"one time create file config","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["868ebd67.a29b3"]]},{"id":"868ebd67.a29b3","type":"function","z":"63f647d5.2cf558","name":"alarm param variable creator","func":"var data = {};\ndata.hiplimit = 40;\ndata.loplimit = 20;\ndata.o2tol = 5;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["1586f9fa.a84ef6"]]},{"id":"1586f9fa.a84ef6","type":"file","z":"63f647d5.2cf558","name":"","filename":"/home/pi/ventilator/alarmparam.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":820,"y":320,"wires":[[]]},{"id":"7f3e6bd8.ed8f14","type":"inject","z":"63f647d5.2cf558","name":"first initial trigger","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":440,"wires":[["339abeb3.1098e2"]]},{"id":"339abeb3.1098e2","type":"file in","z":"63f647d5.2cf558","name":"load breathing param","filename":"/home/pi/ventilator/alarmparam.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":440,"wires":[["20e916d9.7ae2ba"]]},{"id":"20e916d9.7ae2ba","type":"json","z":"63f647d5.2cf558","name":"","property":"payload","action":"","pretty":false,"x":550,"y":440,"wires":[["ebd809f1.6b7848"]]},{"id":"ebd809f1.6b7848","type":"change","z":"63f647d5.2cf558","name":"set global var","rules":[{"t":"set","p":"set_hiplimit","pt":"global","to":"payload.hiplimit","tot":"msg"},{"t":"set","p":"set_loplimit","pt":"global","to":"payload.loplimit","tot":"msg"},{"t":"set","p":"set_o2tol","pt":"global","to":"payload.o2tol","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":440,"wires":[["823b5492.9220d8"]]},{"id":"823b5492.9220d8","type":"link out","z":"63f647d5.2cf558","name":"to dashboard","links":["a5dcecc6.288bf"],"x":875,"y":440,"wires":[]},{"id":"af26698d.dada08","type":"link in","z":"63f647d5.2cf558","name":"from apply button alarm","links":["309a2190.904f2e"],"x":215,"y":380,"wires":[["23d7a61e.71439a"]]},{"id":"23d7a61e.71439a","type":"function","z":"63f647d5.2cf558","name":"save alarm param variable","func":"var data = {};\ndata.hiplimit = global.get(\"set_hiplimit\");\ndata.loplimit = global.get(\"set_loplimit\");\ndata.o2tol = global.get(\"set_o2tol\");\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["d4ad88b0.e35518"]]},{"id":"d4ad88b0.e35518","type":"file","z":"63f647d5.2cf558","name":"","filename":"/home/pi/ventilator/alarmparam.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":740,"y":380,"wires":[[]]},{"id":"309a2190.904f2e","type":"link out","z":"58e61889.b398d8","name":"to save data alarm","links":["af26698d.dada08"],"x":455,"y":3040,"wires":[]},{"id":"83d1e0d0.48a5e","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2400,"wires":[["15d9faa.2544c05"]]},{"id":"dd745adc.a20fd8","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2440,"wires":[["15d9faa.2544c05"]]},{"id":"73e1fa5b.14fc54","type":"switch","z":"58e61889.b398d8","name":"","property":"buttonstart","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":2400,"wires":[["83d1e0d0.48a5e"],["dd745adc.a20fd8"]]},{"id":"672d5194.0a1f3","type":"link out","z":"58e61889.b398d8","name":"check started condition","links":["ad1daf73.f4ffd","f6ba05d5.d35488","bf4dabf7.6a0298"],"x":695,"y":3560,"wires":[]},{"id":"ad1daf73.f4ffd","type":"link in","z":"58e61889.b398d8","name":"from start bt","links":["672d5194.0a1f3"],"x":95,"y":2400,"wires":[["73e1fa5b.14fc54"]]},{"id":"a556f9c9.c5b178","type":"link out","z":"58e61889.b398d8","name":"to alarm reset","links":["34e4d63f.168e9a","733a261e.9003c8","8e97838e.f0c26","9d42920b.9d9a2","ac3b662c.e4a1e8","b4d7510b.a8a41","c8ecd7c3.291368","cc363cef.f4eb4","5329bb01.48de44","bc0b77ef.4e5d68"],"x":355,"y":460,"wires":[]},{"id":"8e97838e.f0c26","type":"link in","z":"58e61889.b398d8","name":"from reset bt","links":["a556f9c9.c5b178"],"x":195,"y":700,"wires":[["e123fd0b.2786d"]]},{"id":"34e4d63f.168e9a","type":"link in","z":"58e61889.b398d8","name":"from reset bt","links":["a556f9c9.c5b178"],"x":195,"y":900,"wires":[["972e86f3.470c28"]]},{"id":"ac3b662c.e4a1e8","type":"link in","z":"58e61889.b398d8","name":"from reset bt","links":["a556f9c9.c5b178"],"x":195,"y":1080,"wires":[["29b53719.c00638"]]},{"id":"9d42920b.9d9a2","type":"link in","z":"58e61889.b398d8","name":"from reset bt","links":["a556f9c9.c5b178"],"x":195,"y":1280,"wires":[["7f412fe7.a88f2"]]},{"id":"b4d7510b.a8a41","type":"link in","z":"58e61889.b398d8","name":"from reset bt","links":["a556f9c9.c5b178"],"x":935,"y":700,"wires":[["d9e551b3.1a7bd"]]},{"id":"c8ecd7c3.291368","type":"link in","z":"58e61889.b398d8","name":"from reset bt","links":["a556f9c9.c5b178"],"x":935,"y":900,"wires":[["44554919.0eb318"]]},{"id":"733a261e.9003c8","type":"link in","z":"58e61889.b398d8","name":"from reset bt","links":["a556f9c9.c5b178"],"x":935,"y":1080,"wires":[["27acef17.762d3"]]},{"id":"cc363cef.f4eb4","type":"link in","z":"58e61889.b398d8","name":"from reset bt","links":["a556f9c9.c5b178"],"x":935,"y":1280,"wires":[["19c1a908.efe057"]]},{"id":"50511ddf.6a6014","type":"comment","z":"58e61889.b398d8","name":"Misc","info":"","x":50,"y":20,"wires":[]},{"id":"3e94c146.a8c7de","type":"inject","z":"58e61889.b398d8","name":"display title blank","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":200,"wires":[["248db895.6c1908"]]},{"id":"248db895.6c1908","type":"link out","z":"58e61889.b398d8","name":"to tittle","links":["2125c349.1164bc","599c91d1.4ee7","3114003f.dc638","9842a92b.3ffd98"],"x":715,"y":200,"wires":[]},{"id":"fc298bcc.65d4a8","type":"ui_text","z":"58e61889.b398d8","group":"97bb0630.d4f938","order":0,"width":0,"height":0,"name":"","label":"Use Control : ","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":2040,"wires":[]},{"id":"79154f43.e90b9","type":"link out","z":"58e61889.b398d8","name":"to tittle","links":["3114003f.dc638","9842a92b.3ffd98","2125c349.1164bc","599c91d1.4ee7"],"x":815,"y":1540,"wires":[]},{"id":"2125c349.1164bc","type":"link in","z":"58e61889.b398d8","name":"from text control","links":["248db895.6c1908","79154f43.e90b9"],"x":315,"y":2040,"wires":[["fc298bcc.65d4a8"]]},{"id":"90ed4b92.2ae9c8","type":"ui_text","z":"58e61889.b398d8","group":"323a3fac.ed821","order":0,"width":0,"height":0,"name":"","label":"Use Control : ","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":2740,"wires":[]},{"id":"599c91d1.4ee7","type":"link in","z":"58e61889.b398d8","name":"from text control","links":["248db895.6c1908","79154f43.e90b9"],"x":215,"y":2740,"wires":[["90ed4b92.2ae9c8"]]},{"id":"770e3d7d.87f8e4","type":"ui_text","z":"58e61889.b398d8","group":"10021860.ecd688","order":0,"width":0,"height":0,"name":"","label":"Use Control : ","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":3200,"wires":[]},{"id":"3114003f.dc638","type":"link in","z":"58e61889.b398d8","name":"from text control","links":["248db895.6c1908","79154f43.e90b9"],"x":215,"y":3200,"wires":[["770e3d7d.87f8e4"]]},{"id":"19f4b6c0.c35d39","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1580,"wires":[["246f76ea.8a54ca","406b54f7.5123bc"]]},{"id":"7abd9aa5.3fb304","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1620,"wires":[["246f76ea.8a54ca","406b54f7.5123bc"]]},{"id":"66e2960b.f034b8","type":"switch","z":"58e61889.b398d8","name":"","property":"buttonstart","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":1580,"wires":[["19f4b6c0.c35d39"],["7abd9aa5.3fb304"]]},{"id":"f6ba05d5.d35488","type":"link in","z":"58e61889.b398d8","name":"from start bt","links":["672d5194.0a1f3"],"x":35,"y":1580,"wires":[["66e2960b.f034b8"]]},{"id":"b2632444.c59be8","type":"switch","z":"58e61889.b398d8","name":"","property":"buttonstart","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":1680,"wires":[["cd3e2706.cdd078"],[]]},{"id":"bf4dabf7.6a0298","type":"link in","z":"58e61889.b398d8","name":"from start bt","links":["672d5194.0a1f3"],"x":555,"y":1680,"wires":[["b2632444.c59be8"]]},{"id":"9842a92b.3ffd98","type":"link in","z":"58e61889.b398d8","name":"from text control","links":["248db895.6c1908","79154f43.e90b9"],"x":355,"y":1500,"wires":[["255d2328.5f460c"]]},{"id":"8578d345.6a0ba","type":"smooth","z":"f62818cd.f86418","name":"","property":"payload","action":"low","count":"10","round":"","mult":"single","reduce":false,"x":360,"y":240,"wires":[["6e5b838.b8b407c"]]},{"id":"6e5b838.b8b407c","type":"link out","z":"f62818cd.f86418","name":"[result] Flow","links":["bfe83c79.2a454","646894d7.773dac","e709ab4c.06cb78","879ec6bc.50b4a8"],"x":475,"y":240,"wires":[]},{"id":"bfe83c79.2a454","type":"link in","z":"f62818cd.f86418","name":"[check] Spurious","links":["78e6033f.98020c","8dc6b6b8.037158","6e5b838.b8b407c"],"x":135,"y":340,"wires":[["d566bcd9.0161b"]]},{"id":"d566bcd9.0161b","type":"function","z":"f62818cd.f86418","name":"checkSpurious","func":"var breathing_phase = global.get(\"breathing_phase\")\nif(breathing_phase == \"exhale\"){\n    if (msg.payload > 4.5) {\n       msg.payload = \"05_ON\"; \n    } \n} else {\n    msg.payload = '';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":340,"wires":[["74e9e43d.59b9ec"]]},{"id":"74e9e43d.59b9ec","type":"link out","z":"f62818cd.f86418","name":"[alarm] Spurious","links":["db496137.feb0a","646894d7.773dac"],"x":395,"y":340,"wires":[]},{"id":"c10a1ac5.c05208","type":"comment","z":"f62818cd.f86418","name":"Check for Spurious Breath (OK MINUS)","info":"Algoritma sudah bisa:\n1. Detect spurious biasa\n2. Ganti title ke assisted\n\nPerlu ditambahkan\n1. Cek spurious baru mulai beberapa saat setelah phase exhale\n2. Ganti mode operasi ke assisted","x":170,"y":300,"wires":[]},{"id":"7960467b.2030a8","type":"comment","z":"f62818cd.f86418","name":"[WIP] Test by Pras ===========================================================================================================================================","info":"","x":660,"y":20,"wires":[],"icon":"font-awesome/fa-wrench"},{"id":"2acf8b26.2047d4","type":"inject","z":"f62818cd.f86418","name":"","topic":"","payload":"breathing_phase","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":440,"wires":[["1554768e.e1cf99"]]},{"id":"1554768e.e1cf99","type":"switch","z":"f62818cd.f86418","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"inhale","vt":"str"},{"t":"eq","v":"exhale","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1110,"y":440,"wires":[["bb7cad0a.13222"],["46a4abd1.d1aa24"],["f9220c09.fbc64"]]},{"id":"bb7cad0a.13222","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"breathing_phase","pt":"global","to":"exhale","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":400,"wires":[["d4faf993.5ff348"]]},{"id":"46a4abd1.d1aa24","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"breathing_phase","pt":"global","to":"idle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":440,"wires":[["d4faf993.5ff348"]]},{"id":"f9220c09.fbc64","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"breathing_phase","pt":"global","to":"inhale","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":480,"wires":[["d4faf993.5ff348"]]},{"id":"7774a392.6d42bc","type":"inject","z":"f62818cd.f86418","name":"init global vars","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":340,"wires":[["fb75f8ea.4aaa88"]]},{"id":"fb75f8ea.4aaa88","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"breathing_phase","pt":"global","to":"idle","tot":"str"},{"t":"set","p":"offset_flow","pt":"global","to":"0","tot":"num"},{"t":"set","p":"offset_pressure","pt":"global","to":"0","tot":"str"},{"t":"set","p":"vol_count","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":340,"wires":[["d4faf993.5ff348"]]},{"id":"e61578d4.42b5a8","type":"debug","z":"f62818cd.f86418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1480,"y":340,"wires":[]},{"id":"d4faf993.5ff348","type":"function","z":"f62818cd.f86418","name":"","func":"msg.payload = global.get(\"breathing_phase\");\nvar phase = global.get(\"breathing_phase\");\nif (phase == 'inhale') {\n    global.set(\"pip_value\",0);\n    global.set(\"peak_value\",0);\n    global.set(\"peak_count\",0);\n} else if (phase == \"exhale\") {\n    global.set(\"vol_count\",0);\n} else {\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":340,"wires":[["e61578d4.42b5a8"]]},{"id":"4e5854fa.21419c","type":"inject","z":"58e61889.b398d8","name":"trigger","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"1","x":230,"y":60,"wires":[["d9bd3b85.269298"]]},{"id":"3ac8db41.99adf4","type":"exec","z":"58e61889.b398d8","command":"xdotool windowkill `xdotool getactivewindow`","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":100,"wires":[[],[],[]]},{"id":"1f24a6d8.4901a9","type":"exec","z":"58e61889.b398d8","command":"DISPLAY=:0 chromium-browser --noerrdialogs --disable-infobars --incognito --disable-pinch --overscroll-history-navigation=0 --no-context-menu --kiosk http://localhost:1880/ui &","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1200,"y":40,"wires":[[],[],[]]},{"id":"b72fcb3d.19d008","type":"comment","z":"f62818cd.f86418","name":"Simulate breathing phase","info":"Inhale/exhale/idle","x":890,"y":300,"wires":[]},{"id":"f99e4e99.222b8","type":"debug","z":"f62818cd.f86418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":560,"wires":[]},{"id":"2add80c9.ad669","type":"comment","z":"f62818cd.f86418","name":"Sensor Pressure ---------------------------------------------------------","info":"Check For:\n1. PIP > PIP_LIMIT\n2. PEEP < PEEP_LIMIT\n3. Fighting\n4. Lepas (Pres LOW)\n\nREAD PEEP\nREAD IPP","x":220,"y":660,"wires":[],"icon":"node-red/arrow-in.svg"},{"id":"72eefa9.d361b04","type":"function","z":"f62818cd.f86418","name":"calcBit2Pres","func":"var pres_raw = parseFloat(msg.payload);\n\n// offset + gain adjust\nvar pres_val = 0.3135*pres_raw-1316.0693-3.14 + global.get(\"offset_pressure\");\n\nmsg.topic = \"pressure\";\nmsg.payload = pres_val;\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":700,"wires":[["32e8d92.726a026"]]},{"id":"391c682a.a506f8","type":"link in","z":"58e61889.b398d8","name":"from spurious detect","links":["a4e33fc2.6099e"],"x":155,"y":260,"wires":[["c7bfe9f3.5322d8"]]},{"id":"c7bfe9f3.5322d8","type":"switch","z":"58e61889.b398d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":260,"wires":[["c2bcde6.043ae2"],[]]},{"id":"c2bcde6.043ae2","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Assisted Volume Control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["248db895.6c1908"]]},{"id":"32e8d92.726a026","type":"smooth","z":"f62818cd.f86418","name":"","property":"payload","action":"low","count":"10","round":"","mult":"single","reduce":false,"x":360,"y":700,"wires":[["7ff82098.8d736"]]},{"id":"646894d7.773dac","type":"link in","z":"f62818cd.f86418","name":"[debug] flow","links":["74e9e43d.59b9ec","6e5b838.b8b407c","5ab72885.8f20e8","c1a439e7.2fac58"],"x":40,"y":560,"wires":[["f99e4e99.222b8"]]},{"id":"57961862.48cf18","type":"comment","z":"f62818cd.f86418","name":"debug","info":"","x":70,"y":520,"wires":[]},{"id":"7ff82098.8d736","type":"link out","z":"f62818cd.f86418","name":"[result] Pressure","links":["7c7dd6b.5d37028","349e3f24.21301"],"x":475,"y":700,"wires":[]},{"id":"cd0ddbca.fae058","type":"function","z":"f62818cd.f86418","name":"cekFighting","func":"var stat = \"03_OFF\";\n\nnewmsg = {\"payload\": \"\"};\nnewmsg.payload = stat;\nreturn newmsg;","outputs":1,"noerr":0,"x":210,"y":820,"wires":[["57336b20.43ec74"]]},{"id":"7c7dd6b.5d37028","type":"link in","z":"f62818cd.f86418","name":"[check] Fighting","links":["7ff82098.8d736","299bfdec.b4a542","47a1d3d.e3f242c"],"x":75,"y":820,"wires":[["cd0ddbca.fae058"]]},{"id":"4762611c.08a35","type":"comment","z":"f62818cd.f86418","name":"setAlarm()","info":"01 HIGH PRESSURE\n02 LOW PRESSURE\n03 FIGHTING\n04 OVERCURRENT\n05 SPURIOUS\n06 OVER VOL\n07 LOW PEEP\n08 LOW/HIGH O2","x":860,"y":60,"wires":[]},{"id":"db496137.feb0a","type":"link in","z":"f62818cd.f86418","name":"setAlarm()","links":["74e9e43d.59b9ec","dc84959e.901ee8","57336b20.43ec74","53e8154d.557e6c","5ab72885.8f20e8","c1a439e7.2fac58"],"x":815,"y":140,"wires":[["9a58de0d.4cc72"]]},{"id":"9a58de0d.4cc72","type":"function","z":"f62818cd.f86418","name":"setAlarm","func":"var res = msg.payload.split(\"_\");\nvar no = res[0];\nvar status = false;\n\nif(res[1] == \"ON\") {\n    status = true;\n}\n\nvar newmsg = { \"no\": no, \"payload\": status};\nreturn newmsg;","outputs":1,"noerr":0,"x":920,"y":140,"wires":[["44f88c0c.8d2ea4","48680d15.e7f624"]]},{"id":"44f88c0c.8d2ea4","type":"switch","z":"f62818cd.f86418","name":"","property":"no","propertyType":"msg","rules":[{"t":"eq","v":"01","vt":"str"},{"t":"eq","v":"02","vt":"str"},{"t":"eq","v":"03","vt":"str"},{"t":"eq","v":"04","vt":"str"},{"t":"eq","v":"05","vt":"str"},{"t":"eq","v":"06","vt":"str"},{"t":"eq","v":"07","vt":"str"},{"t":"eq","v":"08","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":9,"x":1070,"y":140,"wires":[["b1707edf.ef16b"],["8893d8fa.ae0da8"],["af76ef2d.7b34c"],["96e43f62.6b529"],["a4e33fc2.6099e"],["bb3b2d05.98881"],["853f24c.1199dd8"],["4db251fe.67fbb"],[]]},{"id":"b1707edf.ef16b","type":"link out","z":"f62818cd.f86418","name":"alarm01","links":["514b6cde.c69db4","7dac646f.6638dc","2c6e5cb.f4603a4","b62eed74.085aa","850f0fee.e26f8","8ac6a3d8.2b2ce","b28e3b4b.c81b48","5247b427.65150c","54e3ba0a.3a6f34","7fa1d009.57546","3ad16b80.191bd4","85aafab5.2f3988"],"x":1195,"y":80,"wires":[]},{"id":"8893d8fa.ae0da8","type":"link out","z":"f62818cd.f86418","name":"alarm02","links":["c3b44523.ea65a8"],"x":1235,"y":80,"wires":[]},{"id":"af76ef2d.7b34c","type":"link out","z":"f62818cd.f86418","name":"alarm03","links":["eb5e7857.9943f8"],"x":1195,"y":120,"wires":[]},{"id":"96e43f62.6b529","type":"link out","z":"f62818cd.f86418","name":"alarm04","links":["9565ab21.107938"],"x":1235,"y":120,"wires":[]},{"id":"bb3b2d05.98881","type":"link out","z":"f62818cd.f86418","name":"alarm06","links":["9b0de9bc.64fea8"],"x":1235,"y":160,"wires":[]},{"id":"853f24c.1199dd8","type":"link out","z":"f62818cd.f86418","name":"alarm07","links":["9e3aaf57.2b982"],"x":1195,"y":200,"wires":[]},{"id":"4db251fe.67fbb","type":"link out","z":"f62818cd.f86418","name":"alarm08","links":["ddb18dad.ff671"],"x":1235,"y":200,"wires":[]},{"id":"a4e33fc2.6099e","type":"link out","z":"f62818cd.f86418","name":"alarm05","links":["ae53b50d.c4e4a8","391c682a.a506f8"],"x":1195,"y":160,"wires":[]},{"id":"438d3b56.74b694","type":"inject","z":"f62818cd.f86418","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":580,"wires":[["78e6033f.98020c"]]},{"id":"78e6033f.98020c","type":"link out","z":"f62818cd.f86418","name":"[sim] flow1","links":["bfe83c79.2a454","879ec6bc.50b4a8"],"x":955,"y":580,"wires":[]},{"id":"3a068003.a145","type":"comment","z":"f62818cd.f86418","name":"Simulate Flow reading","info":"","x":880,"y":540,"wires":[]},{"id":"e6723349.3eafe","type":"inject","z":"f62818cd.f86418","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1110,"y":580,"wires":[["299bfdec.b4a542"]]},{"id":"299bfdec.b4a542","type":"link out","z":"f62818cd.f86418","name":"[sim] pres1","links":["7c7dd6b.5d37028","349e3f24.21301"],"x":1195,"y":580,"wires":[]},{"id":"e2a0b05a.af915","type":"comment","z":"f62818cd.f86418","name":"Simulate Pres reading","info":"","x":1120,"y":540,"wires":[]},{"id":"982402a6.a6316","type":"comment","z":"f62818cd.f86418","name":"Check for Fighting (Pending)","info":"Pending","x":140,"y":760,"wires":[]},{"id":"5a89da40.c021d4","type":"comment","z":"f62818cd.f86418","name":"Sensor Oxygen ---------------------------------------------------------","info":"Check For:\n1. abs(FiO2% - O2 real) >= O2tol","x":210,"y":1420,"wires":[],"icon":"node-red/arrow-in.svg"},{"id":"43c1a8ed.c7eab8","type":"function","z":"f62818cd.f86418","name":"calcBit2Oxy","func":"var ox_raw = parseFloat(msg.payload);\n\n// offset + gain adjust\nvar ox_val = ox_raw * 0.1875 * 10/6;\n\nnewmsg = {\"topic\": '', \"payload\": '' };\nnewmsg.topic = \"oxygen\";\nnewmsg.payload = ox_val;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":190,"y":1460,"wires":[["7cf79737.8e6d08"]]},{"id":"7cf79737.8e6d08","type":"smooth","z":"f62818cd.f86418","name":"","property":"payload","action":"low","count":"10","round":"","mult":"single","reduce":false,"x":360,"y":1460,"wires":[["97d16152.36b0b"]]},{"id":"97d16152.36b0b","type":"link out","z":"f62818cd.f86418","name":"[result] O2","links":["1f268278.f68dce","386736d2.12376a"],"x":475,"y":1460,"wires":[]},{"id":"b4fd28c0.0259a8","type":"function","z":"f62818cd.f86418","name":"cekO2tol","func":"var O2_val = msg.payload;\nvar O2_dif = Math.abs(global.get(\"set_o2\") - O2_val);\nvar stat = \"08_OFF\";\nif(O2_dif >= global.get(\"set_o2tol\")){\n    stat = \"08_ON\";\n}\n\nmsg.payload = stat;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":1580,"wires":[["dc84959e.901ee8"]]},{"id":"1f268278.f68dce","type":"link in","z":"f62818cd.f86418","name":"[check] O2tol","links":["97d16152.36b0b","c81ae43.bf0ef18","f2da446.db312b8"],"x":75,"y":1580,"wires":[["b4fd28c0.0259a8"]]},{"id":"9565546.11fe7a8","type":"comment","z":"f62818cd.f86418","name":"Check for O2tol (OK)","info":"Function OK\nTest OK","x":120,"y":1520,"wires":[]},{"id":"c506dfde.10e23","type":"link in","z":"f62818cd.f86418","name":"from adc_flow","links":["10683133.a30f1f"],"x":40,"y":240,"wires":[["4ff4c498.c0412c"]]},{"id":"38baf64c.64f1ba","type":"link in","z":"f62818cd.f86418","name":"from adc_pres","links":["8ac70a01.b97f78"],"x":35,"y":700,"wires":[["72eefa9.d361b04"]]},{"id":"9976fac9.fbe418","type":"link in","z":"f62818cd.f86418","name":"from adc_Ox","links":["3f6c427.23470be"],"x":35,"y":1460,"wires":[["43c1a8ed.c7eab8"]]},{"id":"8993a851.365478","type":"ncd-ads1115","z":"f62818cd.f86418","d":true,"name":"ADC01","connection":"e3239c13.80556","addr":"72","interval":"5","outputs":4,"output_all":true,"output_mult":"1","channel_1":"0","channel_2":"_none","channel_3":"6","channel_4":"7","gain":"0","mode":1,"rate":4,"compMode":0,"compPol":0,"compLat":0,"compQueue":3,"delay":"100","x":80,"y":100,"wires":[["3f6c427.23470be"],["8ac70a01.b97f78"],["10683133.a30f1f"],[]]},{"id":"3f6c427.23470be","type":"link out","z":"f62818cd.f86418","name":"[adc] Ox","links":["9976fac9.fbe418"],"x":215,"y":80,"wires":[]},{"id":"8ac70a01.b97f78","type":"link out","z":"f62818cd.f86418","name":"[adc] Pressure","links":["38baf64c.64f1ba"],"x":255,"y":100,"wires":[]},{"id":"10683133.a30f1f","type":"link out","z":"f62818cd.f86418","name":"[adc] Flow","links":["c506dfde.10e23"],"x":215,"y":120,"wires":[]},{"id":"c66670b9.cba74","type":"inject","z":"f62818cd.f86418","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":640,"wires":[["8dc6b6b8.037158"]]},{"id":"8dc6b6b8.037158","type":"link out","z":"f62818cd.f86418","name":"[sim] flow2","links":["bfe83c79.2a454","e709ab4c.06cb78","879ec6bc.50b4a8"],"x":955,"y":640,"wires":[]},{"id":"17c8d0b9.b89daf","type":"inject","z":"f62818cd.f86418","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1110,"y":640,"wires":[["47a1d3d.e3f242c"]]},{"id":"47a1d3d.e3f242c","type":"link out","z":"f62818cd.f86418","name":"[sim] pres2","links":["7c7dd6b.5d37028","349e3f24.21301"],"x":1195,"y":640,"wires":[]},{"id":"dc84959e.901ee8","type":"link out","z":"f62818cd.f86418","name":"[alarm] O2tol","links":["db496137.feb0a","386736d2.12376a"],"x":315,"y":1580,"wires":[]},{"id":"57336b20.43ec74","type":"link out","z":"f62818cd.f86418","name":"[alarm] Fighting","links":["db496137.feb0a"],"x":335,"y":820,"wires":[]},{"id":"7ad71be3.466a34","type":"inject","z":"f62818cd.f86418","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1350,"y":580,"wires":[["c81ae43.bf0ef18"]]},{"id":"c81ae43.bf0ef18","type":"link out","z":"f62818cd.f86418","name":"[sim] ox1","links":["1f268278.f68dce"],"x":1435,"y":580,"wires":[]},{"id":"a4eb71a5.d712e","type":"comment","z":"f62818cd.f86418","name":"Simulate Ox reading","info":"","x":1350,"y":540,"wires":[]},{"id":"8933ec43.299b8","type":"inject","z":"f62818cd.f86418","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1350,"y":640,"wires":[["f2da446.db312b8"]]},{"id":"f2da446.db312b8","type":"link out","z":"f62818cd.f86418","name":"[sim] ox2","links":["1f268278.f68dce"],"x":1435,"y":640,"wires":[]},{"id":"5feff5b4.840d7c","type":"debug","z":"f62818cd.f86418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":1680,"wires":[]},{"id":"386736d2.12376a","type":"link in","z":"f62818cd.f86418","name":"[debug] Ox","links":["97d16152.36b0b","dc84959e.901ee8"],"x":40,"y":1680,"wires":[["5feff5b4.840d7c"]]},{"id":"b31f8da9.7bda7","type":"comment","z":"f62818cd.f86418","name":"debug","info":"","x":70,"y":1640,"wires":[]},{"id":"162b073b.91c899","type":"function","z":"f62818cd.f86418","name":"cekPIPLimit","func":"var pres_val = msg.payload;\nvar lim = global.get(\"set_hiplimit\");\nvar stat = \"01_OFF\";\n\nif(pres_val > lim) {\n    stat = \"01_ON\";\n}\n\nnewmsg = {'payload': '' };\nnewmsg.payload = stat;\nreturn newmsg;","outputs":1,"noerr":0,"x":210,"y":940,"wires":[["53e8154d.557e6c"]]},{"id":"349e3f24.21301","type":"link in","z":"f62818cd.f86418","name":"[check] Fighting","links":["7ff82098.8d736","299bfdec.b4a542","47a1d3d.e3f242c"],"x":75,"y":940,"wires":[["162b073b.91c899"]]},{"id":"c122e3c7.6e723","type":"comment","z":"f62818cd.f86418","name":"Check for High Pressure (OK)","info":"Test OK","x":140,"y":880,"wires":[]},{"id":"53e8154d.557e6c","type":"link out","z":"f62818cd.f86418","name":"[alarm] HighPres","links":["db496137.feb0a","211ef5d5.89df1a"],"x":335,"y":940,"wires":[]},{"id":"98a3fa15.39e7d8","type":"debug","z":"f62818cd.f86418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":1320,"wires":[]},{"id":"211ef5d5.89df1a","type":"link in","z":"f62818cd.f86418","name":"[debug] Pres","links":["7ff82098.8d736","53e8154d.557e6c","57336b20.43ec74","1f074f7f.54cf71","1a35e461.0dfc0c"],"x":40,"y":1320,"wires":[["98a3fa15.39e7d8"]]},{"id":"cd9232e8.9131c","type":"comment","z":"f62818cd.f86418","name":"debug","info":"","x":70,"y":1280,"wires":[]},{"id":"2715fb98.0b7fb4","type":"function","z":"f62818cd.f86418","name":"cekPresLow","func":"var pres_val = msg.payload;\nvar lim = global.get(\"set_loplimit\");\nvar stat = \"02_OFF\";\nvar startCount = global.get(\"start_count\") || 0;\n\nif(pres_val < lim && startCount > 0) {\n    stat = \"02_ON\";\n}\n\nnewmsg = {'payload': '' };\nnewmsg.payload = stat;\nreturn newmsg;","outputs":1,"noerr":0,"x":210,"y":1060,"wires":[["1f074f7f.54cf71"]]},{"id":"77b0653a.f801ac","type":"link in","z":"f62818cd.f86418","name":"[check] Fighting","links":["7ff82098.8d736","299bfdec.b4a542","47a1d3d.e3f242c"],"x":75,"y":1060,"wires":[["2715fb98.0b7fb4"]]},{"id":"d78e910e.7ec14","type":"comment","z":"f62818cd.f86418","name":"Check for Low Pressure (OK MINUS)","info":"Test OK, countStart perlu ditambahkan","x":170,"y":1000,"wires":[]},{"id":"1f074f7f.54cf71","type":"link out","z":"f62818cd.f86418","name":"[alarm] LowPres","links":["211ef5d5.89df1a","db496137.feb0a"],"x":335,"y":1060,"wires":[]},{"id":"7bb939f.5c97bc8","type":"function","z":"f62818cd.f86418","name":"cekPEEPLow","func":"var breathing_phase = global.get(\"breathing_phase\")\n\nvar pres_val = msg.payload;\nvar lim = global.get(\"set_peep\");\n\nvar stat = \"07_OFF\";\n\nif(pres_val < lim && breathing_phase == \"exhale\") {\n    stat = \"07_ON\";\n}\n\nnewmsg = {'payload': '' };\nnewmsg.payload = stat;\nreturn newmsg;","outputs":1,"noerr":0,"x":220,"y":1180,"wires":[["1a35e461.0dfc0c"]]},{"id":"ea668fe5.ca582","type":"link in","z":"f62818cd.f86418","name":"[check] Fighting","links":["7ff82098.8d736","299bfdec.b4a542","47a1d3d.e3f242c"],"x":75,"y":1180,"wires":[["7bb939f.5c97bc8"]]},{"id":"c047665b.73d278","type":"comment","z":"f62818cd.f86418","name":"Check for Low PEEP (OK)","info":"Test OK","x":130,"y":1120,"wires":[]},{"id":"1a35e461.0dfc0c","type":"link out","z":"f62818cd.f86418","name":"[alarm] LowPEEP","links":["211ef5d5.89df1a","db496137.feb0a"],"x":335,"y":1180,"wires":[]},{"id":"879ec6bc.50b4a8","type":"link in","z":"f62818cd.f86418","name":"[check] Spurious","links":["78e6033f.98020c","8dc6b6b8.037158","6e5b838.b8b407c"],"x":135,"y":440,"wires":[["b5424e52.1d02a"]]},{"id":"b5424e52.1d02a","type":"function","z":"f62818cd.f86418","name":"checkOverVol","func":"var breathing_phase = global.get(\"breathing_phase\")\nvar vol_count = global.get(\"vol_count\");\nvar flow_val = msg.payload;\n\nvar alarmvol = \"06_OFF\";\n\nvol_count += flow_val;\n\nif(breathing_phase == \"inhale\"){\n    if (vol_count >= parseFloat(global.get(\"set_vol\"))) {\n       alarmvol = \"06_ON\"; \n    } \n}\n\nglobal.set(\"vol_count\", vol_count);\n\nmsg.payload = alarmvol;\nmsg.vol = vol_count;\n\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":440,"wires":[["c1a439e7.2fac58"]]},{"id":"c1a439e7.2fac58","type":"link out","z":"f62818cd.f86418","name":"[alarm2] OverFlow","links":["db496137.feb0a","646894d7.773dac"],"x":395,"y":440,"wires":[]},{"id":"85eb7de2.9474a","type":"comment","z":"f62818cd.f86418","name":"Check for Over Volume (OK)","info":"Function OK, test OK","x":140,"y":400,"wires":[]},{"id":"f3e8916f.5c064","type":"random","z":"f62818cd.f86418","name":"","low":"1","high":"20","inte":"false","property":"payload","x":600,"y":820,"wires":[["dd6aef8.9d1bd1"]]},{"id":"dd6aef8.9d1bd1","type":"link out","z":"f62818cd.f86418","name":"","links":["d043fa5d.2b31b8"],"x":720,"y":820,"wires":[]},{"id":"26ec53f7.cbe6ec","type":"inject","z":"f62818cd.f86418","d":true,"name":"","topic":"","payload":"true","payloadType":"bool","repeat":"0.5","crontab":"","once":true,"onceDelay":"0.005","x":690,"y":760,"wires":[["f3e8916f.5c064"]]},{"id":"8526b6e7.8da168","type":"inject","z":"f62818cd.f86418","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":740,"wires":[["54360290.bd509c"]]},{"id":"54360290.bd509c","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"start_count","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":720,"wires":[[]]},{"id":"d9bd3b85.269298","type":"exec","z":"58e61889.b398d8","command":"pkill chromium","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":40,"wires":[["1f24a6d8.4901a9"],[],[]]},{"id":"29783abd.c6fac6","type":"comment","z":"63f647d5.2cf558","name":"random data generator","info":"","x":100,"y":540,"wires":[]},{"id":"487f503.dc945b","type":"inject","z":"63f647d5.2cf558","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"0.05","crontab":"","once":false,"onceDelay":"30","x":90,"y":620,"wires":[["8bf25aa6.842868"]]},{"id":"8bf25aa6.842868","type":"random","z":"63f647d5.2cf558","name":"","low":"1","high":"40","inte":"true","property":"payload","x":260,"y":620,"wires":[["1efa990.396b467"]]},{"id":"4241ce9b.fc796","type":"inject","z":"58e61889.b398d8","name":"","topic":"","payload":"set_ie","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"5","x":390,"y":2100,"wires":[["e734d75.cd0b828"]]},{"id":"71527de.bbd1484","type":"inject","z":"58e61889.b398d8","name":"","topic":"","payload":"set_rr","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"5","x":390,"y":2160,"wires":[["72763017.2e981"]]},{"id":"bd3c37ae.adf578","type":"inject","z":"58e61889.b398d8","name":"","topic":"","payload":"set_o2","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"5","x":400,"y":2220,"wires":[["c63d6d86.76f63"]]},{"id":"c8ff617a.2d665","type":"inject","z":"58e61889.b398d8","name":"","topic":"","payload":"set_peep","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"5","x":400,"y":2280,"wires":[["44f395e2.2c312c"]]},{"id":"aca36ce1.9cbe9","type":"inject","z":"58e61889.b398d8","name":"","topic":"","payload":"set_vol","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"5","x":400,"y":2340,"wires":[["ab6e8453.950bf8"]]},{"id":"36049803.7afd58","type":"change","z":"63f647d5.2cf558","name":"","rules":[{"t":"set","p":"set_ie","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":80,"wires":[[]]},{"id":"37c9f29.993bf0e","type":"change","z":"63f647d5.2cf558","name":"","rules":[{"t":"set","p":"set_rr","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":120,"wires":[[]]},{"id":"8948b778.d80d18","type":"change","z":"63f647d5.2cf558","name":"","rules":[{"t":"set","p":"set_o2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":160,"wires":[[]]},{"id":"a319701.01c339","type":"change","z":"63f647d5.2cf558","name":"","rules":[{"t":"set","p":"set_peep","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":200,"wires":[[]]},{"id":"9991f236.3795f","type":"change","z":"63f647d5.2cf558","name":"","rules":[{"t":"set","p":"set_vol","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":240,"wires":[[]]},{"id":"7234fef.09f8f","type":"comment","z":"63f647d5.2cf558","name":"editor breathing parameters","info":"","x":1280,"y":40,"wires":[]},{"id":"bc49147.25054e8","type":"link in","z":"63f647d5.2cf558","name":"from editor ie","links":["a0e10356.1034a"],"x":1195,"y":80,"wires":[["36049803.7afd58"]]},{"id":"c9d8a5d3.ee9858","type":"link in","z":"63f647d5.2cf558","name":"from editor rr","links":["c91b5274.d2dc"],"x":1195,"y":120,"wires":[["37c9f29.993bf0e"]]},{"id":"200af052.47945","type":"link in","z":"63f647d5.2cf558","name":"from editor o2","links":["d7ec5ce5.859e8"],"x":1195,"y":160,"wires":[["8948b778.d80d18"]]},{"id":"a311ebb3.ffcd98","type":"link in","z":"63f647d5.2cf558","name":"from editor peep","links":["40b922d7.95807c"],"x":1195,"y":200,"wires":[["a319701.01c339"]]},{"id":"5d39d649.88b538","type":"link in","z":"63f647d5.2cf558","name":"from editor vol","links":["7adc29d5.0d2658"],"x":1195,"y":240,"wires":[["9991f236.3795f"]]},{"id":"a0e10356.1034a","type":"link out","z":"58e61889.b398d8","name":"to editor ie","links":["bc49147.25054e8"],"x":735,"y":2100,"wires":[]},{"id":"c91b5274.d2dc","type":"link out","z":"58e61889.b398d8","name":"to editor rr","links":["c9d8a5d3.ee9858"],"x":735,"y":2160,"wires":[]},{"id":"d7ec5ce5.859e8","type":"link out","z":"58e61889.b398d8","name":"to editor o2","links":["200af052.47945"],"x":735,"y":2220,"wires":[]},{"id":"40b922d7.95807c","type":"link out","z":"58e61889.b398d8","name":"to editor peep","links":["a311ebb3.ffcd98"],"x":735,"y":2280,"wires":[]},{"id":"7adc29d5.0d2658","type":"link out","z":"58e61889.b398d8","name":"to editor vol","links":["5d39d649.88b538"],"x":735,"y":2340,"wires":[]},{"id":"6ce3c9aa.185178","type":"inject","z":"58e61889.b398d8","name":"","topic":"","payload":"hiplimit","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"5","x":140,"y":2800,"wires":[["b3319a7b.e00cf8"]]},{"id":"1a918582.bde46a","type":"inject","z":"58e61889.b398d8","name":"","topic":"","payload":"loplimit","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"5","x":140,"y":2860,"wires":[["b4d9df89.d22da"]]},{"id":"226fa5f0.b94b2a","type":"inject","z":"58e61889.b398d8","name":"","topic":"","payload":"o2tol","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"5","x":130,"y":2920,"wires":[["996f07dd.a0cc08"]]},{"id":"fdab2b5e.a8b4b8","type":"link out","z":"58e61889.b398d8","name":"to editor hiplimit","links":["599267e1.a18ab8","213e3105.c4a15e"],"x":615,"y":2800,"wires":[]},{"id":"9822ab5.5cd1e58","type":"link out","z":"58e61889.b398d8","name":"to editor loplimit","links":["a8334191.ad6e2"],"x":615,"y":2860,"wires":[]},{"id":"422e7085.8df38","type":"link out","z":"58e61889.b398d8","name":"to editor o2tol","links":["6ab1428b.d2212c"],"x":615,"y":2920,"wires":[]},{"id":"788147d6.664cf8","type":"change","z":"63f647d5.2cf558","name":"","rules":[{"t":"set","p":"hiplimit","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":400,"wires":[[]]},{"id":"68c9b702.56ebb8","type":"comment","z":"63f647d5.2cf558","name":"editor alarm parameters","info":"","x":1260,"y":360,"wires":[]},{"id":"a35bc70.4b47338","type":"change","z":"63f647d5.2cf558","name":"","rules":[{"t":"set","p":"loplimit","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":440,"wires":[[]]},{"id":"dfe63845.c3c728","type":"change","z":"63f647d5.2cf558","name":"","rules":[{"t":"set","p":"o2tol","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":480,"wires":[[]]},{"id":"599267e1.a18ab8","type":"link in","z":"63f647d5.2cf558","name":"from editor hiplimit","links":["fdab2b5e.a8b4b8"],"x":1195,"y":400,"wires":[["788147d6.664cf8"]]},{"id":"a8334191.ad6e2","type":"link in","z":"63f647d5.2cf558","name":"from editor loplimit","links":["9822ab5.5cd1e58"],"x":1195,"y":440,"wires":[["a35bc70.4b47338"]]},{"id":"6ab1428b.d2212c","type":"link in","z":"63f647d5.2cf558","name":"from editor o2tol","links":["422e7085.8df38"],"x":1195,"y":480,"wires":[["dfe63845.c3c728"]]},{"id":"c8edf00e.5b965","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"labelsilence","pt":"msg","to":"Mute","tot":"str"},{"t":"set","p":"coloursilence","pt":"msg","to":"teal","tot":"str"},{"t":"set","p":"buttonsilence","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"textcoloursilence","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":460,"wires":[["1fbf2e8d.d2f7b1","b580a6ee.fff618","f85c540a.4ec118","69e02649.1004c8"]]},{"id":"b50ce0bf.048eb","type":"switch","z":"58e61889.b398d8","name":"","property":"buttonsilence","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":460,"wires":[["c8edf00e.5b965","f2e3c5c0.4060c8"],["2d82fa7c.d31d16","ecfef24d.afd44"]]},{"id":"2d82fa7c.d31d16","type":"change","z":"58e61889.b398d8","name":"","rules":[{"t":"set","p":"labelsilence","pt":"msg","to":"Unmute","tot":"str"},{"t":"set","p":"coloursilence","pt":"msg","to":"lightblue","tot":"str"},{"t":"set","p":"buttonsilence","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"textcoloursilence","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":500,"wires":[["1fbf2e8d.d2f7b1","b580a6ee.fff618","f85c540a.4ec118","69e02649.1004c8"]]},{"id":"726b3c78.d588a4","type":"link in","z":"58e61889.b398d8","name":"from trigger","links":["3280c34.4cf5b3c"],"x":475,"y":420,"wires":[["c8edf00e.5b965"]]},{"id":"ecfef24d.afd44","type":"link out","z":"58e61889.b398d8","name":"to buzzer control on","links":["bb5c1f85.cf818","d7be85ca.b721d8"],"x":1195,"y":500,"wires":[]},{"id":"f2e3c5c0.4060c8","type":"link out","z":"58e61889.b398d8","name":"to buzzer control off","links":["538bc0cd.e45e9","133a4baf.5fd5d4"],"x":1195,"y":460,"wires":[]},{"id":"fea7a11f.45185","type":"comment","z":"7f966e0f.d666c","name":"added connection from dashboard, by BWE ------------------------------------------------","info":"","x":280,"y":720,"wires":[]},{"id":"ea83e00.9a9ae2","type":"comment","z":"7f966e0f.d666c","name":"bt start command","info":"","x":80,"y":1140,"wires":[]},{"id":"791713d4.2b048c","type":"link in","z":"7f966e0f.d666c","name":"from start bt","links":["c2a5e66.f395d18"],"x":135,"y":1180,"wires":[["346a325a.90fffe"]]},{"id":"c91fd410.e34b28","type":"comment","z":"7f966e0f.d666c","name":"bt stop command","info":"","x":80,"y":1260,"wires":[]},{"id":"79cdc02d.8d654","type":"link in","z":"7f966e0f.d666c","name":"from stop bt","links":["e5917962.a99478"],"x":135,"y":1300,"wires":[["81e7ca7b.b31e08"]]},{"id":"c2a5e66.f395d18","type":"link out","z":"58e61889.b398d8","name":"to start routine","links":["791713d4.2b048c"],"x":435,"y":3800,"wires":[]},{"id":"e5917962.a99478","type":"link out","z":"58e61889.b398d8","name":"to stop routine","links":["79cdc02d.8d654"],"x":435,"y":3760,"wires":[]},{"id":"71bc525f.93d43c","type":"comment","z":"63f647d5.2cf558","name":"editor mode mandatory/assisted","info":"","x":1290,"y":560,"wires":[]},{"id":"541f411d.db9a9","type":"change","z":"63f647d5.2cf558","name":"","rules":[{"t":"set","p":"modemandatory","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":600,"wires":[[]]},{"id":"2885a31b.ca77ec","type":"change","z":"63f647d5.2cf558","name":"","rules":[{"t":"set","p":"modemandatory","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":640,"wires":[[]]},{"id":"126f18d9.2ff627","type":"link in","z":"63f647d5.2cf558","name":"from mandatory choice","links":["ab5b632a.1fa12"],"x":1195,"y":600,"wires":[["541f411d.db9a9"]]},{"id":"4bea7244.b45d4c","type":"link in","z":"63f647d5.2cf558","name":"from assisted choice","links":["c38e44d2.45ab78"],"x":1195,"y":640,"wires":[["2885a31b.ca77ec"]]},{"id":"ab5b632a.1fa12","type":"link out","z":"58e61889.b398d8","name":"to mandatory choice","links":["126f18d9.2ff627"],"x":815,"y":1580,"wires":[]},{"id":"c38e44d2.45ab78","type":"link out","z":"58e61889.b398d8","name":"to assisted choice","links":["4bea7244.b45d4c"],"x":815,"y":1620,"wires":[]},{"id":"78ed6de9.988a44","type":"comment","z":"7f966e0f.d666c","name":"bt breathing updated","info":"","x":90,"y":1380,"wires":[]},{"id":"6ab1471a.4566e8","type":"link in","z":"7f966e0f.d666c","name":"from trigger breathing bt","links":["cee1346b.b3ca78"],"x":135,"y":1420,"wires":[[]]},{"id":"cee1346b.b3ca78","type":"link out","z":"58e61889.b398d8","name":"to trigger breathing update","links":["6ab1471a.4566e8"],"x":675,"y":2480,"wires":[]},{"id":"12e3d0b5.2ab9bf","type":"link out","z":"58e61889.b398d8","name":"to trigger alarm update","links":["e1febacd.46c9c8"],"x":455,"y":3120,"wires":[]},{"id":"b78dcbfa.b30c98","type":"comment","z":"7f966e0f.d666c","name":"bt alarm updated","info":"","x":80,"y":1500,"wires":[]},{"id":"e1febacd.46c9c8","type":"link in","z":"7f966e0f.d666c","name":"from trigger alarm bt","links":["12e3d0b5.2ab9bf"],"x":135,"y":1540,"wires":[[]]},{"id":"6749c324.61bd1c","type":"link out","z":"58e61889.b398d8","name":"to trigger mode update","links":["4033b1cf.64c2"],"x":1155,"y":1740,"wires":[]},{"id":"1282c754.5f6279","type":"comment","z":"7f966e0f.d666c","name":"bt alarm updated","info":"","x":80,"y":1620,"wires":[]},{"id":"4033b1cf.64c2","type":"link in","z":"7f966e0f.d666c","name":"from trigger mode bt","links":["6749c324.61bd1c"],"x":135,"y":1660,"wires":[[]]},{"id":"9531ed5d.29a07","type":"comment","z":"7f966e0f.d666c","name":"load data for calculation, by BWE ------------------------------------------------","info":"","x":850,"y":720,"wires":[]},{"id":"4c4177f1.e14978","type":"change","z":"7f966e0f.d666c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"set_ie","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":960,"wires":[[]]},{"id":"8578e191.76eed","type":"change","z":"7f966e0f.d666c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"set_rr","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1000,"wires":[[]]},{"id":"618aef52.04b02","type":"change","z":"7f966e0f.d666c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"set_o2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1040,"wires":[[]]},{"id":"7171672b.94c5a8","type":"change","z":"7f966e0f.d666c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"set_peep","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1080,"wires":[[]]},{"id":"1356ec08.478144","type":"change","z":"7f966e0f.d666c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"set_vol","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1120,"wires":[[]]},{"id":"1ec21efa.ac8761","type":"change","z":"7f966e0f.d666c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"hiplimit","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1220,"wires":[[]]},{"id":"ffd8f3e4.9836b","type":"change","z":"7f966e0f.d666c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"loplimit","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1260,"wires":[[]]},{"id":"7f7d4b3d.502fd4","type":"change","z":"7f966e0f.d666c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"o2tol","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1300,"wires":[[]]},{"id":"7537a5eb.af834c","type":"change","z":"7f966e0f.d666c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"modemandatory","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":820,"wires":[[]]},{"id":"4e836ef9.70b97","type":"comment","z":"7f966e0f.d666c","name":"get mode param (modemandatory true/false)","info":"","x":770,"y":780,"wires":[]},{"id":"180c5106.6d4d0f","type":"comment","z":"7f966e0f.d666c","name":"get breathing param (ie, rr, o2, peep, vol)","info":"","x":760,"y":920,"wires":[]},{"id":"b0a6917c.86fb6","type":"comment","z":"7f966e0f.d666c","name":"get alarm param (hi p limit, lo p limit, o2 tolerance)","info":"","x":780,"y":1180,"wires":[]},{"id":"864bf757.d725d8","type":"rpi-gpio out","z":"4a94d9b8.5fd6f8","name":"to_ENABLE_PIN","pin":"15","set":true,"level":"1","freq":"","out":"out","x":790,"y":360,"wires":[]},{"id":"882ec995.6b3828","type":"rpi-gpio out","z":"4a94d9b8.5fd6f8","name":"to_DIRECTION_PIN","pin":"13","set":true,"level":"1","freq":"","out":"out","x":800,"y":280,"wires":[]},{"id":"d3af5fbb.c11d7","type":"rpi-gpio out","z":"4a94d9b8.5fd6f8","name":"to_PULSE_PIN","pin":"11","set":true,"level":"1","freq":"","out":"out","x":780,"y":140,"wires":[]},{"id":"aed373ea.f6bcf","type":"delay","z":"4a94d9b8.5fd6f8","name":"Delay","pauseType":"delayv","timeout":"0.1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":140,"wires":[["1495e8b3.330617"]]},{"id":"9ca0a3c4.1cc16","type":"function","z":"4a94d9b8.5fd6f8","name":"convertToMilliSecond","func":"var received = parseFloat(msg.payload);\n\nvar delay_val = received/1000;\n\nmsg.payload = 1;\nmsg.delay = delay_val;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["aed373ea.f6bcf"]]},{"id":"f4c8a98d.81f8c8","type":"debug","z":"4a94d9b8.5fd6f8","name":"Stepper pulse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":200,"wires":[]},{"id":"f1d2eb33.83d7f8","type":"change","z":"4a94d9b8.5fd6f8","name":"","rules":[{"t":"set","p":"pulse_signal","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[[]]},{"id":"bc64eb73.40f208","type":"inject","z":"4a94d9b8.5fd6f8","name":"Initialization","topic":"1","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":80,"wires":[["f1d2eb33.83d7f8"]]},{"id":"1495e8b3.330617","type":"change","z":"4a94d9b8.5fd6f8","name":"pulse_switcher","rules":[{"t":"change","p":"pulse_signal","pt":"global","from":"true","fromt":"bool","to":"false","tot":"bool"},{"t":"change","p":"pulse_signal","pt":"global","from":"false","fromt":"bool","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["e6f5209c.21f92"]]},{"id":"e6f5209c.21f92","type":"function","z":"4a94d9b8.5fd6f8","name":"pulse_assigner","func":"msg.payload = global.get(\"pulse_signal\");\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["d3af5fbb.c11d7","f4c8a98d.81f8c8"]]},{"id":"e5ca5f9.69cd0a","type":"comment","z":"4a94d9b8.5fd6f8","name":"Stepper Driver Control vCustom","info":"","x":130,"y":20,"wires":[]},{"id":"a8b7c252.ae466","type":"mosca in","z":"7f966e0f.d666c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":320,"wires":[[]]},{"id":"dd53ee3b.bc418","type":"inject","z":"7f966e0f.d666c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":360,"wires":[["d88d1671.9d48e8"]]},{"id":"7d944d92.616af4","type":"exec","z":"7f966e0f.d666c","command":"python3 ~/ventilator/stepper_driver_v2.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":640,"y":340,"wires":[[],[],[]]},{"id":"e82f52d1.3874f","type":"mqtt out","z":"7f966e0f.d666c","name":"","topic":"","qos":"","retain":"","broker":"2ef8f371.c0378c","x":490,"y":1220,"wires":[]},{"id":"346a325a.90fffe","type":"change","z":"7f966e0f.d666c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"root/stepper/ena","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1180,"wires":[["e82f52d1.3874f"]]},{"id":"81e7ca7b.b31e08","type":"change","z":"7f966e0f.d666c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"root/stepper/ena","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1300,"wires":[["e82f52d1.3874f"]]},{"id":"5bdbee97.d09ef","type":"comment","z":"7f966e0f.d666c","name":"Stepper driver, by DAP -------------------------------","info":"","x":190,"y":260,"wires":[]},{"id":"4048b9bf.b51c68","type":"comment","z":"f62818cd.f86418","name":"Buzzer, WIP by DAP -----------------------------------------------------","info":"","x":240,"y":1780,"wires":[]},{"id":"af568b5e.ae19a8","type":"comment","z":"63f647d5.2cf558","name":"vnc port 1 runner","info":"","x":80,"y":760,"wires":[]},{"id":"9ef26466.b9d1d8","type":"inject","z":"63f647d5.2cf558","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":800,"wires":[["6d01cdc9.6c6654"]]},{"id":"6d01cdc9.6c6654","type":"exec","z":"63f647d5.2cf558","command":"vncserver","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":240,"y":800,"wires":[[],[],[]]},{"id":"fecb2f8d.cf94c","type":"ui_template","z":"58e61889.b398d8","group":"2427dc15.12ad64","name":"","order":1,"width":"9","height":"4","format":"<iframe src=\"http://localhost:3000/d-solo/b9_8PTkgz/new-dashboard-copy?orgId=1&refresh=%201s&panelId=2\" width=\"450\" height=\"200\" frameborder=\"0\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":340,"y":3260,"wires":[[]]},{"id":"d88d1671.9d48e8","type":"exec","z":"7f966e0f.d666c","command":"pkill python3","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":360,"wires":[["7d944d92.616af4"],[],[]]},{"id":"43a80adc.43c744","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_01","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1840,"wires":[["510337b5.d7fc88"]]},{"id":"c93fdaae.57b038","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_02","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1880,"wires":[["510337b5.d7fc88"]]},{"id":"e413654a.384a78","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_03","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1920,"wires":[["510337b5.d7fc88"]]},{"id":"9df5c7e6.a27698","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_04","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1960,"wires":[["510337b5.d7fc88"]]},{"id":"f39201b9.e043","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_05","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2000,"wires":[["510337b5.d7fc88"]]},{"id":"2638f48.6a70b0c","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_06","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2040,"wires":[["510337b5.d7fc88"]]},{"id":"2f292cf4.233ca4","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_07","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2080,"wires":[["510337b5.d7fc88"]]},{"id":"fad90f54.a8ded","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_08","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2120,"wires":[["510337b5.d7fc88"]]},{"id":"f9fdd955.32a038","type":"switch","z":"f62818cd.f86418","name":"","property":"no","propertyType":"msg","rules":[{"t":"eq","v":"01","vt":"str"},{"t":"eq","v":"02","vt":"str"},{"t":"eq","v":"03","vt":"str"},{"t":"eq","v":"04","vt":"str"},{"t":"eq","v":"05","vt":"str"},{"t":"eq","v":"06","vt":"str"},{"t":"eq","v":"07","vt":"str"},{"t":"eq","v":"08","vt":"str"},{"t":"else"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":10,"x":150,"y":1980,"wires":[["43a80adc.43c744"],["c93fdaae.57b038"],["e413654a.384a78"],["9df5c7e6.a27698"],["f39201b9.e043"],["2638f48.6a70b0c"],["2f292cf4.233ca4"],["fad90f54.a8ded"],[],[]]},{"id":"48680d15.e7f624","type":"link out","z":"f62818cd.f86418","name":"","links":["8b976f8.b0f759"],"x":1035,"y":240,"wires":[]},{"id":"8b976f8.b0f759","type":"link in","z":"f62818cd.f86418","name":"","links":["48680d15.e7f624"],"x":40,"y":1980,"wires":[["f9fdd955.32a038","359e399d.d85866"]]},{"id":"133a4baf.5fd5d4","type":"link in","z":"f62818cd.f86418","name":"from buzzer control off","links":["f2e3c5c0.4060c8"],"x":215,"y":2340,"wires":[["12eac54c.a6d0db"]]},{"id":"21c3a724.3021a8","type":"comment","z":"f62818cd.f86418","name":"bt buzzer off","info":"","x":150,"y":2300,"wires":[]},{"id":"d7be85ca.b721d8","type":"link in","z":"f62818cd.f86418","name":"from buzzer control on","links":["ecfef24d.afd44"],"x":215,"y":2220,"wires":[["a2fb9526.8e9498"]]},{"id":"45b4f368.4da00c","type":"comment","z":"f62818cd.f86418","name":"bt buzzer on","info":"","x":150,"y":2180,"wires":[]},{"id":"e3a9539.531a6b","type":"comment","z":"f62818cd.f86418","name":"bt alarm reset","info":"","x":150,"y":2420,"wires":[]},{"id":"bc0b77ef.4e5d68","type":"link in","z":"f62818cd.f86418","name":"from alarm reset bt","links":["a556f9c9.c5b178"],"x":215,"y":2460,"wires":[["2371dce7.c29254"]]},{"id":"2371dce7.c29254","type":"change","z":"f62818cd.f86418","name":"Set all global.alarm_0x to false","rules":[{"t":"set","p":"alarm_01","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"alarm_02","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"alarm_03","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"alarm_04","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"alarm_05","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"alarm_06","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"alarm_07","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"alarm_08","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":2460,"wires":[["7b089342.4dfc4c"]]},{"id":"510337b5.d7fc88","type":"function","z":"f62818cd.f86418","name":"buzzerToneLevelSelect","func":"    var high = false;\n    var med = false;\n    var low = false;\n    var level = 0;\n    \n    var alarm_01 = global.get(\"alarm_01\")\n    var alarm_02 = global.get(\"alarm_02\")\n    var alarm_03 = global.get(\"alarm_03\")\n    var alarm_04 = global.get(\"alarm_04\")\n    var alarm_05 = global.get(\"alarm_05\")\n    var alarm_06 = global.get(\"alarm_06\")\n    var alarm_07 = global.get(\"alarm_07\")\n    var alarm_08 = global.get(\"alarm_08\")\n    \n    high = (alarm_01 || alarm_02 || alarm_03 || alarm_04);\n    med = (alarm_05 || alarm_06 || alarm_07);\n    low = alarm_08;\n    \n    if (global.get(\"buzzer_mute\")) {level = 0;}\n    else if (high) {level = 3;}\n    else if (med) {level = 2;}\n    else if (low) {level = 1;}\n    else {level = 0;}\n    \n    msg.topic = \"buzzer/level\"\n    msg.payload = level;\n    msg.stat_high = high;\n    msg.stat_med = med;\n    msg.stat_low = low;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":2140,"wires":[["bc9282c6.7dd67","359e399d.d85866"]]},{"id":"46a8c4ba.68931c","type":"rpi-gpio out","z":"f62818cd.f86418","name":"BUZZER_PIN","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1680,"y":2460,"wires":[]},{"id":"828cf322.f1155","type":"inject","z":"f62818cd.f86418","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1630,"y":2340,"wires":[["46a8c4ba.68931c"]]},{"id":"61e8ed4c.3788d4","type":"inject","z":"f62818cd.f86418","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1630,"y":2380,"wires":[["46a8c4ba.68931c"]]},{"id":"12eac54c.a6d0db","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"buzzer_mute","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2340,"wires":[["510337b5.d7fc88"]]},{"id":"a2fb9526.8e9498","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"buzzer_mute","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2220,"wires":[["7b089342.4dfc4c"]]},{"id":"718d1317.3a07ec","type":"switch","z":"f62818cd.f86418","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"buzzer_level_bfr","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":2320,"wires":[["557a7fe3.a2f5b"],["40fa6c54.8e9da4"]]},{"id":"8daf2db2.44529","type":"influxdb out","z":"63f647d5.2cf558","influxdb":"1d8a40a6.fc3f9f","name":"","measurement":"value","precision":"","retentionPolicy":"","x":640,"y":620,"wires":[]},{"id":"1efa990.396b467","type":"smooth","z":"63f647d5.2cf558","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","reduce":false,"x":400,"y":620,"wires":[["8daf2db2.44529"]]},{"id":"3adb202e.2e7ba","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"buzzer_step","pt":"global","to":"buzzer_step++","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2520,"wires":[[]]},{"id":"5134f695.540c58","type":"switch","z":"f62818cd.f86418","name":"","property":"buzzer_med_step","propertyType":"global","rules":[{"t":"gt","v":"100","vt":"str"},{"t":"lt","v":"50","vt":"num"},{"t":"lt","v":"100","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":990,"y":2440,"wires":[["557a7fe3.a2f5b"],["af1ed3ed.e979f"],["7b089342.4dfc4c"]]},{"id":"af1ed3ed.e979f","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":2460,"wires":[["46a8c4ba.68931c","3adb202e.2e7ba"]]},{"id":"7b089342.4dfc4c","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":2500,"wires":[["46a8c4ba.68931c","3adb202e.2e7ba"]]},{"id":"557a7fe3.a2f5b","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"buzzer_step","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":2400,"wires":[["af1ed3ed.e979f"]]},{"id":"bc9282c6.7dd67","type":"switch","z":"f62818cd.f86418","name":"toneLevelSwitch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":860,"y":2240,"wires":[["af1ed3ed.e979f"],["718d1317.3a07ec"],["718d1317.3a07ec"],["7b089342.4dfc4c"]]},{"id":"6617b1b1.5d91","type":"switch","z":"f62818cd.f86418","name":"","property":"buzzer_med_step","propertyType":"global","rules":[{"t":"gt","v":"100","vt":"str"},{"t":"lt","v":"20","vt":"num"},{"t":"lt","v":"100","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":990,"y":2500,"wires":[["557a7fe3.a2f5b"],["af1ed3ed.e979f"],["7b089342.4dfc4c"]]},{"id":"40fa6c54.8e9da4","type":"switch","z":"f62818cd.f86418","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":2380,"wires":[["5134f695.540c58"],["6617b1b1.5d91"]]},{"id":"359e399d.d85866","type":"debug","z":"f62818cd.f86418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":2020,"wires":[]},{"id":"5c80fcf1.a686b4","type":"inject","z":"f62818cd.f86418","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":2180,"wires":[["12eac54c.a6d0db","fbe3be0c.92c27","6b336547.51b8bc","ca2714b6.24e7f8","f918a0b0.1feb5","5d9656dd.f66098","39399b3c.354464","c6ca2745.04e7c8","503dcd60.4be004"]]},{"id":"9e03cc63.d0a58","type":"inject","z":"f62818cd.f86418","name":"","topic":"","payload":"01_ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":240,"wires":[["9a58de0d.4cc72"]]},{"id":"fbe3be0c.92c27","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_01","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1720,"wires":[[]]},{"id":"6b336547.51b8bc","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_02","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1760,"wires":[[]]},{"id":"ca2714b6.24e7f8","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_03","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1800,"wires":[[]]},{"id":"f918a0b0.1feb5","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_04","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1840,"wires":[[]]},{"id":"5d9656dd.f66098","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_05","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1880,"wires":[[]]},{"id":"39399b3c.354464","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_06","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1920,"wires":[[]]},{"id":"c6ca2745.04e7c8","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_07","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1960,"wires":[[]]},{"id":"503dcd60.4be004","type":"change","z":"f62818cd.f86418","name":"","rules":[{"t":"set","p":"alarm_08","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2000,"wires":[[]]}]