phase6/utils/Backup_25Mei2021/flows_25_mei_2021.json
[{"id":"dea9ee4a.091b4","type":"tab","label":"Sensor, Detection, Alarm","disabled":false,"info":""},{"id":"811eb35.554d75","type":"tab","label":"Actuator Motor","disabled":false,"info":""},{"id":"927d9689.f973b8","type":"tab","label":"Data, Variables, Misc","disabled":false,"info":""},{"id":"c234feb0.ef673","type":"tab","label":"Dashboard Ventilator","disabled":false,"info":""},{"id":"9676a003.8e781","type":"subflow","name":"Stepper Motor","info":"","category":"","in":[{"x":160,"y":100,"wires":[{"id":"ba32bdc0.646c4"}]}],"out":[{"x":1044,"y":79,"wires":[{"id":"e922314a.2bd91","port":0}]},{"x":1041,"y":137,"wires":[{"id":"e922314a.2bd91","port":1}]},{"x":1042,"y":189,"wires":[{"id":"e922314a.2bd91","port":2}]},{"x":1044,"y":242,"wires":[{"id":"e922314a.2bd91","port":3}]},{"x":1025,"y":379,"wires":[{"id":"e922314a.2bd91","port":4},{"id":"ced5034a.6b276","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"10669cce.ccb1e3","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":54,"sy":53,"gx":5,"gy":5,"cx":3,"cy":1,"px":4,"py":4}}},{"id":"85fb4f9c.e9739","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"1000"},{"id":"25a911f6.fdd9be","type":"ui_spacer","name":"spacer","group":"","order":4,"width":"9","height":"2"},{"id":"211de2c0.cd5b0e","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"566cb6a6.5a22b8","type":"ui_spacer","name":"spacer","group":"","order":4,"width":"9","height":"2"},{"id":"69d6c2f.735763c","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"84c5aeb7.aec73","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"2bee2f54.416b5","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"550567f5.085da8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"bf39b783.e646c8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"180f73e5.4f9dcc","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"464211c3.a2ca6","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"b09a5bdd.fd9338","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"71a7bd0f.8d70e4","type":"ui_spacer","name":"spacer","group":"","order":1,"width":"5","height":1},{"id":"4899bf13.ffd8c","type":"ui_tab","z":"","name":"Ventilator Use Mode","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"1a16f847.37b6a8","type":"ui_group","z":"","name":"Choose Use Option","tab":"4899bf13.ffd8c","order":2,"disp":true,"width":"9","collapse":false},{"id":"93a0ab82.cbea78","type":"ui_tab","z":"","name":"Input Setting Value","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"7186aff0.efeae","type":"ui_group","z":"","name":"Setting","tab":"93a0ab82.cbea78","order":2,"disp":true,"width":"9","collapse":false},{"id":"a1d34288.489cb","type":"ui_group","z":"","name":"Alarm","tab":"4899bf13.ffd8c","order":5,"disp":true,"width":"9","collapse":false},{"id":"7d9abf5c.20d99","type":"ui_group","z":"","name":"Navigation","tab":"4899bf13.ffd8c","order":3,"disp":false,"width":"9","collapse":false},{"id":"cb63702e.8a642","type":"ui_spacer","name":"spacer","group":"1a16f847.37b6a8","order":4,"width":"9","height":"2"},{"id":"2148ed30.41a932","type":"ui_group","z":"","name":"Alarm","tab":"93a0ab82.cbea78","order":5,"disp":true,"width":"9","collapse":false},{"id":"ca2fe840.3dd0c8","type":"ui_tab","z":"","name":"Input Alarm Threshold","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"7775cf38.ae09d","type":"ui_group","z":"","name":"Setting","tab":"ca2fe840.3dd0c8","order":2,"disp":true,"width":"9","collapse":false},{"id":"7651cd96.a116e4","type":"ui_group","z":"","name":"Alarm","tab":"ca2fe840.3dd0c8","order":5,"disp":true,"width":"9","collapse":false},{"id":"382bb872.e748e8","type":"ui_tab","z":"","name":"Ventilator Monitoring","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"410c9e1f.ac8cf","type":"ui_group","z":"","name":"showchart","tab":"382bb872.e748e8","order":3,"disp":false,"width":"9","collapse":false},{"id":"45ff047a.6a3e1c","type":"ui_group","z":"","name":"Alarm","tab":"382bb872.e748e8","order":7,"disp":true,"width":"9","collapse":false},{"id":"96f6a924.736ba8","type":"ui_group","z":"","name":"Navigation","tab":"93a0ab82.cbea78","order":3,"disp":false,"width":"9","collapse":false},{"id":"7d3e815c.f14cc","type":"ui_spacer","name":"spacer","group":"96f6a924.736ba8","order":2,"width":1,"height":1},{"id":"1a8ad9e3.6a7de6","type":"ui_group","z":"","name":"Navigation","tab":"ca2fe840.3dd0c8","order":3,"disp":false,"width":"9","collapse":false},{"id":"e7b72900.1ecd98","type":"ui_spacer","name":"spacer","group":"7775cf38.ae09d","order":4,"width":"9","height":"2"},{"id":"fb38bc0c.0f2bd","type":"ui_spacer","name":"spacer","group":"1a8ad9e3.6a7de6","order":2,"width":1,"height":1},{"id":"d2caa19c.b7ab3","type":"ui_group","z":"","name":"Title","tab":"93a0ab82.cbea78","order":1,"disp":false,"width":"9","collapse":false},{"id":"68704283.9c276c","type":"ui_group","z":"","name":"Title","tab":"ca2fe840.3dd0c8","order":1,"disp":false,"width":"9","collapse":false},{"id":"3c8c110d.30d28e","type":"ui_group","z":"","name":"Title","tab":"382bb872.e748e8","order":1,"disp":false,"width":"9","collapse":false},{"id":"308ee0c9.b4a38","type":"ui_group","z":"","name":"Navigation","tab":"382bb872.e748e8","order":5,"disp":false,"width":"9","collapse":false},{"id":"ef7b6fc7.03b4a","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"3fc97fc1.39749","type":"ui_spacer","name":"spacer","group":"308ee0c9.b4a38","order":2,"width":1,"height":1},{"id":"8c2984b9.abd048","type":"ui_spacer","name":"spacer","group":"1a16f847.37b6a8","order":1,"width":1,"height":1},{"id":"1cde5b5f.611585","type":"ui_spacer","name":"spacer","group":"7d9abf5c.20d99","order":2,"width":"1","height":1},{"id":"108cbf01.e5c471","type":"ui_group","z":"","name":"Title","tab":"4899bf13.ffd8c","order":1,"disp":false,"width":"9","collapse":false},{"id":"913f80b.7920f8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f95f37c1.8798c8","type":"ui_group","z":"","name":"Group 5","tab":"4899bf13.ffd8c","order":4,"disp":false,"width":"9","collapse":false},{"id":"3ba9c398.8f3ebc","type":"ui_spacer","name":"spacer","group":"f95f37c1.8798c8","order":5,"width":1,"height":1},{"id":"3649adea.4827e2","type":"ui_group","z":"","name":"Group 5","tab":"93a0ab82.cbea78","order":4,"disp":false,"width":"9","collapse":false},{"id":"b780f175.09b2f","type":"ui_spacer","name":"spacer","group":"3649adea.4827e2","order":5,"width":1,"height":1},{"id":"b864b673.a2ef88","type":"ui_group","z":"","name":"Group 5","tab":"ca2fe840.3dd0c8","order":4,"disp":false,"width":"9","collapse":false},{"id":"9948532d.bedf9","type":"ui_spacer","name":"spacer","group":"b864b673.a2ef88","order":5,"width":1,"height":1},{"id":"c9263dd0.4c6a3","type":"ui_group","z":"","name":"Set Value","tab":"382bb872.e748e8","order":6,"disp":false,"width":"9","collapse":false},{"id":"a27e7919.2f3458","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"ventilator2","name":"","usetls":false,"tls":""},{"id":"989b6410.143868","type":"serial-port","z":"","serialport":"/dev/ttyUSB1","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"41e3b5cc.a76bdc","type":"ui_group","z":"","name":"Title","tab":"","order":1,"disp":false,"width":"9","collapse":false},{"id":"64c781ea.4cbe4","type":"ui_group","z":"","name":"Gambar","tab":"","order":2,"disp":false,"width":"9","collapse":false},{"id":"d6d799e8.10a6f8","type":"ui_group","z":"","name":"text display","tab":"","order":3,"disp":false,"width":"9","collapse":false},{"id":"1a678351.d51d3d","type":"ui_group","z":"","name":"Navigation","tab":"","order":4,"disp":false,"width":"9","collapse":false},{"id":"2e5c4bc6.aa1204","type":"ui_group","z":"","name":"Alarm","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"7c7678d0.d167f8","type":"ui_spacer","name":"spacer","group":"1a678351.d51d3d","order":4,"width":1,"height":1},{"id":"f7d851f2.d077","type":"ui_group","z":"","name":"Title","tab":"37032780.61ab48","order":1,"disp":false,"width":"9","collapse":false},{"id":"2570d1e1.9b8bce","type":"ui_group","z":"","name":"Gambar","tab":"37032780.61ab48","order":2,"disp":false,"width":"9","collapse":false},{"id":"72f3f941.432c18","type":"ui_group","z":"","name":"Navigation","tab":"37032780.61ab48","order":4,"disp":false,"width":"9","collapse":false},{"id":"fa3ccd5b.855f7","type":"ui_group","z":"","name":"text display","tab":"37032780.61ab48","order":3,"disp":false,"width":"9","collapse":false},{"id":"37032780.61ab48","type":"ui_tab","z":"","name":"Kalibrasi Flow Pressure","icon":"dashboard","order":5,"disabled":false,"hidden":true},{"id":"7710d010.a4402","type":"ui_group","z":"","name":"Alarm","tab":"37032780.61ab48","order":5,"disp":false,"width":"9","collapse":false},{"id":"78c6aa23.300724","type":"ui_spacer","name":"spacer","group":"72f3f941.432c18","order":2,"width":1,"height":1},{"id":"a420ba14.ddc818","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"ventilator","tz":""},{"id":"20600b38.b92fc4","type":"ui_group","z":"","name":"Sense","tab":"382bb872.e748e8","order":4,"disp":false,"width":"9","collapse":false},{"id":"5985a320.da364c","type":"ui_group","z":"","d":true,"name":"startchart","tab":"382bb872.e748e8","order":2,"disp":false,"width":"9","collapse":false},{"id":"e27045a4.e6ee28","type":"ui_spacer","name":"spacer","group":"5985a320.da364c","order":3,"width":"9","height":"3"},{"id":"ced5034a.6b276","type":"function","z":"9676a003.8e781","name":"Toggle Direction","func":"var direction = flow.get('direction')||0;\n\nif (direction === -1)\n{\n    direction = 1;\n}\nelse {\n    direction = -1;\n}\nflow.set('direction',direction);\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":267,"wires":[[]]},{"id":"ba32bdc0.646c4","type":"switch","z":"9676a003.8e781","name":"Step or Direction","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Step","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":291,"y":171,"wires":[["ff55bbc0.db4e98"],["ced5034a.6b276"]]},{"id":"f61ad706.048cc8","type":"comment","z":"9676a003.8e781","name":"Flow Variables","info":"* Direction\n* Sequence\n* SequenceIndex","x":279,"y":42,"wires":[]},{"id":"e922314a.2bd91","type":"function","z":"9676a003.8e781","name":"Sequence Generator","func":"var seqindex = context.get('seqindex')||0;\nvar sequence = [ [1,0,0,0],[1,1,0,0],[0,1,0,0],[0,1,1,0],[0,0,1,0],[0,0,1,1],[0,0,0,1],[1,0,0,1]]\nvar direction = flow.get('direction');\n\nseqindex = (seqindex % (sequence.length));\nif (seqindex == -1) {seqindex = sequence.length-1;}\n\nmsg.payload = sequence[seqindex];\nmsg.seqindex = seqindex;\nmsg.direction = direction;\n\ncontext.set('seqindex',seqindex+direction);\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Step\"});\nnode.status({});\n\nreturn GenerateOutput(seqindex);\n\nfunction GenerateOutput(index) {\n    return [ NewMessage(sequence[index][0]), NewMessage(sequence[index][1]),NewMessage(sequence[index][2]),NewMessage(sequence[index][3]), msg  ];\n}\n\nfunction NewMessage(val) {\n    return { payload:val };\n}","outputs":"5","noerr":0,"x":720,"y":174,"wires":[[],[],[],[],[]]},{"id":"ff55bbc0.db4e98","type":"function","z":"9676a003.8e781","name":"Multistep","func":"var outputMsgs = [];\nvar steps = msg.payload;\nfor (var count = 0; count < steps; count++) { \n    outputMsgs.push({payload:1});\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":434,"y":90,"wires":[["71c57acf.f43104"]]},{"id":"71c57acf.f43104","type":"delay","z":"9676a003.8e781","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":615,"y":76,"wires":[["e922314a.2bd91"]]},{"id":"ca5f1689.d4c288","type":"comment","z":"dea9ee4a.091b4","name":"Sensor Flow ---------------------------------------------------------","info":"Check for:\n1. Spurious Breath\n2. Volume Over","x":220,"y":880,"wires":[],"icon":"node-red/arrow-in.svg"},{"id":"e8d6d6a6.b0f758","type":"function","z":"dea9ee4a.091b4","d":true,"name":"calcBit2Flow","func":"var flow_raw = parseFloat(msg.payload); // in 16 bit\n//flow_raw = flow_raw * 6.144 / 32768; // in volt\n\n// flow_val = Math.sqrt(flow_raw);\n\n// offset + gain adjust\n//flow_val = (25.188 * flow_val) + 2915.7;\nvar flow_val = flow_raw;\n\nmsg.topic = \"flow_val\";\nmsg.payload = flow_val;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":920,"wires":[["c0b72a1b.1be3b8"]]},{"id":"3d8ce83e.cce5e8","type":"comment","z":"c234feb0.ef673","name":"Page 1","info":"- Choose between mandatory volume control and assisted volume control\n- Display Alarm\n- Apply page lead to Input setting value","x":50,"y":1440,"wires":[]},{"id":"289a19fc.580166","type":"ui_button","z":"c234feb0.ef673","name":"","group":"1a16f847.37b6a8","order":2,"width":0,"height":0,"passthru":false,"label":"Mandatory Volume Control","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Mandatory Volume Control","payloadType":"str","topic":"","x":560,"y":1580,"wires":[["c322688c.e89198","4ce4d8d5.7ac268","2fbac5a6.5764ca"]]},{"id":"e5ba5de1.7392e","type":"ui_button","z":"c234feb0.ef673","name":"","group":"1a16f847.37b6a8","order":3,"width":0,"height":0,"passthru":false,"label":"Assisted Volume Control","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Assisted Volume Control","payloadType":"str","topic":"","x":550,"y":1620,"wires":[["c322688c.e89198","4ce4d8d5.7ac268","4116245a.4a3cbc"]]},{"id":"8c4cee83.4d4b7","type":"ui_button","z":"c234feb0.ef673","name":"","group":"a1d34288.489cb","order":1,"width":"3","height":"1","passthru":false,"label":"High Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":660,"wires":[[]]},{"id":"6c4ede0c.04648","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":660,"wires":[["8c4cee83.4d4b7","b86977f5.49a448","1893473.6101cb9","1402675c.b0ede9","410b3daa.955ad4"]]},{"id":"33be127e.d8eece","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":700,"wires":[["8c4cee83.4d4b7","b86977f5.49a448","1893473.6101cb9","1402675c.b0ede9","410b3daa.955ad4"]]},{"id":"656162ea.b0c2fc","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":660,"wires":[["6c4ede0c.04648","9352bfa7.258fe"],["33be127e.d8eece"]]},{"id":"f70dcb43.ae1378","type":"ui_button","z":"c234feb0.ef673","name":"","group":"a1d34288.489cb","order":2,"width":"3","height":"1","passthru":false,"label":"Low Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":860,"wires":[[]]},{"id":"7de673df.97407c","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":860,"wires":[["f70dcb43.ae1378","61e1d2e9.73342c","35755081.f84a6","f8ed9d58.f97d4","611938f3.7692b8"]]},{"id":"64c28ddc.ee1dc4","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":900,"wires":[["f70dcb43.ae1378","61e1d2e9.73342c","35755081.f84a6","f8ed9d58.f97d4","611938f3.7692b8"]]},{"id":"2a9aa268.52072e","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":860,"wires":[["7de673df.97407c","6a7965d9.13aeac"],["64c28ddc.ee1dc4"]]},{"id":"f5f6db77.67b0f8","type":"ui_button","z":"c234feb0.ef673","name":"","group":"a1d34288.489cb","order":4,"width":"3","height":"1","passthru":false,"label":"Fighting","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":760,"y":1040,"wires":[[]]},{"id":"cd9c6826.136108","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1040,"wires":[["f5f6db77.67b0f8","ad2bf8c1.b97bd8","7582ac.67266d54","4c0e73c3.54af8c","143260bf.f30a6f"]]},{"id":"2bfc1a28.016ec6","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1080,"wires":[["f5f6db77.67b0f8","ad2bf8c1.b97bd8","7582ac.67266d54","4c0e73c3.54af8c","143260bf.f30a6f"]]},{"id":"38c187be.0a4b78","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1040,"wires":[["cd9c6826.136108","b2bd6044.8d6ed"],["2bfc1a28.016ec6"]]},{"id":"c44b15af.28b828","type":"ui_button","z":"c234feb0.ef673","name":"","group":"a1d34288.489cb","order":5,"width":"3","height":"1","passthru":false,"label":"Emergency","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":1240,"wires":[[]]},{"id":"fc5a5001.a51e7","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1240,"wires":[["c44b15af.28b828","48bf5a0a.405b34","721072ed.d0a25c","28064426.2adccc","2169efed.e0971"]]},{"id":"bbd4868.4c66a78","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1280,"wires":[["c44b15af.28b828","48bf5a0a.405b34","721072ed.d0a25c","28064426.2adccc","2169efed.e0971"]]},{"id":"825b82eb.f7677","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1240,"wires":[["fc5a5001.a51e7","3aa2d417.f1bdfc"],["bbd4868.4c66a78"]]},{"id":"3714d97e.ad9966","type":"ui_button","z":"c234feb0.ef673","name":"","group":"a1d34288.489cb","order":6,"width":"3","height":"1","passthru":false,"label":"Spurious","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1700,"y":660,"wires":[[]]},{"id":"880e37c.97439c8","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":660,"wires":[["3714d97e.ad9966","ac62c9ed.3d4178","3df2c173.ee2a7e","fac452d6.ad60c","a7e9e164.bd8a9"]]},{"id":"94967f56.701eb","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":700,"wires":[["3714d97e.ad9966","ac62c9ed.3d4178","3df2c173.ee2a7e","fac452d6.ad60c","a7e9e164.bd8a9"]]},{"id":"7de5a5c4.6909dc","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":660,"wires":[["880e37c.97439c8"],["94967f56.701eb"]]},{"id":"6950bb00.dcd9a4","type":"ui_button","z":"c234feb0.ef673","name":"","group":"a1d34288.489cb","order":7,"width":"3","height":"1","passthru":false,"label":"Over Vol","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1700,"y":860,"wires":[[]]},{"id":"f346c1cf.f463d","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":860,"wires":[["6950bb00.dcd9a4","f533e664.14f8d8","207ed65f.f24b7a","e89b167b.c3feb8","88e90a0e.d24ad8"]]},{"id":"486d91a5.aedf2","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":900,"wires":[["6950bb00.dcd9a4","f533e664.14f8d8","207ed65f.f24b7a","e89b167b.c3feb8","88e90a0e.d24ad8"]]},{"id":"4e8eb7eb.fce548","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":860,"wires":[["f346c1cf.f463d"],["486d91a5.aedf2"]]},{"id":"729c24e9.8b675c","type":"ui_button","z":"c234feb0.ef673","name":"","group":"a1d34288.489cb","order":9,"width":"3","height":"1","passthru":false,"label":"Low PEEP","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1710,"y":1040,"wires":[[]]},{"id":"d27337dc.f10258","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1040,"wires":[["729c24e9.8b675c","f2bfb474.c16078","8afb0d22.3448f","b215c394.f077c","90926e88.43e6a"]]},{"id":"1510344.7b2f5cc","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1080,"wires":[["729c24e9.8b675c","f2bfb474.c16078","8afb0d22.3448f","b215c394.f077c","90926e88.43e6a"]]},{"id":"c7a4c429.458d78","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":1040,"wires":[["d27337dc.f10258"],["1510344.7b2f5cc"]]},{"id":"34482de6.46cb52","type":"ui_button","z":"c234feb0.ef673","name":"","group":"a1d34288.489cb","order":10,"width":"3","height":"1","passthru":false,"label":"Low/High O2","tooltip":"","color":"{{textcolour}}","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1710,"y":1240,"wires":[[]]},{"id":"a257c8a3.d45958","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"yellow","tot":"str"},{"t":"set","p":"textcolour","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1240,"wires":[["34482de6.46cb52","c860f5e1.53ed18","d9c16b47.8eff08","d7f3286c.5ef168","2f08ceae.801942"]]},{"id":"ad56de76.e5894","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"grey","tot":"str"},{"t":"set","p":"textcolour","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1280,"wires":[["34482de6.46cb52","c860f5e1.53ed18","d9c16b47.8eff08","d7f3286c.5ef168","2f08ceae.801942"]]},{"id":"d19c3dbd.68bd4","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":1240,"wires":[["a257c8a3.d45958"],["ad56de76.e5894"]]},{"id":"5409e052.3271b","type":"ui_button","z":"c234feb0.ef673","name":"silence bt","group":"a1d34288.489cb","order":8,"width":"3","height":"2","passthru":false,"label":"{{labelsilence}}","tooltip":"","color":"{{textcoloursilence}}","bgcolor":"{{coloursilence}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":460,"wires":[["df265240.6b18b"]]},{"id":"f31f7eed.22a43","type":"ui_button","z":"c234feb0.ef673","name":"","group":"a1d34288.489cb","order":3,"width":"3","height":"2","passthru":false,"label":"RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":460,"wires":[["44282871.69d8d8"]]},{"id":"a0a33c0f.cb3ec","type":"comment","z":"c234feb0.ef673","name":"Page Alarm","info":"Display Alarm \nbutton will change colour if alarm detected\n","x":70,"y":380,"wires":[]},{"id":"f8095957.725b28","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7d9abf5c.20d99","order":3,"width":"4","height":"1","passthru":false,"label":"Apply","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Input Setting Value","payloadType":"str","topic":"","x":1050,"y":1700,"wires":[["930e6d97.b53ad","1ac2ca74.3a7036","d677cad9.baabe8"]]},{"id":"930e6d97.b53ad","type":"ui_ui_control","z":"c234feb0.ef673","name":"","events":"all","x":1200,"y":1700,"wires":[[]]},{"id":"9e5083eb.10b49","type":"ui_numeric","z":"c234feb0.ef673","name":"","label":"I:E (ratio) ","tooltip":"","group":"7186aff0.efeae","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"1 : {{value}}","min":0,"max":"3","step":1,"x":560,"y":2080,"wires":[["953eaf6b.52996"]]},{"id":"fd45e3e0.38d04","type":"comment","z":"c234feb0.ef673","name":"Page 2","info":"- Setting value","x":50,"y":1980,"wires":[]},{"id":"a2cf4b84.116528","type":"ui_numeric","z":"c234feb0.ef673","name":"","label":"RR (bpm)","tooltip":"","group":"7186aff0.efeae","order":0,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":"10","max":"30","step":"1","x":380,"y":2160,"wires":[["f5995494.babf28"]]},{"id":"7a3cdc4b.f27aa4","type":"ui_numeric","z":"c234feb0.ef673","name":"","label":"FiO2 (%)","tooltip":"","group":"7186aff0.efeae","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"100","step":"5","x":560,"y":2220,"wires":[["e341c51f.ad4088"]]},{"id":"c2394a35.d329e8","type":"ui_numeric","z":"c234feb0.ef673","name":"","label":"PEEP (cmH2O)","tooltip":"","group":"7186aff0.efeae","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"20","step":1,"x":580,"y":2280,"wires":[["af08716c.4e3fb"]]},{"id":"80d11a72.28cf58","type":"ui_numeric","z":"c234feb0.ef673","name":"","label":"VTi (ml)","tooltip":"","group":"7186aff0.efeae","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"300","max":"600","step":"100","x":560,"y":2340,"wires":[["979fa7b8.14cbe8"]]},{"id":"b86977f5.49a448","type":"ui_button","z":"c234feb0.ef673","name":"","group":"2148ed30.41a932","order":1,"width":"3","height":"1","passthru":false,"label":"High Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":700,"wires":[[]]},{"id":"1893473.6101cb9","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7651cd96.a116e4","order":1,"width":"3","height":"1","passthru":false,"label":"High Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":740,"wires":[[]]},{"id":"1402675c.b0ede9","type":"ui_button","z":"c234feb0.ef673","name":"","group":"45ff047a.6a3e1c","order":1,"width":"3","height":"1","passthru":false,"label":"High Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":780,"wires":[[]]},{"id":"61e1d2e9.73342c","type":"ui_button","z":"c234feb0.ef673","name":"","group":"2148ed30.41a932","order":2,"width":"3","height":"1","passthru":false,"label":"Low Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":900,"wires":[[]]},{"id":"35755081.f84a6","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7651cd96.a116e4","order":2,"width":"3","height":"1","passthru":false,"label":"Low Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":940,"wires":[[]]},{"id":"f8ed9d58.f97d4","type":"ui_button","z":"c234feb0.ef673","name":"","group":"45ff047a.6a3e1c","order":2,"width":"3","height":"1","passthru":false,"label":"Low Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":980,"wires":[[]]},{"id":"ad2bf8c1.b97bd8","type":"ui_button","z":"c234feb0.ef673","name":"","group":"2148ed30.41a932","order":4,"width":"3","height":"1","passthru":false,"label":"Fighting","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":760,"y":1080,"wires":[[]]},{"id":"7582ac.67266d54","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7651cd96.a116e4","order":4,"width":"3","height":"1","passthru":false,"label":"Fighting","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":760,"y":1120,"wires":[[]]},{"id":"4c0e73c3.54af8c","type":"ui_button","z":"c234feb0.ef673","name":"","group":"45ff047a.6a3e1c","order":4,"width":"3","height":"1","passthru":false,"label":"Fighting","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":760,"y":1160,"wires":[[]]},{"id":"48bf5a0a.405b34","type":"ui_button","z":"c234feb0.ef673","name":"","group":"2148ed30.41a932","order":5,"width":"3","height":"1","passthru":false,"label":"Emergency","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":1280,"wires":[[]]},{"id":"721072ed.d0a25c","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7651cd96.a116e4","order":5,"width":"3","height":"1","passthru":false,"label":"Emergency","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":1320,"wires":[[]]},{"id":"28064426.2adccc","type":"ui_button","z":"c234feb0.ef673","name":"","group":"45ff047a.6a3e1c","order":5,"width":"3","height":"1","passthru":false,"label":"Emergency","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":1360,"wires":[[]]},{"id":"ac62c9ed.3d4178","type":"ui_button","z":"c234feb0.ef673","name":"","group":"2148ed30.41a932","order":6,"width":"3","height":"1","passthru":false,"label":"Spurious","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1700,"y":700,"wires":[[]]},{"id":"3df2c173.ee2a7e","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7651cd96.a116e4","order":6,"width":"3","height":"1","passthru":false,"label":"Spurious","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1700,"y":740,"wires":[[]]},{"id":"fac452d6.ad60c","type":"ui_button","z":"c234feb0.ef673","name":"","group":"45ff047a.6a3e1c","order":6,"width":"3","height":"1","passthru":false,"label":"Spurious","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1700,"y":780,"wires":[[]]},{"id":"f533e664.14f8d8","type":"ui_button","z":"c234feb0.ef673","name":"","group":"2148ed30.41a932","order":7,"width":"3","height":"1","passthru":false,"label":"Over Vol","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1700,"y":903,"wires":[[]]},{"id":"207ed65f.f24b7a","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7651cd96.a116e4","order":7,"width":"3","height":"1","passthru":false,"label":"Over Vol","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1700,"y":946,"wires":[[]]},{"id":"e89b167b.c3feb8","type":"ui_button","z":"c234feb0.ef673","name":"","group":"45ff047a.6a3e1c","order":7,"width":"3","height":"1","passthru":false,"label":"Over Vol","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1700,"y":987,"wires":[[]]},{"id":"f2bfb474.c16078","type":"ui_button","z":"c234feb0.ef673","name":"","group":"2148ed30.41a932","order":9,"width":"3","height":"1","passthru":false,"label":"Low PEEP","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1710,"y":1080,"wires":[[]]},{"id":"8afb0d22.3448f","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7651cd96.a116e4","order":9,"width":"3","height":"1","passthru":false,"label":"Low PEEP","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1710,"y":1120,"wires":[[]]},{"id":"b215c394.f077c","type":"ui_button","z":"c234feb0.ef673","name":"","group":"45ff047a.6a3e1c","order":9,"width":"3","height":"1","passthru":false,"label":"Low PEEP","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1710,"y":1160,"wires":[[]]},{"id":"c860f5e1.53ed18","type":"ui_button","z":"c234feb0.ef673","name":"","group":"2148ed30.41a932","order":10,"width":"3","height":"1","passthru":false,"label":"Low/High O2","tooltip":"","color":"{{textcolour}}","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1710,"y":1280,"wires":[[]]},{"id":"d9c16b47.8eff08","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7651cd96.a116e4","order":10,"width":"3","height":"1","passthru":false,"label":"Low/High O2","tooltip":"","color":"{{textcolour}}","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1710,"y":1320,"wires":[[]]},{"id":"d7f3286c.5ef168","type":"ui_button","z":"c234feb0.ef673","name":"","group":"45ff047a.6a3e1c","order":10,"width":"3","height":"1","passthru":false,"label":"Low/High O2","tooltip":"","color":"{{textcolour}}","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1710,"y":1360,"wires":[[]]},{"id":"f7fc8fec.8737e","type":"ui_button","z":"c234feb0.ef673","name":"silence bt","group":"2148ed30.41a932","order":8,"width":"3","height":"2","passthru":false,"label":"{{labelsilence}}","tooltip":"","color":"{{textcoloursilence}}","bgcolor":"{{coloursilence}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":500,"wires":[["df265240.6b18b"]]},{"id":"75db60ac.33d2c","type":"ui_button","z":"c234feb0.ef673","name":"silence bt","group":"7651cd96.a116e4","order":8,"width":"3","height":"2","passthru":false,"label":"{{labelsilence}}","tooltip":"","color":"{{textcoloursilence}}","bgcolor":"{{coloursilence}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":540,"wires":[["df265240.6b18b"]]},{"id":"15c91d30.c79da3","type":"ui_button","z":"c234feb0.ef673","name":"silence bt","group":"45ff047a.6a3e1c","order":8,"width":"3","height":"2","passthru":false,"label":"{{labelsilence}}","tooltip":"","color":"{{textcoloursilence}}","bgcolor":"{{coloursilence}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":580,"wires":[["df265240.6b18b"]]},{"id":"4941a853.5e8a08","type":"ui_button","z":"c234feb0.ef673","name":"","group":"2148ed30.41a932","order":3,"width":"3","height":"2","passthru":false,"label":"RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":500,"wires":[["44282871.69d8d8"]]},{"id":"7eedf245.4be4dc","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7651cd96.a116e4","order":3,"width":"3","height":"2","passthru":false,"label":"RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":540,"wires":[["44282871.69d8d8"]]},{"id":"585fc4e0.8eaa3c","type":"ui_button","z":"c234feb0.ef673","name":"","group":"45ff047a.6a3e1c","order":3,"width":"3","height":"2","passthru":false,"label":"RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":580,"wires":[["44282871.69d8d8"]]},{"id":"339e442b.2525ac","type":"ui_button","z":"c234feb0.ef673","name":"","group":"96f6a924.736ba8","order":1,"width":"4","height":"1","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Ventilator Use Mode","payloadType":"str","topic":"","x":550,"y":2400,"wires":[["eacf1f02.32851"]]},{"id":"eacf1f02.32851","type":"ui_ui_control","z":"c234feb0.ef673","name":"","events":"all","x":720,"y":2400,"wires":[[]]},{"id":"4b007125.578cc","type":"ui_button","z":"c234feb0.ef673","name":"","group":"96f6a924.736ba8","order":3,"width":"4","height":"1","passthru":false,"label":"Next","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Input Alarm Threshold","payloadType":"str","topic":"","x":550,"y":2440,"wires":[["6c3566f.fdc0398","eacf1f02.32851","299946d3.4debca"]]},{"id":"e4c8a88a.2a6408","type":"ui_numeric","z":"c234feb0.ef673","name":"","label":"High Press Limit (cmH2O)","tooltip":"","group":"7775cf38.ae09d","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"5","max":"150","step":"5","x":390,"y":2800,"wires":[["5198e279.628d1c"]]},{"id":"6021754.8f3028c","type":"comment","z":"c234feb0.ef673","name":"Page 3","info":"- Setting alarm treshold","x":50,"y":2680,"wires":[]},{"id":"da24ec72.0220a","type":"ui_numeric","z":"c234feb0.ef673","name":"","label":"Low Press Limit (cmH2O)","tooltip":"","group":"7775cf38.ae09d","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"10","step":1,"x":390,"y":2860,"wires":[["924206.fb57adf8"]]},{"id":"9fd1f288.4efd1","type":"ui_numeric","z":"c234feb0.ef673","name":"","label":"O2 Tolerance (%)","tooltip":"","group":"7775cf38.ae09d","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"5","max":"30","step":1,"x":370,"y":2920,"wires":[["f66bd94e.cc3788"]]},{"id":"b5590de1.a30a8","type":"ui_button","z":"c234feb0.ef673","name":"","group":"1a8ad9e3.6a7de6","order":1,"width":"4","height":"1","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Input Setting Value","payloadType":"str","topic":"","x":330,"y":3000,"wires":[["24d8de1d.7b8f42"]]},{"id":"24d8de1d.7b8f42","type":"ui_ui_control","z":"c234feb0.ef673","name":"","events":"all","x":500,"y":3000,"wires":[[]]},{"id":"86a4082e.c48228","type":"ui_button","z":"c234feb0.ef673","name":"","group":"1a8ad9e3.6a7de6","order":3,"width":"4","height":"1","passthru":false,"label":"Next","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Ventilator Monitoring","payloadType":"str","topic":"","x":330,"y":3040,"wires":[["43aeaf3f.ec01f","24d8de1d.7b8f42","39b9d5ff.fdb84a"]]},{"id":"929d2a62.30bd68","type":"comment","z":"c234feb0.ef673","name":"Page 4","info":"Main Page contain :\n- chart\n- read value\n- setting value\n- alarm","x":50,"y":3160,"wires":[]},{"id":"55dc2e84.7431b","type":"ui_text","z":"c234feb0.ef673","group":"20600b38.b92fc4","order":1,"width":"3","height":"1","name":"","label":"PIP","format":"{{msg.payload | number:2}} cmH2O","layout":"col-center","x":1190,"y":3260,"wires":[]},{"id":"a17c1ccc.d97b1","type":"ui_text","z":"c234feb0.ef673","group":"20600b38.b92fc4","order":2,"width":"3","height":"1","name":"","label":"IPP","format":"{{msg.payload | number:2}} cmH2O","layout":"col-center","x":930,"y":3360,"wires":[]},{"id":"6d1dfb34.0e4804","type":"ui_text","z":"c234feb0.ef673","group":"20600b38.b92fc4","order":3,"width":"3","height":"1","name":"","label":"PEEP","format":"{{msg.payload | number:2}} cmH2O","layout":"col-center","x":930,"y":3420,"wires":[]},{"id":"4a56430d.252f6c","type":"ui_text","z":"c234feb0.ef673","group":"20600b38.b92fc4","order":4,"width":"3","height":"1","name":"","label":"FiO2","format":"{{msg.payload | number:2}} %","layout":"col-center","x":330,"y":3500,"wires":[]},{"id":"371d7021.7699e","type":"ui_ui_control","z":"c234feb0.ef673","name":"","events":"all","x":1800,"y":3620,"wires":[[]]},{"id":"957ddbd0.d82ec8","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"labelback","pt":"msg","to":"set value","tot":"str"},{"t":"set","p":"buttonstart","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"labelstart","pt":"msg","to":"stop","tot":"str"},{"t":"set","p":"startcolour","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":3660,"wires":[["c57620ff.e430b","53ab4803.5faa38","4ab780f8.ebbc6"]]},{"id":"2fdf751c.4f407a","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"labelback","pt":"msg","to":"use menu","tot":"str"},{"t":"set","p":"buttonstart","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"labelstart","pt":"msg","to":"start","tot":"str"},{"t":"set","p":"startcolour","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":3620,"wires":[["c57620ff.e430b","53ab4803.5faa38","4ab780f8.ebbc6"]]},{"id":"c57620ff.e430b","type":"ui_button","z":"c234feb0.ef673","name":"back bt","group":"308ee0c9.b4a38","order":1,"width":"4","height":"1","passthru":false,"label":"{{labelback}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1240,"y":3620,"wires":[["cee41848.cb8d78"]]},{"id":"cee41848.cb8d78","type":"switch","z":"c234feb0.ef673","name":"","property":"buttonstart","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1450,"y":3620,"wires":[["1a778d39.12aa13"],["48854686.e67248"]]},{"id":"48854686.e67248","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ventilator Use Mode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":3660,"wires":[["371d7021.7699e"]]},{"id":"1a778d39.12aa13","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Input Setting Value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":3620,"wires":[["371d7021.7699e"]]},{"id":"53ab4803.5faa38","type":"ui_button","z":"c234feb0.ef673","name":"start bt","group":"308ee0c9.b4a38","order":3,"width":"4","height":"1","passthru":false,"label":"{{labelstart}}","tooltip":"","color":"","bgcolor":"{{startcolour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1230,"y":3660,"wires":[["22c802d7.06fe1e","7e677653.e53968"]]},{"id":"22c802d7.06fe1e","type":"switch","z":"c234feb0.ef673","name":"","property":"buttonstart","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":3660,"wires":[["2fdf751c.4f407a","581231ac.514fc"],["957ddbd0.d82ec8","f9377632.a92ce8"]]},{"id":"32456087.19e07","type":"inject","z":"c234feb0.ef673","name":"display alarm and bt init","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":190,"y":220,"wires":[["e2843ce7.aac6d"]]},{"id":"a307b167.72af4","type":"link in","z":"c234feb0.ef673","name":"[alarm] alarm01","links":["e2843ce7.aac6d","ff2ad660.604308"],"x":115,"y":660,"wires":[["bcf5e6f6.45c348"]]},{"id":"e2843ce7.aac6d","type":"link out","z":"c234feb0.ef673","name":"to triggered","links":["a307b167.72af4","77e3ca6d.48ea54","c1498ea8.9b1b8","78e0139d.1b385c","e54902b9.dc3d8","fa2402cf.2096","367fee52.ef4362","8ed1e485.860a88","1eae4d4c.e18983","73075f7.d92f5a","e3595e82.83321","89ed693b.c3b8c8","7d221fab.c229b","ebe4403f.cfccd","f86df1d1.22033"],"x":635,"y":220,"wires":[]},{"id":"77e3ca6d.48ea54","type":"link in","z":"c234feb0.ef673","name":"[alarm] alarm02","links":["e2843ce7.aac6d","e06609c4.1c2748"],"x":115,"y":860,"wires":[["575da470.bf926c"]]},{"id":"c1498ea8.9b1b8","type":"link in","z":"c234feb0.ef673","name":"[alarm] alarm03","links":["e2843ce7.aac6d","bbc6e2a.d5bfb2"],"x":115,"y":1040,"wires":[["26c77141.4705be"]]},{"id":"78e0139d.1b385c","type":"link in","z":"c234feb0.ef673","name":"[alarm] alarm05","links":["e2843ce7.aac6d","d2f96026.c8a67"],"x":1035,"y":660,"wires":[["18406676.2e57fa"]]},{"id":"e54902b9.dc3d8","type":"link in","z":"c234feb0.ef673","name":"[alarm] alarm06","links":["e2843ce7.aac6d","a0be1687.939fe8"],"x":1035,"y":860,"wires":[["32dbfa7f.9ec1a6"]]},{"id":"fa2402cf.2096","type":"link in","z":"c234feb0.ef673","name":"[alarm] alarm07","links":["e2843ce7.aac6d","ae2863cc.6ec68"],"x":1035,"y":1040,"wires":[["dbd1f7fa.16c238"]]},{"id":"367fee52.ef4362","type":"link in","z":"c234feb0.ef673","name":"[alarm] alarm04","links":["e2843ce7.aac6d","e8982606.9bcfd8"],"x":115,"y":1240,"wires":[["568dd4bc.491a8c"]]},{"id":"8ed1e485.860a88","type":"link in","z":"c234feb0.ef673","name":"[alarm] alarm08","links":["e2843ce7.aac6d","6f9cacc2.a62124"],"x":1035,"y":1240,"wires":[["f5c00e39.9f2e"]]},{"id":"7e07a1dd.7278b","type":"ui_text","z":"c234feb0.ef673","group":"108cbf01.e5c471","order":0,"width":0,"height":0,"name":"","label":"Control Mode:","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":1500,"wires":[]},{"id":"824785c6.5a6aa8","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1720,"wires":[["f8095957.725b28"]]},{"id":"73075f7.d92f5a","type":"link in","z":"c234feb0.ef673","name":"from trigger","links":["e2843ce7.aac6d"],"x":695,"y":1720,"wires":[["824785c6.5a6aa8"]]},{"id":"c322688c.e89198","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1680,"wires":[["f8095957.725b28"]]},{"id":"6fe5d758.7f6a48","type":"inject","z":"927d9689.f973b8","name":"one time create file config","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":80,"wires":[["69dd498a.cb6308"]]},{"id":"69dd498a.cb6308","type":"function","z":"927d9689.f973b8","name":"breathing param variable creator","func":"var data = {};\ndata.ie = 2;\ndata.rr = 20;\ndata.o2 = 20;\ndata.peep = 5;\ndata.vol = 600;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["11880a30.4fa7d6"]]},{"id":"11880a30.4fa7d6","type":"file","z":"927d9689.f973b8","name":"","filename":"/home/pi/ventilator/breathingparam.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":840,"y":80,"wires":[[]]},{"id":"80adebf2.707b08","type":"inject","z":"927d9689.f973b8","name":"first initial trigger","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":120,"y":160,"wires":[["d2890c87.86c2c"]]},{"id":"d2890c87.86c2c","type":"file in","z":"927d9689.f973b8","name":"load breathing param","filename":"/home/pi/ventilator/breathingparam.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":160,"wires":[["7761ca4b.12a664"]]},{"id":"7761ca4b.12a664","type":"json","z":"927d9689.f973b8","name":"","property":"payload","action":"","pretty":false,"x":590,"y":160,"wires":[["63ac058d.25774c","e603bc22.98864"]]},{"id":"63ac058d.25774c","type":"change","z":"927d9689.f973b8","name":"set global var","rules":[{"t":"set","p":"set_ie","pt":"global","to":"payload.ie","tot":"msg"},{"t":"set","p":"set_rr","pt":"global","to":"payload.rr","tot":"msg"},{"t":"set","p":"set_o2","pt":"global","to":"payload.o2","tot":"msg"},{"t":"set","p":"set_peep","pt":"global","to":"payload.peep","tot":"msg"},{"t":"set","p":"set_vol","pt":"global","to":"payload.vol","tot":"msg"},{"t":"set","p":"mode_on_off","pt":"global","to":"0","tot":"num"},{"t":"set","p":"pres_offset","pt":"global","to":"payload.pres_offset","tot":"msg"},{"t":"set","p":"flow_offset","pt":"global","to":"payload.flow_offset","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":160,"wires":[["5aae9ee3.3d31c"]]},{"id":"5aae9ee3.3d31c","type":"link out","z":"927d9689.f973b8","name":"to dashboard","links":["48497eb9.c12c8"],"x":915,"y":160,"wires":[]},{"id":"20c33e65.28eb72","type":"link in","z":"927d9689.f973b8","name":"from apply button breathing","links":["6c3566f.fdc0398"],"x":235,"y":120,"wires":[["f2aff311.922d6"]]},{"id":"f2aff311.922d6","type":"function","z":"927d9689.f973b8","name":"save breathing param variable","func":"var data = {};\ndata.ie = global.get(\"set_ie\");\ndata.rr = global.get(\"set_rr\");\ndata.o2 = global.get(\"set_o2\");\ndata.peep = global.get(\"set_peep\");\ndata.vol = global.get(\"set_vol\");\ndata.pres_offset = global.get(\"pres_offset\");\ndata.flow_offset = global.get(\"flow_offset\");\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["c3eefc23.40c1b"]]},{"id":"c3eefc23.40c1b","type":"file","z":"927d9689.f973b8","name":"","filename":"/home/pi/ventilator/breathingparam.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":840,"y":120,"wires":[[]]},{"id":"6c3566f.fdc0398","type":"link out","z":"c234feb0.ef673","name":"to save data breathing","links":["20c33e65.28eb72"],"x":675,"y":2440,"wires":[]},{"id":"6c04cd52.e60644","type":"comment","z":"927d9689.f973b8","name":"load and save breathing parameters","info":"","x":140,"y":40,"wires":[]},{"id":"f48e2cc.0f502d","type":"comment","z":"927d9689.f973b8","name":"load and save alarm parameters","info":"","x":130,"y":240,"wires":[]},{"id":"404fc446.c7652c","type":"inject","z":"927d9689.f973b8","name":"one time create file config","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":280,"wires":[["2f6c28c1.a6e788"]]},{"id":"2f6c28c1.a6e788","type":"function","z":"927d9689.f973b8","name":"alarm param variable creator","func":"var data = {};\ndata.hiplimit = 40;\ndata.loplimit = 20;\ndata.o2tol = 5;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["23d46a9a.cb8e96"]]},{"id":"23d46a9a.cb8e96","type":"file","z":"927d9689.f973b8","name":"","filename":"/home/pi/ventilator/alarmparam.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":820,"y":280,"wires":[[]]},{"id":"e7a0551e.42d698","type":"inject","z":"927d9689.f973b8","name":"first initial trigger","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":120,"y":360,"wires":[["c308188f.efaa38"]]},{"id":"c308188f.efaa38","type":"file in","z":"927d9689.f973b8","name":"load breathing param","filename":"/home/pi/ventilator/alarmparam.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":360,"wires":[["d0e903e8.b1cf3"]]},{"id":"d0e903e8.b1cf3","type":"json","z":"927d9689.f973b8","name":"","property":"payload","action":"","pretty":false,"x":590,"y":360,"wires":[["94d3df0e.d0c77"]]},{"id":"94d3df0e.d0c77","type":"change","z":"927d9689.f973b8","name":"set global var","rules":[{"t":"set","p":"hiplimit","pt":"global","to":"payload.hiplimit","tot":"msg"},{"t":"set","p":"loplimit","pt":"global","to":"payload.loplimit","tot":"msg"},{"t":"set","p":"o2tol","pt":"global","to":"payload.o2tol","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":360,"wires":[["d6152324.89a6d"]]},{"id":"d6152324.89a6d","type":"link out","z":"927d9689.f973b8","name":"to dashboard","links":["48497eb9.c12c8"],"x":915,"y":360,"wires":[]},{"id":"7f5bf67b.bafa08","type":"link in","z":"927d9689.f973b8","name":"from apply button alarm","links":["43aeaf3f.ec01f"],"x":235,"y":320,"wires":[["bdf4f029.b6eea"]]},{"id":"bdf4f029.b6eea","type":"function","z":"927d9689.f973b8","name":"save alarm param variable","func":"var data = {};\ndata.hiplimit = global.get(\"hiplimit\");\ndata.loplimit = global.get(\"loplimit\");\ndata.o2tol = global.get(\"o2tol\");\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["61cde947.634ee8"]]},{"id":"61cde947.634ee8","type":"file","z":"927d9689.f973b8","name":"","filename":"/home/pi/ventilator/alarmparam.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":820,"y":320,"wires":[[]]},{"id":"43aeaf3f.ec01f","type":"link out","z":"c234feb0.ef673","name":"from nextBtPg3","links":["2062427e.47c38e","3bbc4232.16f076","7f5bf67b.bafa08","85dd86d.f7c4278","f386eed4.e7e5d"],"x":455,"y":3060,"wires":[]},{"id":"749842ae.81939c","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2400,"wires":[["339e442b.2525ac"]]},{"id":"57bef6c1.b842a8","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2440,"wires":[["339e442b.2525ac"]]},{"id":"61125485.08d07c","type":"switch","z":"c234feb0.ef673","name":"","property":"buttonstart","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":2400,"wires":[["749842ae.81939c"],["57bef6c1.b842a8"]]},{"id":"4ab780f8.ebbc6","type":"link out","z":"c234feb0.ef673","name":"check started condition","links":["36c8963b.a3e66a","9e5b2012.ec0c7","9ab1e952.6bbb18"],"x":1195,"y":3560,"wires":[]},{"id":"36c8963b.a3e66a","type":"link in","z":"c234feb0.ef673","name":"from start bt","links":["4ab780f8.ebbc6"],"x":95,"y":2400,"wires":[["61125485.08d07c"]]},{"id":"44282871.69d8d8","type":"link out","z":"c234feb0.ef673","name":"to alarm reset","links":["8da2a69a.8f4038","687a731e.a25b6c","84849fed.43ace","4a544896.d96ab8","8ce7310b.f5326","5601f522.0fddec","b17e9f5a.a4db","14fb3f9c.ea834","5329bb01.48de44","bc0b77ef.4e5d68","559e0520.f5d26c","88457fd3.10927"],"x":355,"y":460,"wires":[]},{"id":"84849fed.43ace","type":"link in","z":"c234feb0.ef673","d":true,"name":"from reset bt","links":["44282871.69d8d8"],"x":335,"y":700,"wires":[["33be127e.d8eece"]]},{"id":"8da2a69a.8f4038","type":"link in","z":"c234feb0.ef673","d":true,"name":"from reset bt","links":["44282871.69d8d8"],"x":335,"y":900,"wires":[["64c28ddc.ee1dc4"]]},{"id":"8ce7310b.f5326","type":"link in","z":"c234feb0.ef673","d":true,"name":"from reset bt","links":["44282871.69d8d8"],"x":335,"y":1080,"wires":[["2bfc1a28.016ec6"]]},{"id":"4a544896.d96ab8","type":"link in","z":"c234feb0.ef673","d":true,"name":"from reset bt","links":["44282871.69d8d8"],"x":335,"y":1280,"wires":[["bbd4868.4c66a78"]]},{"id":"5601f522.0fddec","type":"link in","z":"c234feb0.ef673","d":true,"name":"from reset bt","links":["44282871.69d8d8"],"x":1275,"y":700,"wires":[["94967f56.701eb"]]},{"id":"b17e9f5a.a4db","type":"link in","z":"c234feb0.ef673","d":true,"name":"from reset bt","links":["44282871.69d8d8"],"x":1275,"y":900,"wires":[["486d91a5.aedf2"]]},{"id":"687a731e.a25b6c","type":"link in","z":"c234feb0.ef673","d":true,"name":"from reset bt","links":["44282871.69d8d8"],"x":1275,"y":1080,"wires":[["1510344.7b2f5cc"]]},{"id":"14fb3f9c.ea834","type":"link in","z":"c234feb0.ef673","d":true,"name":"from reset bt","links":["44282871.69d8d8"],"x":1275,"y":1280,"wires":[["ad56de76.e5894"]]},{"id":"33ccb09f.67b8","type":"comment","z":"c234feb0.ef673","name":"Misc","info":"","x":50,"y":20,"wires":[]},{"id":"a04b530f.5953e","type":"inject","z":"c234feb0.ef673","name":"display title blank","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":260,"wires":[["b205332.44d23d"]]},{"id":"b205332.44d23d","type":"link out","z":"c234feb0.ef673","name":"to tittle","links":["bdef2fb9.9b2a7","b820805.67cd78","5b75260.d7992dc","5768e8c1.0a8f68","6e87af14.1a8ba"],"x":635,"y":260,"wires":[]},{"id":"2da74b0e.6a95b4","type":"ui_text","z":"c234feb0.ef673","group":"d2caa19c.b7ab3","order":0,"width":0,"height":0,"name":"","label":"Control Mode:","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":2040,"wires":[]},{"id":"4ce4d8d5.7ac268","type":"link out","z":"c234feb0.ef673","name":"to tittle","links":["5b75260.d7992dc","5768e8c1.0a8f68","bdef2fb9.9b2a7","b820805.67cd78","6e87af14.1a8ba"],"x":815,"y":1540,"wires":[]},{"id":"bdef2fb9.9b2a7","type":"link in","z":"c234feb0.ef673","name":"from text control","links":["b205332.44d23d","4ce4d8d5.7ac268","9541876e.261498"],"x":315,"y":2040,"wires":[["2da74b0e.6a95b4"]]},{"id":"b454848b.09c208","type":"ui_text","z":"c234feb0.ef673","group":"68704283.9c276c","order":0,"width":0,"height":0,"name":"","label":"Control Mode:","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":2740,"wires":[]},{"id":"b820805.67cd78","type":"link in","z":"c234feb0.ef673","name":"from text control","links":["b205332.44d23d","4ce4d8d5.7ac268","9541876e.261498"],"x":215,"y":2740,"wires":[["b454848b.09c208"]]},{"id":"21dbe73c.f88cc8","type":"ui_text","z":"c234feb0.ef673","group":"3c8c110d.30d28e","order":0,"width":0,"height":0,"name":"","label":"Control Mode: ","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":3200,"wires":[]},{"id":"5b75260.d7992dc","type":"link in","z":"c234feb0.ef673","name":"from text control","links":["b205332.44d23d","4ce4d8d5.7ac268","9541876e.261498"],"x":235,"y":3200,"wires":[["21dbe73c.f88cc8"]]},{"id":"38f5c439.f9d10c","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1580,"wires":[["289a19fc.580166","e5ba5de1.7392e"]]},{"id":"bfb08906.245308","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1620,"wires":[["289a19fc.580166","e5ba5de1.7392e"]]},{"id":"28aed160.af10fe","type":"switch","z":"c234feb0.ef673","name":"","property":"buttonstart","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":1580,"wires":[["38f5c439.f9d10c"],["bfb08906.245308"]]},{"id":"9e5b2012.ec0c7","type":"link in","z":"c234feb0.ef673","name":"from start bt","links":["4ab780f8.ebbc6"],"x":35,"y":1580,"wires":[["28aed160.af10fe"]]},{"id":"ade9e636.8aae58","type":"switch","z":"c234feb0.ef673","name":"","property":"buttonstart","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":1680,"wires":[["824785c6.5a6aa8"],[]]},{"id":"9ab1e952.6bbb18","type":"link in","z":"c234feb0.ef673","name":"from start bt","links":["4ab780f8.ebbc6"],"x":555,"y":1680,"wires":[["ade9e636.8aae58"]]},{"id":"5768e8c1.0a8f68","type":"link in","z":"c234feb0.ef673","name":"from text control","links":["b205332.44d23d","4ce4d8d5.7ac268","9541876e.261498"],"x":355,"y":1500,"wires":[["7e07a1dd.7278b"]]},{"id":"c0b72a1b.1be3b8","type":"smooth","z":"dea9ee4a.091b4","d":true,"name":"","property":"payload","action":"low","count":"2","round":"","mult":"single","reduce":false,"x":400,"y":920,"wires":[["16d68c2a.3fc344"]]},{"id":"b1c8dc4c.7ce1b","type":"link out","z":"dea9ee4a.091b4","name":"[result] Flow","links":["4500b28d.85e36c","67b63c2e.2c2f94","8971adc6.fd3dc","8d0f341.876bfc8","b4616265.62e1f","59673e60.8b497"],"x":915,"y":920,"wires":[]},{"id":"67b63c2e.2c2f94","type":"link in","z":"dea9ee4a.091b4","name":"[check] Spurious","links":["b1c8dc4c.7ce1b"],"x":75,"y":1160,"wires":[["130722ae.2ac74d"]]},{"id":"85467aa6.ec9d48","type":"function","z":"dea9ee4a.091b4","name":"checkSpurious","func":"// var breathing_phase = global.get(\"breathing_phase\")\nvar spurious_flow_threshold = 6;\nvar count_spur = parseInt(flow.get(\"count_spur\"))||0;\nvar flowq = msg.payload;\n\nif(count_spur>40 && (flowq > spurious_flow_threshold)){\n   msg.payload = \"05_ON\"; \n   global.set(\"modemandatory\", false)\n   return msg;\n} \n// else {\n//     msg.payload = '';\n// }\n\n","outputs":1,"noerr":0,"x":760,"y":1160,"wires":[["70050f26.7a6cd","455d0132.a9e25"]]},{"id":"70050f26.7a6cd","type":"link out","z":"dea9ee4a.091b4","name":"[alarm] Spurious","links":["31673605.46d5aa","b4616265.62e1f"],"x":895,"y":1160,"wires":[]},{"id":"d0a9a84c.04a538","type":"comment","z":"dea9ee4a.091b4","name":"Check for Spurious Breath (OK MINUS)","info":"Algoritma sudah bisa:\n1. Detect spurious biasa\n2. Ganti title ke assisted\n\nPerlu ditambahkan\n1. Cek spurious baru mulai beberapa saat setelah phase exhale\n2. Ganti mode operasi ke assisted","x":190,"y":1120,"wires":[]},{"id":"8659ce93.6c825","type":"inject","z":"c234feb0.ef673","name":"trigger","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"true","payloadType":"bool","x":130,"y":60,"wires":[["a9f345ab.4d61a8"]]},{"id":"f0504d51.205b1","type":"exec","z":"c234feb0.ef673","command":"xdotool windowkill `xdotool getactivewindow`","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":250,"y":160,"wires":[[],[],[]]},{"id":"6b92f43b.cb068c","type":"exec","z":"c234feb0.ef673","command":"DISPLAY=:0 chromium-browser --check-for-update-interval=31536000 --noerrdialogs --disable-infobars --incognito --disable-pinch --overscroll-history-navigation=0 --no-context-menu --force-device-scale-factor=0.9 --kiosk http://localhost:1880/ui &","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1140,"y":60,"wires":[[],[],[]]},{"id":"bd892795.347588","type":"debug","z":"dea9ee4a.091b4","name":"debug Sensor Flow","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":210,"y":1320,"wires":[]},{"id":"a49ac80b.3cb5c8","type":"comment","z":"dea9ee4a.091b4","name":"Sensor Pressure ---------------------------------------------------------","info":"Check For:\n1. PIP > PIP_LIMIT\n2. PEEP < PEEP_LIMIT\n3. Fighting\n4. Lepas (Pres LOW)\n\nREAD PEEP\nREAD IPP","x":1540,"y":340,"wires":[],"icon":"node-red/arrow-in.svg"},{"id":"37d8178f.70b278","type":"link in","z":"c234feb0.ef673","name":"from spurious detect","links":["d2f96026.c8a67"],"x":75,"y":320,"wires":[["d6303d6c.27c2e"]]},{"id":"d6303d6c.27c2e","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":320,"wires":[["80b25473.eb2968"],[]]},{"id":"80b25473.eb2968","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Assisted Volume Control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":320,"wires":[["b205332.44d23d"]]},{"id":"658d4d0.f870bb4","type":"smooth","z":"dea9ee4a.091b4","name":"","property":"payload","action":"low","count":"1","round":"","mult":"single","reduce":false,"x":1780,"y":640,"wires":[["3926d53d.28079a","4a1fa4ed.8ed21c","64cfe87.1172f18"]]},{"id":"b4616265.62e1f","type":"link in","z":"dea9ee4a.091b4","name":"[debug] flow","links":["70050f26.7a6cd","b1c8dc4c.7ce1b","5ab72885.8f20e8","d9366bfb.65bcb8","e7fe6470.448a98"],"x":80,"y":1320,"wires":[["bd892795.347588"]]},{"id":"8812a074.ce8d3","type":"comment","z":"dea9ee4a.091b4","name":"debug","info":"","x":90,"y":1280,"wires":[]},{"id":"4a1fa4ed.8ed21c","type":"link out","z":"dea9ee4a.091b4","name":"[result] Pressure","links":["ae15df76.3131b","97d329f6.711ab8","b1c8636a.eb9be","7315e389.c49d8c","5964c537.79dcac","ee53cec3.8c1f8","fad18dba.be12a","4940b10.c41b35","31f86b64.38f734","c85241e9.8cfd8","831ddd72.3edbe","f110c461.d7eef8","1df0e654.c2d9ca"],"x":1895,"y":660,"wires":[]},{"id":"5964c537.79dcac","type":"link in","z":"dea9ee4a.091b4","name":"[check] Fighting","links":["4a1fa4ed.8ed21c","db521787.1c55e8","5b7c282.4b0aad8","cb3e71d2.4d081","2799042e.d5a3ac"],"x":1395,"y":720,"wires":[["ce0a66c9.359a98"]]},{"id":"6a3ff4f3.1ef90c","type":"comment","z":"dea9ee4a.091b4","name":"Alarm set","info":"01 HIGH PRESSURE\n02 LOW PRESSURE\n03 FIGHTING\n04 EMERGENCY\n05 SPURIOUS\n06 OVER VOL\n07 LOW PEEP\n08 LOW/HIGH O2","x":80,"y":1700,"wires":[]},{"id":"31673605.46d5aa","type":"link in","z":"dea9ee4a.091b4","name":"setAlarm()","links":["70050f26.7a6cd","da5f8db0.5ff25","e7fe6470.448a98","dfc70123.27b7f","5ab72885.8f20e8","1ff74875.1a9258","cb5518a7.bf2708","d2c73766.b63978","ab5fcb4e.9382c8","d9366bfb.65bcb8","348d8fdb.ec4c8","84f925a7.1fd828"],"x":235,"y":1740,"wires":[["31b79ed6.ad2b62"]]},{"id":"31b79ed6.ad2b62","type":"function","z":"dea9ee4a.091b4","name":"setAlarm","func":"var res = msg.payload.split(\"_\");\nvar no = res[0];\nvar status = false;\n\nif(res[1] == \"ON\") {\n    status = true;\n}\n\nvar newmsg = { \"no\": no, \"payload\": status};\nreturn newmsg;","outputs":1,"noerr":0,"x":360,"y":1780,"wires":[["feb299fc.c5aff8","b7a8368c.4a9828"]]},{"id":"feb299fc.c5aff8","type":"switch","z":"dea9ee4a.091b4","name":"","property":"no","propertyType":"msg","rules":[{"t":"eq","v":"01","vt":"str"},{"t":"eq","v":"02","vt":"str"},{"t":"eq","v":"03","vt":"str"},{"t":"eq","v":"04","vt":"str"},{"t":"eq","v":"05","vt":"str"},{"t":"eq","v":"06","vt":"str"},{"t":"eq","v":"07","vt":"str"},{"t":"eq","v":"08","vt":"str"},{"t":"eq","v":"99","vt":"str"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":10,"x":510,"y":1780,"wires":[["ff2ad660.604308"],["e06609c4.1c2748"],["bbc6e2a.d5bfb2"],["e8982606.9bcfd8"],["d2f96026.c8a67"],["a0be1687.939fe8"],["ae2863cc.6ec68"],["6f9cacc2.a62124"],["ff2ad660.604308","e06609c4.1c2748","bbc6e2a.d5bfb2","e8982606.9bcfd8","d2f96026.c8a67","a0be1687.939fe8","ae2863cc.6ec68","6f9cacc2.a62124"],[]]},{"id":"ff2ad660.604308","type":"link out","z":"dea9ee4a.091b4","name":"alarm01","links":["a307b167.72af4","dd4f051f.7463d8"],"x":675,"y":1720,"wires":[]},{"id":"e06609c4.1c2748","type":"link out","z":"dea9ee4a.091b4","name":"alarm02","links":["77e3ca6d.48ea54"],"x":715,"y":1720,"wires":[]},{"id":"bbc6e2a.d5bfb2","type":"link out","z":"dea9ee4a.091b4","name":"alarm03","links":["c1498ea8.9b1b8"],"x":675,"y":1760,"wires":[]},{"id":"e8982606.9bcfd8","type":"link out","z":"dea9ee4a.091b4","name":"alarm04","links":["367fee52.ef4362"],"x":715,"y":1760,"wires":[]},{"id":"a0be1687.939fe8","type":"link out","z":"dea9ee4a.091b4","name":"alarm06","links":["e54902b9.dc3d8"],"x":715,"y":1800,"wires":[]},{"id":"ae2863cc.6ec68","type":"link out","z":"dea9ee4a.091b4","name":"alarm07","links":["fa2402cf.2096"],"x":675,"y":1840,"wires":[]},{"id":"6f9cacc2.a62124","type":"link out","z":"dea9ee4a.091b4","name":"alarm08","links":["8ed1e485.860a88"],"x":715,"y":1840,"wires":[]},{"id":"d2f96026.c8a67","type":"link out","z":"dea9ee4a.091b4","name":"alarm05","links":["78e0139d.1b385c","37d8178f.70b278"],"x":675,"y":1800,"wires":[]},{"id":"848e4204.08101","type":"comment","z":"dea9ee4a.091b4","name":"Check for Fighting (OK Minus)","info":"Pras note: Perlu flag inhale/exhale, perlu init flow/global values\n\nDimas note: Deteksi baru bisa dilakukan pada cycle kedua dan seterusnya","x":1480,"y":680,"wires":[]},{"id":"7f60f74c.699f78","type":"comment","z":"dea9ee4a.091b4","name":"Sensor Oxygen ---------------------------------------------------------","info":"Check For:\n1. abs(FiO2% - O2 real) >= O2tol","x":230,"y":580,"wires":[],"icon":"node-red/arrow-in.svg"},{"id":"4ec1b16b.1031e","type":"function","z":"dea9ee4a.091b4","name":"calcBit2Oxy","func":"var ox_raw = parseFloat(msg.payload); // in 16 bit\n//ox_raw = ox_raw * 0.256 / 32768;\n\n// offset + gain adjust\n//var ox_val = (ox_raw * 1000 * 100/60);\nvar ox_val = ox_raw;\n\nnewmsg = {\"topic\": '', \"payload\": '' };\nnewmsg.topic = \"oxygen\";\nnewmsg.payload = ox_val;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":210,"y":620,"wires":[["fac8e996.d8a5f8"]]},{"id":"fac8e996.d8a5f8","type":"smooth","z":"dea9ee4a.091b4","name":"","property":"payload","action":"low","count":"1","round":"4","mult":"single","reduce":false,"x":380,"y":620,"wires":[["c69da0e5.62a6a"]]},{"id":"c69da0e5.62a6a","type":"link out","z":"dea9ee4a.091b4","name":"[result] O2","links":["f3aea60c.da7188","badf91d4.f46ac","8e11e07.fd1a72"],"x":495,"y":620,"wires":[]},{"id":"33546c1e.cf2274","type":"function","z":"dea9ee4a.091b4","name":"cekO2tol","func":"var O2_val = msg.payload;\nvar O2_setpoint = global.get(\"set_o2\");\nvar O2_tolerance = global.get(\"o2tol\");\n\n// var O2_dif = Math.abs(global.get(\"set_o2\") - O2_val);\nvar O2_dif = Math.abs(O2_setpoint - O2_val);\nvar stat = \"08_OFF\";\n// if(O2_dif >= global.get(\"set_o2tol\")){stat = \"08_ON\";}\nif(O2_dif >= O2_tolerance){stat = \"08_ON\";}\n\nmsg.payload = stat;\n// msg.debug1 = O2_setpoint;\n// msg.debug2 = O2_tolerance;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":720,"wires":[["6e21d6a8.649ad8","86e6eabb.fd5be8"]]},{"id":"f3aea60c.da7188","type":"link in","z":"dea9ee4a.091b4","name":"[check] O2tol","links":["c69da0e5.62a6a","4a01fcb8.9f9924","86714de5.8225b","9cf8838b.2d7b5","b681f87d.ad3908"],"x":75,"y":720,"wires":[["33546c1e.cf2274"]]},{"id":"535a0127.edfce","type":"comment","z":"dea9ee4a.091b4","name":"Check for O2tol (OK)","info":"Function OK\nTest OK","x":140,"y":680,"wires":[]},{"id":"1b71d43.861ce2c","type":"link in","z":"dea9ee4a.091b4","name":"to calcBit2Flow","links":["4f5d0127.7ded2","cfa63c08.fd6ac"],"x":75,"y":920,"wires":[["e8d6d6a6.b0f758","c0b72a1b.1be3b8","16d68c2a.3fc344","11031a72.ea8b76","32b9a09b.3b5c5","31276aeb.eaf5a6"]]},{"id":"5531f708.fdf1e8","type":"link in","z":"dea9ee4a.091b4","name":"to calcBit2Oxy","links":["2e95d92d.763386","e690334.e651ed"],"x":55,"y":620,"wires":[["4ec1b16b.1031e"]]},{"id":"da5f8db0.5ff25","type":"link out","z":"dea9ee4a.091b4","name":"[alarm] O2tol","links":["31673605.46d5aa","badf91d4.f46ac"],"x":455,"y":720,"wires":[]},{"id":"e7fe6470.448a98","type":"link out","z":"dea9ee4a.091b4","name":"[alarm] Fighting","links":["131aa11f.1d26df","31673605.46d5aa","ae15df76.3131b","b4616265.62e1f"],"x":2135,"y":720,"wires":[]},{"id":"d6f95168.7ffe2","type":"debug","z":"dea9ee4a.091b4","name":"debug Sensor Oxygen","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":200,"y":800,"wires":[]},{"id":"badf91d4.f46ac","type":"link in","z":"dea9ee4a.091b4","name":"[debug] Ox","links":["c69da0e5.62a6a","da5f8db0.5ff25"],"x":60,"y":800,"wires":[["d6f95168.7ffe2"]]},{"id":"5f603a67.2e3984","type":"comment","z":"dea9ee4a.091b4","name":"debug","info":"","x":90,"y":760,"wires":[]},{"id":"5be6e97d.567918","type":"function","z":"dea9ee4a.091b4","name":"cekOverPressure","func":"var pres_val = msg.payload;\nvar lim = global.get(\"hiplimit\");\n// var stat = \"01_OFF\";\nvar stat = \"\";\n\nif(pres_val > lim) {\n    stat = \"01_ON\";\n    newmsg = {'payload': '' };\n    newmsg.payload = stat;\n    return newmsg;\n}\n\n// newmsg = {'payload': '' };\n// newmsg.payload = stat;\n// return newmsg;","outputs":1,"noerr":0,"x":1530,"y":1040,"wires":[["dfc70123.27b7f"]]},{"id":"b1c8636a.eb9be","type":"link in","z":"dea9ee4a.091b4","name":"[check] Fighting","links":["4a1fa4ed.8ed21c","db521787.1c55e8","5b7c282.4b0aad8","cb3e71d2.4d081","2799042e.d5a3ac"],"x":1395,"y":1040,"wires":[["5be6e97d.567918"]]},{"id":"ff8cfa2b.447d08","type":"comment","z":"dea9ee4a.091b4","name":"Check for Over Pressure","info":"Test OK","x":1470,"y":1000,"wires":[]},{"id":"dfc70123.27b7f","type":"link out","z":"dea9ee4a.091b4","name":"[alarm] HighPres","links":["31673605.46d5aa","ae15df76.3131b"],"x":1655,"y":1040,"wires":[]},{"id":"cb3d77d7.21fc18","type":"debug","z":"dea9ee4a.091b4","name":"debug Sensor Pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1545,"y":1120,"wires":[]},{"id":"ae15df76.3131b","type":"link in","z":"dea9ee4a.091b4","name":"[debug] Pres","links":["4a1fa4ed.8ed21c","dfc70123.27b7f","e7fe6470.448a98","bc40cce.d2ceb3","f8302b21.cebd28","d8d65aa7.3b4e78","cda0c969.221fc8","348d8fdb.ec4c8","84f925a7.1fd828"],"x":1395,"y":1120,"wires":[["cb3d77d7.21fc18"]]},{"id":"82ff99d0.2b0808","type":"comment","z":"dea9ee4a.091b4","name":"debug","info":"","x":1410,"y":1080,"wires":[]},{"id":"3571f834.01dfb8","type":"function","z":"dea9ee4a.091b4","name":"cekUnderPressure","func":"// global.set(\"UnderPress\",false);\nvar pres_val = msg.payload;\nvar lim = global.get(\"loplimit\");\n// var stat = \"02_OFF\";\nvar stat = \"\";\nvar count_start = flow.get(\"count_start\");\n\nif(pres_val < lim && count_start > 1) {\n// if(pres_val < lim) {\n    stat = \"02_ON\";\n    // global.set(\"UnderPress\",true);\n    newmsg = {'payload': '' };\n    newmsg.payload = stat;\n    return newmsg;\n}\n\n// newmsg = {'payload': '' };\n// newmsg.payload = stat;\n// return newmsg;","outputs":1,"noerr":0,"x":2450,"y":1040,"wires":[["bc40cce.d2ceb3"]]},{"id":"7315e389.c49d8c","type":"link in","z":"dea9ee4a.091b4","d":true,"name":"[check] Fighting","links":["4a1fa4ed.8ed21c"],"x":1895,"y":1040,"wires":[["1b9bce64.b5cf92"]]},{"id":"1e3e90b1.9711af","type":"comment","z":"dea9ee4a.091b4","name":"Check for Under Pressure (OK MINUS)","info":"Test OK, countStart perlu ditambahkan","x":2010,"y":1000,"wires":[]},{"id":"637156ed.b40f78","type":"function","z":"dea9ee4a.091b4","name":"cekPEEPLow","func":"// var breathing_phase = global.get(\"breathing_phase\");\n\nvar pres_val = msg.payload;\nvar lim = global.get(\"set_peep\");\nvar kond = global.get(\"mode_on_off\");\n\nvar stat = \"07_OFF\";\nvar lim_tol = 0.1*lim;\nlim = lim-lim_tol;\n\nif(pres_val < lim && kond == 1) {\n    stat = \"07_ON\";\n}\n\nnewmsg = {'payload': '' };\nnewmsg.payload = stat;\nreturn newmsg;","outputs":1,"noerr":0,"x":2880,"y":880,"wires":[["f8302b21.cebd28"]]},{"id":"fad18dba.be12a","type":"link in","z":"dea9ee4a.091b4","name":"[check] Fighting","links":["4a1fa4ed.8ed21c","db521787.1c55e8","5b7c282.4b0aad8"],"x":2615,"y":880,"wires":[["d84365c9.81d3a8"]]},{"id":"9202e47b.087408","type":"comment","z":"dea9ee4a.091b4","name":"Check for Low PEEP (OK)","info":"Test OK","x":2690,"y":840,"wires":[]},{"id":"f8302b21.cebd28","type":"link out","z":"dea9ee4a.091b4","name":"[alarm] LowPEEP","links":["ae15df76.3131b","31673605.46d5aa"],"x":2995,"y":880,"wires":[]},{"id":"8971adc6.fd3dc","type":"link in","z":"dea9ee4a.091b4","d":true,"name":"[check] Spurious","links":["27b561b0.fcab6e","42fd7799.ff7448","b1c8dc4c.7ce1b"],"x":155,"y":1240,"wires":[["ac9bb3bc.078"]]},{"id":"ac9bb3bc.078","type":"function","z":"dea9ee4a.091b4","d":true,"name":"checkOverVol","func":"var breathing_phase = global.get(\"breathing_phase\")\nvar vol_count = global.get(\"vol_count\");\nvar flow_val = msg.payload;\n\nvar alarmvol = \"06_OFF\";\n\nvol_count += flow_val;\n\nif(breathing_phase == \"eoc\"){\n    if (vol_count >= parseFloat(global.get(\"set_vol\"))) {\n       alarmvol = \"06_ON\"; \n    } \n}\n\nglobal.set(\"vol_count\", vol_count);\n\nmsg.payload = alarmvol;\nmsg.vol = vol_count;\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":1240,"wires":[["1c5cd4ce.9f0e5b"]]},{"id":"1ff74875.1a9258","type":"link out","z":"dea9ee4a.091b4","d":true,"name":"[alarm2] OverFlow","links":["31673605.46d5aa","b4616265.62e1f"],"x":535,"y":1240,"wires":[]},{"id":"4bde1df2.19a0f4","type":"comment","z":"dea9ee4a.091b4","name":"Check for Over Volume (OK)","info":"Function OK, test OK","x":160,"y":1200,"wires":[]},{"id":"a9f345ab.4d61a8","type":"exec","z":"c234feb0.ef673","command":"pkill chromium","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":60,"wires":[["6b92f43b.cb068c"],[],[]]},{"id":"c7288341.d13ec","type":"comment","z":"927d9689.f973b8","name":"graph data generator","info":"","x":100,"y":540,"wires":[]},{"id":"fb155a9e.666a08","type":"inject","z":"c234feb0.ef673","name":"","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"set_ie","payloadType":"global","x":390,"y":2080,"wires":[["9e5083eb.10b49"]]},{"id":"14d613bd.2db6ec","type":"inject","z":"c234feb0.ef673","name":"","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"set_rr","payloadType":"global","x":390,"y":2120,"wires":[["84263f02.7db99"]]},{"id":"feaeb422.dc6708","type":"inject","z":"c234feb0.ef673","name":"","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"set_o2","payloadType":"global","x":400,"y":2220,"wires":[["7a3cdc4b.f27aa4"]]},{"id":"7f15af2b.5be5b","type":"inject","z":"c234feb0.ef673","name":"","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"set_peep","payloadType":"global","x":400,"y":2280,"wires":[["c2394a35.d329e8"]]},{"id":"72e7abe7.46f8a4","type":"inject","z":"c234feb0.ef673","name":"","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"set_vol","payloadType":"global","x":400,"y":2340,"wires":[["80d11a72.28cf58"]]},{"id":"51a070b9.5344b","type":"change","z":"927d9689.f973b8","name":"","rules":[{"t":"set","p":"set_ie","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":80,"wires":[[]]},{"id":"30dffc27.ff8d94","type":"change","z":"927d9689.f973b8","name":"","rules":[{"t":"set","p":"set_rr","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":120,"wires":[[]]},{"id":"15718ce9.06eff3","type":"change","z":"927d9689.f973b8","name":"","rules":[{"t":"set","p":"set_o2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":160,"wires":[[]]},{"id":"48c392db.931dec","type":"change","z":"927d9689.f973b8","name":"","rules":[{"t":"set","p":"set_peep","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":200,"wires":[[]]},{"id":"30f6fcdb.58a144","type":"change","z":"927d9689.f973b8","name":"","rules":[{"t":"set","p":"set_vol","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":240,"wires":[[]]},{"id":"145934d9.c4745b","type":"comment","z":"927d9689.f973b8","name":"editor breathing parameters","info":"","x":1280,"y":40,"wires":[]},{"id":"228d020d.2323ae","type":"link in","z":"927d9689.f973b8","name":"from editor ie","links":["953eaf6b.52996"],"x":1195,"y":80,"wires":[["51a070b9.5344b"]]},{"id":"41601ef0.27069","type":"link in","z":"927d9689.f973b8","name":"from editor rr","links":["f9b71d27.834f7"],"x":1195,"y":120,"wires":[["30dffc27.ff8d94"]]},{"id":"3157c4a6.447b7c","type":"link in","z":"927d9689.f973b8","name":"from editor o2","links":["e341c51f.ad4088"],"x":1195,"y":160,"wires":[["15718ce9.06eff3"]]},{"id":"df7a575e.bbefa8","type":"link in","z":"927d9689.f973b8","name":"from editor peep","links":["af08716c.4e3fb"],"x":1195,"y":200,"wires":[["48c392db.931dec"]]},{"id":"ff370422.368ae8","type":"link in","z":"927d9689.f973b8","name":"from editor vol","links":["979fa7b8.14cbe8"],"x":1195,"y":240,"wires":[["30f6fcdb.58a144"]]},{"id":"953eaf6b.52996","type":"link out","z":"c234feb0.ef673","name":"to editor ie","links":["228d020d.2323ae","3c0d2a25.b904e6"],"x":735,"y":2080,"wires":[]},{"id":"f9b71d27.834f7","type":"link out","z":"c234feb0.ef673","name":"to editor rr","links":["2bd9b69.e083f4a","41601ef0.27069"],"x":855,"y":2160,"wires":[]},{"id":"e341c51f.ad4088","type":"link out","z":"c234feb0.ef673","name":"to editor o2","links":["3157c4a6.447b7c"],"x":735,"y":2220,"wires":[]},{"id":"af08716c.4e3fb","type":"link out","z":"c234feb0.ef673","name":"to editor peep","links":["df7a575e.bbefa8"],"x":735,"y":2280,"wires":[]},{"id":"979fa7b8.14cbe8","type":"link out","z":"c234feb0.ef673","name":"to editor vol","links":["ff370422.368ae8","1a3b4b38.f70055"],"x":735,"y":2340,"wires":[]},{"id":"be86c30c.638cb","type":"inject","z":"c234feb0.ef673","name":"","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"hiplimit","payloadType":"global","x":140,"y":2800,"wires":[["e4c8a88a.2a6408"]]},{"id":"3e35922f.1b8ece","type":"inject","z":"c234feb0.ef673","name":"","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"loplimit","payloadType":"global","x":140,"y":2860,"wires":[["da24ec72.0220a"]]},{"id":"53f755a7.34924c","type":"inject","z":"c234feb0.ef673","name":"","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"o2tol","payloadType":"global","x":130,"y":2920,"wires":[["9fd1f288.4efd1"]]},{"id":"5198e279.628d1c","type":"link out","z":"c234feb0.ef673","name":"to editor hiplimit","links":["b9849927.030618","213e3105.c4a15e"],"x":615,"y":2800,"wires":[]},{"id":"924206.fb57adf8","type":"link out","z":"c234feb0.ef673","name":"to editor loplimit","links":["65fbf9ba.6943c8"],"x":615,"y":2860,"wires":[]},{"id":"f66bd94e.cc3788","type":"link out","z":"c234feb0.ef673","name":"to editor o2tol","links":["76ae0556.2b69cc"],"x":615,"y":2920,"wires":[]},{"id":"8a00fcfa.6838e","type":"change","z":"927d9689.f973b8","name":"","rules":[{"t":"set","p":"hiplimit","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":400,"wires":[[]]},{"id":"c6e22175.4b938","type":"comment","z":"927d9689.f973b8","name":"editor alarm parameters","info":"","x":1260,"y":360,"wires":[]},{"id":"2a426ace.16df96","type":"change","z":"927d9689.f973b8","name":"","rules":[{"t":"set","p":"loplimit","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":440,"wires":[[]]},{"id":"98a3d9.70a3cc28","type":"change","z":"927d9689.f973b8","name":"","rules":[{"t":"set","p":"o2tol","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":480,"wires":[[]]},{"id":"b9849927.030618","type":"link in","z":"927d9689.f973b8","name":"from editor hiplimit","links":["5198e279.628d1c"],"x":1195,"y":400,"wires":[["8a00fcfa.6838e"]]},{"id":"65fbf9ba.6943c8","type":"link in","z":"927d9689.f973b8","name":"from editor loplimit","links":["924206.fb57adf8"],"x":1195,"y":440,"wires":[["2a426ace.16df96"]]},{"id":"76ae0556.2b69cc","type":"link in","z":"927d9689.f973b8","name":"from editor o2tol","links":["f66bd94e.cc3788"],"x":1195,"y":480,"wires":[["98a3d9.70a3cc28"]]},{"id":"89ad3736.67d798","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"labelsilence","pt":"msg","to":"Mute","tot":"str"},{"t":"set","p":"coloursilence","pt":"msg","to":"teal","tot":"str"},{"t":"set","p":"buttonsilence","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"textcoloursilence","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":460,"wires":[["5409e052.3271b","f7fc8fec.8737e","75db60ac.33d2c","15c91d30.c79da3","1bab0791.2c6cd8"]]},{"id":"df265240.6b18b","type":"switch","z":"c234feb0.ef673","name":"","property":"buttonsilence","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":460,"wires":[["89ad3736.67d798","e618bb00.722458"],["7d4c1858.116088","856dc837.6c15d8"]]},{"id":"7d4c1858.116088","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"labelsilence","pt":"msg","to":"Unmute","tot":"str"},{"t":"set","p":"coloursilence","pt":"msg","to":"lightblue","tot":"str"},{"t":"set","p":"buttonsilence","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"textcoloursilence","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":500,"wires":[["5409e052.3271b","f7fc8fec.8737e","75db60ac.33d2c","15c91d30.c79da3","1bab0791.2c6cd8"]]},{"id":"e3595e82.83321","type":"link in","z":"c234feb0.ef673","name":"from trigger","links":["e2843ce7.aac6d"],"x":475,"y":420,"wires":[["89ad3736.67d798"]]},{"id":"856dc837.6c15d8","type":"link out","z":"c234feb0.ef673","name":"to buzzer control on","links":["bb5c1f85.cf818","61d887ea.962de8"],"x":1195,"y":500,"wires":[]},{"id":"e618bb00.722458","type":"link out","z":"c234feb0.ef673","name":"to buzzer control off","links":["538bc0cd.e45e9","c5a345cf.c8bcb8"],"x":1195,"y":460,"wires":[]},{"id":"972827e9.23a288","type":"comment","z":"811eb35.554d75","name":"added connection from dashboard, by BWE ------------------------------------------------","info":"","x":300,"y":900,"wires":[]},{"id":"63258e24.c72f5","type":"comment","z":"811eb35.554d75","name":"bt start command","info":"","x":100,"y":940,"wires":[]},{"id":"3f279997.156ce6","type":"link in","z":"811eb35.554d75","name":"from start bt","links":["f9377632.a92ce8"],"x":155,"y":980,"wires":[["d8f5db00.78ff38","e2811e36.a466d"]]},{"id":"94978591.96e0c8","type":"comment","z":"811eb35.554d75","name":"bt stop command","info":"","x":120,"y":1060,"wires":[]},{"id":"74f1b1bf.0efed","type":"link in","z":"811eb35.554d75","name":"from stop bt","links":["581231ac.514fc"],"x":175,"y":1100,"wires":[["59f229d6.ee9ca8"]]},{"id":"f9377632.a92ce8","type":"link out","z":"c234feb0.ef673","name":"to start routine","links":["3f279997.156ce6"],"x":915,"y":3540,"wires":[]},{"id":"581231ac.514fc","type":"link out","z":"c234feb0.ef673","name":"to stop routine","links":["74f1b1bf.0efed"],"x":915,"y":3500,"wires":[]},{"id":"e115d480.807158","type":"comment","z":"927d9689.f973b8","name":"editor mode mandatory/assisted","info":"","x":1290,"y":560,"wires":[]},{"id":"20338bc5.872254","type":"change","z":"927d9689.f973b8","name":"","rules":[{"t":"set","p":"modemandatory","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":600,"wires":[[]]},{"id":"c8417a3a.212d58","type":"change","z":"927d9689.f973b8","name":"","rules":[{"t":"set","p":"modemandatory","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":640,"wires":[[]]},{"id":"bf104aaf.068e68","type":"link in","z":"927d9689.f973b8","name":"from mandatory choice","links":["2fbac5a6.5764ca"],"x":1195,"y":600,"wires":[["20338bc5.872254"]]},{"id":"42697e6b.2e817","type":"link in","z":"927d9689.f973b8","name":"from assisted choice","links":["4116245a.4a3cbc"],"x":1195,"y":640,"wires":[["c8417a3a.212d58"]]},{"id":"2fbac5a6.5764ca","type":"link out","z":"c234feb0.ef673","name":"to mandatory choice","links":["bf104aaf.068e68"],"x":815,"y":1580,"wires":[]},{"id":"4116245a.4a3cbc","type":"link out","z":"c234feb0.ef673","name":"to assisted choice","links":["42697e6b.2e817"],"x":815,"y":1620,"wires":[]},{"id":"6edada01.7d3e94","type":"comment","z":"811eb35.554d75","name":"bt breathing updated","info":"","x":130,"y":1260,"wires":[]},{"id":"2e787e04.3ab6c2","type":"link in","z":"811eb35.554d75","name":"from trigger breathing bt","links":["299946d3.4debca"],"x":175,"y":1300,"wires":[[]]},{"id":"299946d3.4debca","type":"link out","z":"c234feb0.ef673","name":"to trigger breathing update","links":["2e787e04.3ab6c2"],"x":675,"y":2480,"wires":[]},{"id":"2b359a2f.5de826","type":"comment","z":"811eb35.554d75","name":"bt alarm updated","info":"","x":320,"y":1260,"wires":[]},{"id":"85dd86d.f7c4278","type":"link in","z":"811eb35.554d75","name":"from trigger alarm bt","links":["15e84c24.fd05c4","43aeaf3f.ec01f"],"x":375,"y":1300,"wires":[[]]},{"id":"1ac2ca74.3a7036","type":"link out","z":"c234feb0.ef673","name":"to trigger mode update","links":["b03c1636.e2f108"],"x":1155,"y":1740,"wires":[]},{"id":"b1b71f46.9e51","type":"comment","z":"811eb35.554d75","name":"bt mode updated","info":"","x":500,"y":1260,"wires":[]},{"id":"b03c1636.e2f108","type":"link in","z":"811eb35.554d75","name":"from trigger mode bt","links":["1ac2ca74.3a7036"],"x":555,"y":1300,"wires":[[]]},{"id":"c27e64bf.aa0358","type":"exec","z":"811eb35.554d75","d":true,"command":"python3 -u ~/ventilator/stepper_driver_v3.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":250,"y":160,"wires":[[],[],[]]},{"id":"d72bef2d.59b31","type":"comment","z":"dea9ee4a.091b4","name":"Buzzer","info":"","x":70,"y":1940,"wires":[]},{"id":"94c1c4f0.a76b38","type":"comment","z":"927d9689.f973b8","name":"vnc port 1 runner","info":"","x":80,"y":760,"wires":[]},{"id":"2f2888da.55dd18","type":"inject","z":"927d9689.f973b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":800,"wires":[["2874e128.136cfe"]]},{"id":"2874e128.136cfe","type":"exec","z":"927d9689.f973b8","command":"vncserver","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":240,"y":800,"wires":[[],[],[]]},{"id":"c5a345cf.c8bcb8","type":"link in","z":"dea9ee4a.091b4","name":"from buzzer control off","links":["e618bb00.722458"],"x":135,"y":2360,"wires":[["a00b20be.2635a"]]},{"id":"50878b9f.37e794","type":"comment","z":"dea9ee4a.091b4","name":"bt mute off","info":"","x":100,"y":2220,"wires":[]},{"id":"61d887ea.962de8","type":"link in","z":"dea9ee4a.091b4","name":"from buzzer control on","links":["856dc837.6c15d8"],"x":175,"y":2160,"wires":[["32a43a10.5359e6"]]},{"id":"6b8580b6.49a36","type":"comment","z":"dea9ee4a.091b4","name":"bt mute on","info":"","x":100,"y":2120,"wires":[]},{"id":"956dff3e.cc8ca","type":"function","z":"dea9ee4a.091b4","name":"setBuzzerLevel","func":"    var high = false;\n    var med = false;\n    var low = false;\n    var mute = global.get(\"buzzer_mute\");\n    var level = 0;\n    \n    var alarm_01 = global.get(\"alarm_01\");\n    var alarm_02 = global.get(\"alarm_02\");\n    var alarm_03 = global.get(\"alarm_03\");\n    var alarm_04 = global.get(\"alarm_04\");\n    var alarm_05 = global.get(\"alarm_05\");\n    var alarm_06 = global.get(\"alarm_06\");\n    var alarm_07 = global.get(\"alarm_07\");\n    var alarm_08 = global.get(\"alarm_08\");\n    \n    high = (alarm_01 || alarm_02 || alarm_03 || alarm_04);\n    med = (alarm_05 || alarm_06 || alarm_07);\n    low = alarm_08;\n    \n    // if (mute) {level = 0;}\n    // else if (high) {level = 3;}\n    // else if (med) {level = 2;}\n    // else if (low) {level = 1;}\n    \n    if (mute) {level = 0;}\n    else {\n        if(high){level=3;}\n            else {\n                if(med){level=2;}\n                    else{\n                        if(low){level=1;}\n                    }\n            }\n    }\n    \n    \n    msg.topic = \"buzzer/level\";\n    msg.payload = level;\n    msg.stat_high = high;\n    msg.stat_med = med;\n    msg.stat_low = low;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":2000,"wires":[["3971c226.5cc62e"]]},{"id":"a00b20be.2635a","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"buzzer_mute","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2360,"wires":[["f88df0b6.df064"]]},{"id":"32a43a10.5359e6","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"buzzer_mute","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2160,"wires":[["2fa6ce0c.a892c2"]]},{"id":"6dc6508c.f0bdb","type":"inject","z":"dea9ee4a.091b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"08_ON","payloadType":"str","x":250,"y":1840,"wires":[["31b79ed6.ad2b62"]]},{"id":"b7a8368c.4a9828","type":"function","z":"dea9ee4a.091b4","name":"setAlarmGlobalVar","func":"switch (msg.no) {\n    case \"01\": global.set(\"alarm_01\", msg.payload); break;\n    case \"02\": global.set(\"alarm_02\", msg.payload); break;\n    case \"03\": global.set(\"alarm_03\", msg.payload); break;\n    case \"04\": global.set(\"alarm_04\", msg.payload); break;\n    case \"05\": global.set(\"alarm_05\", msg.payload); break;\n    case \"06\": global.set(\"alarm_06\", msg.payload); break;\n    case \"07\": global.set(\"alarm_07\", msg.payload); break;\n    case \"08\": global.set(\"alarm_08\", msg.payload); break;\n    case \"99\":\n        global.set(\"alarm_01\", msg.payload);\n        global.set(\"alarm_02\", msg.payload);\n        global.set(\"alarm_03\", msg.payload);\n        global.set(\"alarm_04\", msg.payload);\n        global.set(\"alarm_05\", msg.payload);\n        global.set(\"alarm_06\", msg.payload);\n        global.set(\"alarm_07\", msg.payload);\n        global.set(\"alarm_08\", msg.payload);\n        break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1880,"wires":[["1b9881e9.395ade"]]},{"id":"7213e951.89b0a8","type":"comment","z":"dea9ee4a.091b4","name":"bt alarm reset (v2)","info":"","x":130,"y":2420,"wires":[]},{"id":"559e0520.f5d26c","type":"link in","z":"dea9ee4a.091b4","name":"from alarm reset bt","links":["44282871.69d8d8"],"x":175,"y":2460,"wires":[["7a83357a.6afa5c"]]},{"id":"7a83357a.6afa5c","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"99_OFF","tot":"str"},{"t":"set","p":"count_start","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"low_pres_detect","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2460,"wires":[["cb5518a7.bf2708"]]},{"id":"cb5518a7.bf2708","type":"link out","z":"dea9ee4a.091b4","name":"from setAlarmReset","links":["31673605.46d5aa"],"x":455,"y":2460,"wires":[]},{"id":"24e7972b.3edcb8","type":"link in","z":"dea9ee4a.091b4","name":"setBuzzerLevel()","links":["1b9881e9.395ade","f88df0b6.df064","7385ff53.e96d4","2fa6ce0c.a892c2"],"x":55,"y":2000,"wires":[["956dff3e.cc8ca"]]},{"id":"1b9881e9.395ade","type":"link out","z":"dea9ee4a.091b4","name":"from setAlarmGlobalVar","links":["24e7972b.3edcb8"],"x":715,"y":1880,"wires":[]},{"id":"3ae81c0b.f342c4","type":"inject","z":"dea9ee4a.091b4","name":"Initialize global var. (buzzer_mute and alarm_0x) (v2)","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":240,"y":2260,"wires":[["a00b20be.2635a","990e7771.64e5c8"]]},{"id":"990e7771.64e5c8","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"99_OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":2320,"wires":[["d2c73766.b63978"]]},{"id":"f88df0b6.df064","type":"link out","z":"dea9ee4a.091b4","name":"from setMuteOff","links":["24e7972b.3edcb8"],"x":515,"y":2360,"wires":[]},{"id":"d2c73766.b63978","type":"link out","z":"dea9ee4a.091b4","name":"from initialMuteOff","links":["31673605.46d5aa"],"x":515,"y":2320,"wires":[]},{"id":"2fa6ce0c.a892c2","type":"link out","z":"dea9ee4a.091b4","name":"from setMuteOn","links":["24e7972b.3edcb8"],"x":515,"y":2160,"wires":[]},{"id":"730f771d.6ad218","type":"switch","z":"dea9ee4a.091b4","name":"toneLevelSwitch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"neq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":6,"x":580,"y":2000,"wires":[["632b827f.a0febc","900afbe4.b7c8d8"],["cbfe8a09.cd51e8"],["d22b934c.ec2b8"],["fc8cf0e0.7941e"],["5e9dc28f.33105c"],["900afbe4.b7c8d8","5b863297.ea19bc"]]},{"id":"632b827f.a0febc","type":"change","z":"dea9ee4a.091b4","name":"buzzer_on","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1980,"wires":[["243f9a3a.002d86"]]},{"id":"5b863297.ea19bc","type":"change","z":"dea9ee4a.091b4","name":"buzzer_off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":2040,"wires":[["243f9a3a.002d86"]]},{"id":"243f9a3a.002d86","type":"rpi-gpio out","z":"dea9ee4a.091b4","name":"BUZZER_PIN","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1760,"y":1980,"wires":[]},{"id":"a2f103ba.ee388","type":"inject","z":"dea9ee4a.091b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1770,"y":2120,"wires":[["243f9a3a.002d86"]]},{"id":"7feaebf2.c87784","type":"inject","z":"dea9ee4a.091b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1770,"y":2080,"wires":[["243f9a3a.002d86"]]},{"id":"acd088e3.e94be8","type":"delay","z":"dea9ee4a.091b4","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":2200,"wires":[["bf8a08c8.05bc88"]]},{"id":"70b84d47.93d774","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2140,"wires":[["acd088e3.e94be8","632b827f.a0febc"]]},{"id":"bf8a08c8.05bc88","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2260,"wires":[["4eaa88ab.caae58"]]},{"id":"cbfe8a09.cd51e8","type":"trigger","z":"dea9ee4a.091b4","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-500","extend":false,"units":"ms","reset":"0","bytopic":"all","outputs":1,"x":860,"y":2140,"wires":[["70b84d47.93d774"]]},{"id":"d22b934c.ec2b8","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2100,"wires":[["cbfe8a09.cd51e8"]]},{"id":"5e9dc28f.33105c","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":2300,"wires":[["fc8cf0e0.7941e"]]},{"id":"fc8cf0e0.7941e","type":"trigger","z":"dea9ee4a.091b4","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"0","bytopic":"all","outputs":1,"x":840,"y":2340,"wires":[["13d35b64.709d15"]]},{"id":"13d35b64.709d15","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":2340,"wires":[["fa7fa22a.467c6","632b827f.a0febc"]]},{"id":"fa7fa22a.467c6","type":"delay","z":"dea9ee4a.091b4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":2380,"wires":[["241c579c.3d9818"]]},{"id":"241c579c.3d9818","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":2420,"wires":[["4eaa88ab.caae58"]]},{"id":"a434dc84.5c273","type":"inject","z":"dea9ee4a.091b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"01_ON","payloadType":"str","x":90,"y":1760,"wires":[["31b79ed6.ad2b62"]]},{"id":"4d44a657.63fae8","type":"inject","z":"dea9ee4a.091b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"01_OFF","payloadType":"str","x":100,"y":1800,"wires":[["31b79ed6.ad2b62"]]},{"id":"6c1f750b.72d76c","type":"inject","z":"dea9ee4a.091b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"08_OFF","payloadType":"str","x":260,"y":1880,"wires":[["31b79ed6.ad2b62"]]},{"id":"8a893358.1b584","type":"inject","z":"dea9ee4a.091b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"05_ON","payloadType":"str","x":90,"y":1840,"wires":[["31b79ed6.ad2b62"]]},{"id":"36ff55a1.9bc1ca","type":"inject","z":"dea9ee4a.091b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"05_OFF","payloadType":"str","x":100,"y":1880,"wires":[["31b79ed6.ad2b62"]]},{"id":"a89d722a.2df86","type":"comment","z":"dea9ee4a.091b4","name":"Level Low Routine","info":"","x":830,"y":2260,"wires":[]},{"id":"8915082f.65ac68","type":"comment","z":"dea9ee4a.091b4","name":"Level Medium Routine","info":"","x":840,"y":2060,"wires":[]},{"id":"d0b399e2.a73268","type":"function","z":"811eb35.554d75","d":true,"name":"setStepCount","func":"//-- Var declaration\nvar ie = global.get(\"set_ie\");\nvar rr = global.get(\"set_rr\");\nvar peep = global.get(\"set_peep\");\nvar vol = global.get(\"set_vol\");\nvar pulse_width_i = 1000; // dummy value\nvar step_count = 1;\n\n//-- Cycle time\nvar cycle_period = 60000000/rr; //in microsec\nvar inhale_time = cycle_period/(ie+1);    //in microsec\n// step_count = vol*2;\n// pulse_width_i = Math.round(inhale_time/step_count);\n\n/* note from pak Samudra\nLinear move = vol / 153.86\nRotasi shaft = linearMove / 0.4\nRotasi Motor = rotasi shaft * 10/60 = 2.166 rotasi\nIE 1:3 RR 30, waktu inhale 0.5 detik\n2.166 rotasi/0.5detik = 4.333 rps = 259.97 rpm\n*/\n\n//-- Piston mechanism\nconst PUSHER_DIA = 14; // in cm\nvar pusher_area = 3.14 * 0.25 * ((PUSHER_DIA)^2); // in cm^2\n\n//var moving_dist_linear = 7.1494; // min to max movement, in cm\nvar moving_dist_linear = vol / pusher_area; // in cm, vol in mL\n\nconst LIN_SCREW_PITCH = 0.4; // in cm per rotation\nvar shaft_rotation = moving_dist_linear / LIN_SCREW_PITCH; // in rotation, moving_dist_linear in cm\n\nconst MOTOR_TO_SHAFT_RATIO = 10/300; // based on pulley configuration\nvar motor_rotation = shaft_rotation * MOTOR_TO_SHAFT_RATIO; // in rotation\n\nconst STEPPER_STEP_PER_ROTATION = 400; // based on dip switch on driver\nvar stepper_step_amount = motor_rotation * STEPPER_STEP_PER_ROTATION;\n\n//-- Pulse_width\npulse_width_i = Math.round(inhale_time/stepper_step_amount);\nstepper_step_amount = Math.round(stepper_step_amount);\n\n//-- Payload assignment\nmsg.pulse_width = pulse_width_i;\nmsg.step_count = stepper_step_amount;\nmsg.rr = rr;\nmsg.ie = ie;\nmsg.vti = vol;\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":460,"wires":[["5333e6e1.f3d708","e50eeca4.82d9e","f2ccc686.110628","c125dd1d.bcc5d","8a051b1.934bce8"]]},{"id":"f0fdd752.c5d718","type":"switch","z":"dea9ee4a.091b4","name":"check breathing_phase","property":"breathing_phase","propertyType":"global","rules":[{"t":"cont","v":"eoc","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1770,"y":720,"wires":[["c79ed7cf.d973e8"],["e40ea5a6.f76ec8"]]},{"id":"c79ed7cf.d973e8","type":"function","z":"dea9ee4a.091b4","name":"cekFighting","func":"newmsg = {payload: \"\"};\n\n// Kondisi sekarang\nvar peak_count = flow.get(\"peak_count\");\nvar peak_val = flow.get(\"peak_val_f\");\n\n// var stat = \"03_OFF\";\nvar stat = \"\";\nvar pres_val = msg.payload;\n\nif(pres_val > peak_val){\n    // peak_val += pres_val;\n    peak_val = pres_val;\n    flow.set(\"peak_val_f\", peak_val);\n} else {\n    if(peak_val - pres_val >= 4.5){\n        peak_count += 1;\n        flow.set(\"peak_count\", peak_count);\n        newmsg.pv = peak_val;\n        peak_val = 0;\n        flow.set(\"peak_val_f\", peak_val)\n    }\n}\n\nif (peak_count > 2){\n    flow.set(\"peak_count\",0);\n    stat = \"03_ON\";\n    newmsg.payload = stat;\n    newmsg.pc = peak_count;\n    // newmsg.pv = peak_val;\n    return newmsg;\n}\n// newmsg = {payload: \"\"};\n// newmsg.payload = stat;\n// return newmsg;","outputs":1,"noerr":0,"x":1990,"y":720,"wires":[["3d51cb51.7319e4","e7fe6470.448a98"]]},{"id":"e40ea5a6.f76ec8","type":"change","z":"dea9ee4a.091b4","name":"reset_peaks","rules":[{"t":"set","p":"peak_count","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"peak_val_f","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"peak_val","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":760,"wires":[[]]},{"id":"5333e6e1.f3d708","type":"function","z":"811eb35.554d75","name":"sendPulse","func":"msg.topic = \"root/stepper/pulse_width\";\nmsg.payload = msg.pulse_width;\n// msg.payload = 1000;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":500,"wires":[["7aec1b97.6f0aa4"]]},{"id":"e50eeca4.82d9e","type":"function","z":"811eb35.554d75","name":"sendStepCount","func":"msg.topic = \"root/stepper/step_count_set\";\nmsg.payload = msg.step_count;\n// msg.payload = 500;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":660,"wires":[["7aec1b97.6f0aa4","5467fe45.0df29"]]},{"id":"1c39e554.ed2e7b","type":"change","z":"811eb35.554d75","d":true,"name":"send Mode","rules":[{"t":"set","p":"topic","pt":"msg","to":"root/stepper/mode","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"modemandatory","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":780,"wires":[["7aec1b97.6f0aa4"]]},{"id":"aeefd2b0.025fb","type":"change","z":"811eb35.554d75","name":"send Enable","rules":[{"t":"set","p":"topic","pt":"msg","to":"root/stepper/ena","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":740,"wires":[["1c39e554.ed2e7b","7aec1b97.6f0aa4","b262e001.0aaaa"]]},{"id":"59f229d6.ee9ca8","type":"change","z":"811eb35.554d75","name":"End of Cycle stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"mode_on_off","pt":"global","to":"0","tot":"num"},{"t":"set","p":"low_pres_detect","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1100,"wires":[["cbaf3b7.36d9cc8"]]},{"id":"950306ec.ba8f58","type":"mqtt in","z":"dea9ee4a.091b4","d":true,"name":"","topic":"root/stepper/br_phase","qos":"2","datatype":"auto","broker":"913f80b.7920f8","x":1000,"y":100,"wires":[["c85dbcde.22e18"]]},{"id":"5dce6d1b.882164","type":"comment","z":"dea9ee4a.091b4","name":"Find PIP,IPP,PEEP","info":"","x":1450,"y":800,"wires":[]},{"id":"c85dbcde.22e18","type":"change","z":"dea9ee4a.091b4","d":true,"name":"","rules":[{"t":"set","p":"breathing_phase","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"breathing_phase","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":100,"wires":[["7990cbd8.8d10f4","afa43b6c.6cf318","f1bd5a47.e40fb8"]]},{"id":"7990cbd8.8d10f4","type":"debug","z":"dea9ee4a.091b4","name":"debug breathingPhase1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1510,"y":180,"wires":[]},{"id":"f2ccc686.110628","type":"change","z":"811eb35.554d75","name":"send RR","rules":[{"t":"set","p":"topic","pt":"msg","to":"root/stepper/rr","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"rr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":540,"wires":[["7aec1b97.6f0aa4"]]},{"id":"c9c8ffc7.db24b","type":"mqtt in","z":"811eb35.554d75","d":true,"name":"","topic":"root/stepper/#","qos":"2","datatype":"auto","broker":"913f80b.7920f8","x":150,"y":220,"wires":[["ea0fe1f6.38887"]]},{"id":"ea0fe1f6.38887","type":"debug","z":"811eb35.554d75","d":true,"name":"debug stepper_driver.py","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":230,"y":280,"wires":[]},{"id":"4940b10.c41b35","type":"link in","z":"927d9689.f973b8","name":"to pressure graph","links":["4a1fa4ed.8ed21c"],"x":175,"y":580,"wires":[["569bf189.12a8d"]]},{"id":"ddf371a1.74b9b","type":"debug","z":"dea9ee4a.091b4","name":"debug bit2pres","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1580,"y":600,"wires":[]},{"id":"3352e1ad.ee778e","type":"link in","z":"c234feb0.ef673","name":"to updateDashPIP,IPP,PEEP","links":["41d85bab.453d44","e8cc7e57.e4712","95286c99.b34ef"],"x":235,"y":3260,"wires":[["133afdd.01a5a02","641118f5.584448","7396268b.02eb38","ffa58044.8d317"]]},{"id":"8e11e07.fd1a72","type":"link in","z":"c234feb0.ef673","name":"toDashO2","links":["c69da0e5.62a6a"],"x":215,"y":3500,"wires":[["4a56430d.252f6c"]]},{"id":"d677cad9.baabe8","type":"link out","z":"c234feb0.ef673","name":"from bt Apply pg1","links":["ccca6409.7348f8","c491c224.5dc58"],"x":1155,"y":1780,"wires":[]},{"id":"1e532d90.0f27c2","type":"function","z":"dea9ee4a.091b4","name":"findPIP","func":"var pres_now = parseFloat(msg.payload);\nvar pip_now = parseFloat(global.get(\"pip_val\"));\n\nif (pres_now > pip_now) {\n    pip_now = pres_now;\n    global.set(\"pip_val\",pip_now);\n}\n\n// msg.payload = pip_now;\n\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":840,"wires":[["91bd9d36.309c7"]]},{"id":"91bd9d36.309c7","type":"change","z":"dea9ee4a.091b4","d":true,"name":"","rules":[{"t":"set","p":"pip_val","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"pip_val","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":840,"wires":[[]]},{"id":"ee53cec3.8c1f8","type":"link in","z":"dea9ee4a.091b4","name":"to findIPP v2","links":["4a1fa4ed.8ed21c"],"x":1275,"y":840,"wires":[["25b86ff1.1f147"]]},{"id":"9eef4fc2.6358a","type":"switch","z":"dea9ee4a.091b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ec","vt":"str"},{"t":"cont","v":"ei","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":900,"wires":[["9c12352.17510c8","41d85bab.453d44","afe38847.8781d8"],["35a917fb.8ed588"]]},{"id":"41d85bab.453d44","type":"link out","z":"dea9ee4a.091b4","name":"from BreathingPhase eoc","links":["3352e1ad.ee778e"],"x":1775,"y":880,"wires":[]},{"id":"34bbe0fe.f9d8e","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pip_val","tot":"global"},{"t":"set","p":"find_pip_flag","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":3260,"wires":[["33dcb3b7.de634c"]]},{"id":"33dcb3b7.de634c","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"pip_val","pt":"global","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":3260,"wires":[["7815099b.ceda18","b6b27f18.223ae","e519f4e8.b15ec8"]]},{"id":"133afdd.01a5a02","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ipp_val","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":3360,"wires":[["83c4498f.d0bb18"]]},{"id":"641118f5.584448","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"peep_val","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":3420,"wires":[["cb94c53a.58e598"]]},{"id":"3926d53d.28079a","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"pres_val","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":620,"wires":[[]]},{"id":"98772ff8.7f5bb","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"ipp_val","pt":"global","to":"pres_val","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":960,"wires":[[]]},{"id":"9c12352.17510c8","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"peep_val","pt":"global","to":"pres_val","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":920,"wires":[[]]},{"id":"a4e6dc6a.fc495","type":"comment","z":"927d9689.f973b8","name":"pressure data generator","info":"","x":100,"y":1060,"wires":[]},{"id":"63cc357.3098dcc","type":"inject","z":"927d9689.f973b8","d":true,"name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":1100,"wires":[["de9670f8.b9e6e"]]},{"id":"de9670f8.b9e6e","type":"trigger","z":"927d9689.f973b8","d":true,"name":"","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"-70","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":270,"y":1100,"wires":[["43c4ea85.0261f4"]]},{"id":"827576b6.3cdd78","type":"mqtt out","z":"927d9689.f973b8","d":true,"name":"","topic":"raw_pressure_val","qos":"","retain":"","broker":"913f80b.7920f8","x":650,"y":1100,"wires":[]},{"id":"43c4ea85.0261f4","type":"random","z":"927d9689.f973b8","d":true,"name":"","low":"0.72","high":"0.78","inte":"false","property":"payload","x":460,"y":1100,"wires":[["827576b6.3cdd78"]]},{"id":"2eb8ee22.6c1052","type":"link in","z":"dea9ee4a.091b4","name":"from mqttPressure, to calcBit2Pres","links":["6fcced42.5b3654"],"x":1395,"y":560,"wires":[["ddf371a1.74b9b","85805513.f0fce8","d7dc008d.138f4","5416e29a.b5ec5c"]]},{"id":"7815099b.ceda18","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"-1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":3260,"wires":[["698b027e.e4120c"],["55dc2e84.7431b"]]},{"id":"698b027e.e4120c","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":3240,"wires":[["55dc2e84.7431b"]]},{"id":"2de55679.c8c53a","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":3340,"wires":[["a17c1ccc.d97b1"]]},{"id":"83c4498f.d0bb18","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"-1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":3360,"wires":[["2de55679.c8c53a"],["a17c1ccc.d97b1"]]},{"id":"d5429af6.f261c8","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":3400,"wires":[["6d1dfb34.0e4804"]]},{"id":"cb94c53a.58e598","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"-1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":3420,"wires":[["d5429af6.f261c8"],["6d1dfb34.0e4804"]]},{"id":"2062427e.47c38e","type":"link in","z":"811eb35.554d75","name":"to changeParameterOTG","links":["fd6af82d.3aaa38","43aeaf3f.ec01f"],"x":95,"y":1180,"wires":[["7a7dfee6.4255b","614402f2.10a54c"]]},{"id":"c125dd1d.bcc5d","type":"change","z":"811eb35.554d75","name":"send IE","rules":[{"t":"set","p":"payload","pt":"msg","to":"ie","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"root/stepper/ie","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":580,"wires":[["7aec1b97.6f0aa4"]]},{"id":"8a051b1.934bce8","type":"change","z":"811eb35.554d75","name":"send Vti","rules":[{"t":"set","p":"payload","pt":"msg","to":"vti","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"root/stepper/vti","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":620,"wires":[["7aec1b97.6f0aa4"]]},{"id":"7aec1b97.6f0aa4","type":"link out","z":"811eb35.554d75","name":"from setStepCount","links":["232f672a.063fa8"],"x":375,"y":460,"wires":[]},{"id":"cbaf3b7.36d9cc8","type":"link out","z":"811eb35.554d75","name":"from commandStop","links":["245b4152.6de98e"],"x":555,"y":1100,"wires":[]},{"id":"5467fe45.0df29","type":"switch","z":"811eb35.554d75","name":"is fromSetValue","property":"fromSetValue","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":700,"wires":[[],["aeefd2b0.025fb"]]},{"id":"d8f5db00.78ff38","type":"change","z":"811eb35.554d75","name":"","rules":[{"t":"set","p":"mode_on_off","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":980,"wires":[["6b22972f.adc3a8"]]},{"id":"245b4152.6de98e","type":"link in","z":"811eb35.554d75","name":"to setStepCount","links":["6b22972f.adc3a8","614402f2.10a54c","cbaf3b7.36d9cc8"],"x":55,"y":380,"wires":[["d0b399e2.a73268","eedaf936.6613e8","8b16463d.d689f8"]]},{"id":"6b22972f.adc3a8","type":"link out","z":"811eb35.554d75","name":"from commandStart","links":["245b4152.6de98e","a89df4d9.1a1988"],"x":535,"y":980,"wires":[]},{"id":"6381045a.8e69fc","type":"comment","z":"811eb35.554d75","name":"Set stepper-raspi param","info":"","x":180,"y":420,"wires":[]},{"id":"7a7dfee6.4255b","type":"change","z":"811eb35.554d75","d":true,"name":"","rules":[{"t":"set","p":"fromSetValue","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1220,"wires":[["614402f2.10a54c"]]},{"id":"614402f2.10a54c","type":"link out","z":"811eb35.554d75","name":"from setValue2","links":["245b4152.6de98e"],"x":395,"y":1180,"wires":[]},{"id":"4b5188a1.85a0d8","type":"comment","z":"811eb35.554d75","name":"bt next set value","info":"","x":120,"y":1140,"wires":[]},{"id":"569bf189.12a8d","type":"influxdb out","z":"927d9689.f973b8","influxdb":"a27e7919.2f3458","name":"","measurement":"pressure","precision":"","retentionPolicy":"","x":460,"y":580,"wires":[]},{"id":"34365754.56f2f8","type":"influxdb out","z":"927d9689.f973b8","influxdb":"a27e7919.2f3458","name":"","measurement":"flowrate","precision":"","retentionPolicy":"","x":460,"y":660,"wires":[]},{"id":"8bf4f399.f6304","type":"influxdb out","z":"927d9689.f973b8","influxdb":"a27e7919.2f3458","name":"","measurement":"volume","precision":"","retentionPolicy":"","x":460,"y":620,"wires":[]},{"id":"74f27c07.2f63f4","type":"serial in","z":"811eb35.554d75","name":"Serial_read Nano_motor","serial":"85fb4f9c.e9739","x":650,"y":100,"wires":[["2d5a37a9.06bcc8","fe025649.e5e418"]]},{"id":"fe025649.e5e418","type":"debug","z":"811eb35.554d75","name":"from serial_nano","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":100,"wires":[]},{"id":"7703bffc.709e2","type":"serial out","z":"811eb35.554d75","name":"Serial_write Nano_motor","serial":"85fb4f9c.e9739","x":710,"y":180,"wires":[]},{"id":"e54632d8.a9f9b","type":"comment","z":"811eb35.554d75","name":"[Servo-Nano] USB-UART Read/Write Arduino Nano ","info":"","x":710,"y":60,"wires":[]},{"id":"cf279ae9.980bc8","type":"link in","z":"811eb35.554d75","name":"to NanoWrite","links":["df3fdb95.7130e8"],"x":555,"y":180,"wires":[["7703bffc.709e2","b3d90eaf.ee5b4"]]},{"id":"eedaf936.6613e8","type":"function","z":"811eb35.554d75","d":true,"name":"msgToNano","func":"var mode_on_off = global.get(\"mode_on_off\");\nvar mode_breathing = global.get(\"modemandatory\");\nif (mode_breathing) {mode_breathing = 1;}\nelse {mode_breathing = 2}\n\nif (mode_on_off != 1) {\n    mode_breathing = 0;\n}\n\nvar vti = global.get(\"set_vol\");\nvar rr = global.get(\"set_rr\");\nvar ie = global.get(\"set_ie\");\n\nmsg.payload = '<' + mode_breathing + ',' + vti + ',' + rr + ',' + ie + '>';\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":460,"wires":[["df3fdb95.7130e8"]]},{"id":"df3fdb95.7130e8","type":"link out","z":"811eb35.554d75","name":"from servo-nano setparam","links":["cf279ae9.980bc8"],"x":1215,"y":460,"wires":[]},{"id":"3d6b192c.918d06","type":"comment","z":"811eb35.554d75","name":"Set servo-nano param","info":"","x":620,"y":420,"wires":[]},{"id":"2d5a37a9.06bcc8","type":"link out","z":"811eb35.554d75","name":"from NanoRead","links":["52611f96.c3dfe","5974972c.1e45f8"],"x":815,"y":140,"wires":[]},{"id":"faab48a4.1f3cc8","type":"comment","z":"811eb35.554d75","name":"Set actuator param","info":"","x":110,"y":340,"wires":[]},{"id":"545d806f.92677","type":"comment","z":"811eb35.554d75","name":"Actuator interface","info":"","x":100,"y":20,"wires":[]},{"id":"152d0212.59fece","type":"comment","z":"811eb35.554d75","name":"[Stepper-Raspi] MQTT to/from Python","info":"","x":210,"y":60,"wires":[]},{"id":"ee5f4b06.3c0958","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"buttonstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3740,"wires":[["22c802d7.06fe1e","61c4e70a.912638"]]},{"id":"e0fdcfe3.7325f","type":"link in","z":"c234feb0.ef673","name":"from button stopper","links":["9352bfa7.258fe","6a7965d9.13aeac","b2bd6044.8d6ed","3aa2d417.f1bdfc"],"x":295,"y":3740,"wires":[["ee5f4b06.3c0958"]]},{"id":"ca562a83.d727f8","type":"comment","z":"c234feb0.ef673","name":"auto stop","info":"","x":600,"y":3700,"wires":[]},{"id":"9352bfa7.258fe","type":"link out","z":"c234feb0.ef673","d":true,"name":"stop the button","links":["e0fdcfe3.7325f"],"x":475,"y":620,"wires":[]},{"id":"6a7965d9.13aeac","type":"link out","z":"c234feb0.ef673","d":true,"name":"stop the button","links":["e0fdcfe3.7325f"],"x":475,"y":820,"wires":[]},{"id":"b2bd6044.8d6ed","type":"link out","z":"c234feb0.ef673","d":true,"name":"stop the button","links":["e0fdcfe3.7325f"],"x":475,"y":1000,"wires":[]},{"id":"3aa2d417.f1bdfc","type":"link out","z":"c234feb0.ef673","name":"stop the button","links":["e0fdcfe3.7325f"],"x":475,"y":1200,"wires":[]},{"id":"d8501703.c03548","type":"inject","z":"c234feb0.ef673","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":350,"y":3700,"wires":[["ee5f4b06.3c0958"]]},{"id":"bf3dc839.c58ea8","type":"link in","z":"811eb35.554d75","d":true,"name":"to stepperDriverPython","links":["a5830e1c.03e5f"],"x":155,"y":100,"wires":[["c27e64bf.aa0358"]]},{"id":"4c059b39.5cddb4","type":"exec","z":"dea9ee4a.091b4","d":true,"command":"python3 -u ~/ventilator/sampling_ads1115_v2.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":100,"wires":[[],[],[]]},{"id":"2506cc60.13e724","type":"link in","z":"dea9ee4a.091b4","name":"to adcSamplingPython","links":["956bf2ac.c999b","a5830e1c.03e5f"],"x":75,"y":100,"wires":[["4c059b39.5cddb4"]]},{"id":"7f91fd5b.fd56e4","type":"mosca in","z":"927d9689.f973b8","d":true,"mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":110,"y":900,"wires":[[]]},{"id":"c7999375.773a3","type":"inject","z":"927d9689.f973b8","d":true,"name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1000,"wires":[["3c5f5b09.7272c4"]]},{"id":"3c5f5b09.7272c4","type":"exec","z":"927d9689.f973b8","command":"pkill python3","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":280,"y":1000,"wires":[["7545f118.54182"],["c2fe7a72.aea148"],[]]},{"id":"c2fe7a72.aea148","type":"debug","z":"927d9689.f973b8","name":"debug python initialization","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":1020,"wires":[]},{"id":"7545f118.54182","type":"delay","z":"927d9689.f973b8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":980,"wires":[["a5830e1c.03e5f"]]},{"id":"232f672a.063fa8","type":"link in","z":"927d9689.f973b8","d":true,"name":"to publishMQTT","links":["7aec1b97.6f0aa4"],"x":295,"y":900,"wires":[["8b7889ba.98f0e8"]]},{"id":"8b7889ba.98f0e8","type":"mqtt out","z":"927d9689.f973b8","d":true,"name":"","topic":"","qos":"","retain":"","broker":"913f80b.7920f8","x":390,"y":900,"wires":[]},{"id":"a5830e1c.03e5f","type":"link out","z":"927d9689.f973b8","name":"from pythonInit","links":["bf3dc839.c58ea8","6a6a99f2.202d78","2506cc60.13e724"],"x":575,"y":980,"wires":[]},{"id":"9312b19d.240e8","type":"comment","z":"927d9689.f973b8","name":"MQTT broker and publisher","info":"","x":120,"y":860,"wires":[]},{"id":"1148e59c.112f3a","type":"comment","z":"927d9689.f973b8","name":"Python initialization","info":"","x":90,"y":960,"wires":[]},{"id":"568dd4bc.491a8c","type":"rbe","z":"c234feb0.ef673","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":230,"y":1240,"wires":[["825b82eb.f7677"]]},{"id":"26c77141.4705be","type":"rbe","z":"c234feb0.ef673","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":230,"y":1040,"wires":[["38c187be.0a4b78"]]},{"id":"575da470.bf926c","type":"rbe","z":"c234feb0.ef673","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":230,"y":860,"wires":[["2a9aa268.52072e"]]},{"id":"bcf5e6f6.45c348","type":"rbe","z":"c234feb0.ef673","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":230,"y":660,"wires":[["656162ea.b0c2fc"]]},{"id":"18406676.2e57fa","type":"rbe","z":"c234feb0.ef673","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1170,"y":660,"wires":[["7de5a5c4.6909dc"]]},{"id":"32dbfa7f.9ec1a6","type":"rbe","z":"c234feb0.ef673","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1170,"y":860,"wires":[["4e8eb7eb.fce548"]]},{"id":"dbd1f7fa.16c238","type":"rbe","z":"c234feb0.ef673","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1170,"y":1040,"wires":[["c7a4c429.458d78"]]},{"id":"f5c00e39.9f2e","type":"rbe","z":"c234feb0.ef673","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1170,"y":1240,"wires":[["d19c3dbd.68bd4"]]},{"id":"61c4e70a.912638","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":3740,"wires":[["53ab4803.5faa38"]]},{"id":"5a026646.6f9568","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":3780,"wires":[["53ab4803.5faa38"]]},{"id":"88457fd3.10927","type":"link in","z":"c234feb0.ef673","name":"enable start","links":["44282871.69d8d8"],"x":295,"y":3780,"wires":[["5a026646.6f9568"]]},{"id":"7597ada3.32d6d4","type":"link in","z":"dea9ee4a.091b4","name":"","links":["afa43b6c.6cf318"],"x":1395,"y":900,"wires":[["9eef4fc2.6358a"]]},{"id":"afa43b6c.6cf318","type":"link out","z":"dea9ee4a.091b4","name":"from breathingPhase","links":["7597ada3.32d6d4","fabea049.b39e6"],"x":1415,"y":80,"wires":[]},{"id":"83274eb8.5ab5c","type":"comment","z":"dea9ee4a.091b4","name":"Breathing phase flag","info":"","x":930,"y":20,"wires":[]},{"id":"5974972c.1e45f8","type":"link in","z":"dea9ee4a.091b4","name":"to breathingPhaseFlag_serial","links":["2d5a37a9.06bcc8"],"x":915,"y":200,"wires":[["9dfc3267.24e41","f1bd5a47.e40fb8"]]},{"id":"448e9e9b.83bce","type":"comment","z":"dea9ee4a.091b4","name":"MQTT interface","info":"","x":960,"y":60,"wires":[]},{"id":"11ab769b.da7329","type":"comment","z":"dea9ee4a.091b4","name":"UART interface","info":"","x":960,"y":160,"wires":[]},{"id":"7ca2f7ad.3e9b88","type":"comment","z":"dea9ee4a.091b4","name":"Sensor sampling","info":"","x":100,"y":20,"wires":[]},{"id":"b262e001.0aaaa","type":"function","z":"811eb35.554d75","name":"send Mode","func":"mode_on_off = global.get(\"mode_on_off\");\nmode_breathing = global.get(\"modemandatory\");\nif (mode_breathing) {mode_breathing = 1;}\nelse {mode_breathing = 2}\n\nif (mode_on_off != 1) {\n    mode_breathing = 0;\n}\n\nmsg.topic = \"root/stepper/mode\";\nmsg.payload = mode_breathing;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":820,"wires":[["7aec1b97.6f0aa4"]]},{"id":"b3d90eaf.ee5b4","type":"debug","z":"811eb35.554d75","name":"to serial_nano","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":220,"wires":[]},{"id":"e603bc22.98864","type":"change","z":"927d9689.f973b8","name":"set global pip ipp peep","rules":[{"t":"set","p":"pip_val","pt":"global","to":"-1","tot":"num"},{"t":"set","p":"ipp_val","pt":"global","to":"-1","tot":"num"},{"t":"set","p":"peep_val","pt":"global","to":"-1","tot":"num"},{"t":"set","p":"low_pres_detect","pt":"global","to":"0","tot":"num"},{"t":"set","p":"vpeak_val","pt":"global","to":"0","tot":"num"},{"t":"set","p":"fpeak_val","pt":"global","to":"0","tot":"num"},{"t":"set","p":"find_pip_flag","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":200,"wires":[["e8cc7e57.e4712"]]},{"id":"e8cc7e57.e4712","type":"link out","z":"927d9689.f973b8","name":"from initialPIP,IPP,PEEP","links":["3352e1ad.ee778e"],"x":915,"y":200,"wires":[]},{"id":"5104792f.b75598","type":"mqtt in","z":"dea9ee4a.091b4","d":true,"name":"","topic":"root/adc/oxy_raw","qos":"0","datatype":"auto","broker":"913f80b.7920f8","x":140,"y":160,"wires":[["f2857c2e.330fa"]]},{"id":"2e95d92d.763386","type":"link out","z":"dea9ee4a.091b4","name":"from oxy_raw","links":["5531f708.fdf1e8","9f3d1b3e.c175d8"],"x":635,"y":240,"wires":[]},{"id":"f2857c2e.330fa","type":"function","z":"dea9ee4a.091b4","d":true,"name":"parseFloat","func":"var text = msg.payload;\nmsg.topic = \"oxy_raw\";\nmsg.payload = parseFloat(text);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["2e95d92d.763386"]]},{"id":"4c37356d.e703bc","type":"function","z":"dea9ee4a.091b4","d":true,"name":"parseFloat","func":"var text = msg.payload;\nmsg.payload = parseFloat(text);\nmsg.topic = \"flow_raw\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["cfa63c08.fd6ac"]]},{"id":"cfa63c08.fd6ac","type":"link out","z":"dea9ee4a.091b4","name":"from flow_raw","links":["1b71d43.861ce2c","9f3d1b3e.c175d8"],"x":635,"y":280,"wires":[]},{"id":"27b97d49.28b222","type":"mqtt in","z":"dea9ee4a.091b4","d":true,"name":"","topic":"root/adc/flow_raw","qos":"0","datatype":"auto","broker":"913f80b.7920f8","x":140,"y":200,"wires":[["4c37356d.e703bc"]]},{"id":"e8907601.35f608","type":"function","z":"dea9ee4a.091b4","d":true,"name":"parseFloat","func":"var text = msg.payload;\nmsg.payload = parseFloat(text);\nmsg.topic = \"pres_raw\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["6fcced42.5b3654"]]},{"id":"6fcced42.5b3654","type":"link out","z":"dea9ee4a.091b4","name":"from pres_raw","links":["2eb8ee22.6c1052","9f3d1b3e.c175d8"],"x":635,"y":320,"wires":[]},{"id":"f04dfaee.31f638","type":"mqtt in","z":"dea9ee4a.091b4","d":true,"name":"","topic":"root/adc/pres_raw","qos":"0","datatype":"auto","broker":"913f80b.7920f8","x":150,"y":240,"wires":[["e8907601.35f608"]]},{"id":"c5824b73.6d29d8","type":"function","z":"dea9ee4a.091b4","name":"parseSamplingADC","func":"var text = msg.payload;\nvar oxy_raw = 0;\nvar flow_raw = 0;\nvar pres_raw = 0;\n\nvar indexStart = text.indexOf(\"{\");\nif ((indexStart != -1) && (text.indexOf(\"{e\") == -1)) {\n    indexNext = text.indexOf(',',indexStart);\n    oxy_raw = text.slice(indexStart+1, indexNext);\n    \n    indexStart = indexNext;\n    indexNext = text.indexOf(',',indexStart+1);\n    flow_raw = text.slice(indexStart+1, indexNext);\n    \n    indexStart = indexNext;\n    indexNext = text.indexOf(',',indexStart+1);\n    pres_raw = text.slice(indexStart+1, indexNext);\n    \n    indexStart = indexNext;\n    indexNext = text.indexOf('}',indexStart+1);\n    dt = text.slice(indexStart+1, indexNext);\n    \n    msg.data=1;\n    msg.oxy = parseFloat(oxy_raw);\n    msg.flow = parseFloat(flow_raw);\n    msg.pres = parseFloat(pres_raw);\n    msg.dt = parseFloat(dt);\n    \n    return msg;\n}\n// else {\n//     msg.data = 0;\n// }\n\n// msg.oxy = parseFloat(oxy_raw);\n// msg.flow = parseFloat(flow_raw);\n// msg.pres = parseFloat(pres_raw);\n\n// return msg;","outputs":1,"noerr":0,"x":190,"y":360,"wires":[["62040264.a6eeac"]]},{"id":"eecf4cba.87526","type":"link in","z":"dea9ee4a.091b4","name":"to parseSamplingADC","links":["6f441aa7.23c324"],"x":55,"y":360,"wires":[["c5824b73.6d29d8"]]},{"id":"62040264.a6eeac","type":"switch","z":"dea9ee4a.091b4","name":"isValidData","property":"data","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":460,"wires":[["94775595.f72188","34a27dcf.97fa82","8167ea9.8489318","4d738bbb.00e004"],[]]},{"id":"94775595.f72188","type":"change","z":"dea9ee4a.091b4","name":"oxy_raw","rules":[{"t":"set","p":"payload","pt":"msg","to":"oxy","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"oxy_raw","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["2e95d92d.763386"]]},{"id":"34a27dcf.97fa82","type":"change","z":"dea9ee4a.091b4","name":"flow_raw","rules":[{"t":"set","p":"payload","pt":"msg","to":"flow","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"flow_raw","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":460,"wires":[["cfa63c08.fd6ac"]]},{"id":"8167ea9.8489318","type":"change","z":"dea9ee4a.091b4","name":"pres_raw","rules":[{"t":"set","p":"payload","pt":"msg","to":"pres","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"pres_raw","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":500,"wires":[["6fcced42.5b3654"]]},{"id":"f71f9a4a.dcbbc8","type":"debug","z":"dea9ee4a.091b4","name":"debug parseSamplingADC","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":220,"y":420,"wires":[]},{"id":"cb021d69.5c033","type":"debug","z":"dea9ee4a.091b4","name":"debug raw_adc","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":380,"wires":[]},{"id":"9f3d1b3e.c175d8","type":"link in","z":"dea9ee4a.091b4","name":"to debug raw_adc","links":["2e95d92d.763386","cfa63c08.fd6ac","6fcced42.5b3654"],"x":635,"y":380,"wires":[["cb021d69.5c033"]]},{"id":"d11c7ba3.5c3028","type":"comment","z":"dea9ee4a.091b4","name":"UART-nano_sensor interface","info":"","x":160,"y":280,"wires":[]},{"id":"f08885cb.81f7d8","type":"comment","z":"dea9ee4a.091b4","name":"MQTT-python_ads interface","info":"","x":160,"y":60,"wires":[]},{"id":"6f441aa7.23c324","type":"link out","z":"dea9ee4a.091b4","name":"from NanoRead","links":["eecf4cba.87526"],"x":315,"y":320,"wires":[]},{"id":"c6a64bf5.dc6118","type":"serial in","z":"dea9ee4a.091b4","name":"Serial_read Nano_Sensor","serial":"989b6410.143868","x":150,"y":320,"wires":[["6f441aa7.23c324","f71f9a4a.dcbbc8"]]},{"id":"f1bd5a47.e40fb8","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"breathing_phase","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":140,"wires":[["7990cbd8.8d10f4","afa43b6c.6cf318"]]},{"id":"c85241e9.8cfd8","type":"link in","z":"dea9ee4a.091b4","d":true,"name":"","links":["4a1fa4ed.8ed21c"],"x":1895,"y":940,"wires":[["5ceef6ca.881f68"]]},{"id":"e1338567.4a64b8","type":"switch","z":"dea9ee4a.091b4","name":"","property":"breathing_phase","propertyType":"global","rules":[{"t":"eq","v":"eoi","vt":"str"},{"t":"eq","v":"eoc","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":940,"wires":[["a45655be.e21898"],["2fb0d819.4c4d68"]]},{"id":"a45655be.e21898","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"peep_val","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"ipp_peep_updateFlag","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2260,"y":920,"wires":[["a124b3e4.fef36"]]},{"id":"2fb0d819.4c4d68","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"ipp_val","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"ipp_peep_updateFlag","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2260,"y":960,"wires":[[]]},{"id":"5ceef6ca.881f68","type":"switch","z":"dea9ee4a.091b4","name":"","property":"ipp_peep_updateFlag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1980,"y":940,"wires":[["e1338567.4a64b8"]]},{"id":"95286c99.b34ef","type":"link out","z":"dea9ee4a.091b4","name":"from BreathingPhase eoc","links":["3352e1ad.ee778e"],"x":2515,"y":920,"wires":[]},{"id":"90ccffe6.8be11","type":"comment","z":"dea9ee4a.091b4","name":"(alt. exp.) Find IPP,PEEP","info":"","x":1970,"y":840,"wires":[]},{"id":"fabea049.b39e6","type":"link in","z":"dea9ee4a.091b4","d":true,"name":"","links":["afa43b6c.6cf318"],"x":1895,"y":880,"wires":[["59ecb51e.729e1c"]]},{"id":"59ecb51e.729e1c","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"ipp_peep_updateFlag","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":880,"wires":[[]]},{"id":"52611f96.c3dfe","type":"link in","z":"dea9ee4a.091b4","name":"to emergencyButtonDetect","links":["2d5a37a9.06bcc8"],"x":1435,"y":1220,"wires":[["6d234799.605ec8"]]},{"id":"6d234799.605ec8","type":"function","z":"dea9ee4a.091b4","name":"serial_nano parser","func":"frNano = msg.payload;\nif (frNano.indexOf(\"{ee}\") != -1) {\n    msg.payload = \"04_ON\";\n} else {\n    msg.payload = \"04_OFF\";\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1570,"y":1220,"wires":[["a6d3f561.26c938"]]},{"id":"ab5fcb4e.9382c8","type":"link out","z":"dea9ee4a.091b4","name":"from emergencyButtonDetect","links":["31673605.46d5aa"],"x":1815,"y":1220,"wires":[]},{"id":"c9f0ff95.03616","type":"comment","z":"dea9ee4a.091b4","name":"Detect Emergency Button","info":"","x":1450,"y":1180,"wires":[]},{"id":"289fd486.3e5dbc","type":"comment","z":"dea9ee4a.091b4","name":"Zero-ing","info":"","x":1540,"y":380,"wires":[]},{"id":"ce0a66c9.359a98","type":"switch","z":"dea9ee4a.091b4","name":"","property":"mode_on_off","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":720,"wires":[["f0fdd752.c5d718"]]},{"id":"130722ae.2ac74d","type":"switch","z":"dea9ee4a.091b4","name":"if on","property":"mode_on_off","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":1160,"wires":[["9d91503b.53cae"]]},{"id":"6e21d6a8.649ad8","type":"rbe","z":"dea9ee4a.091b4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":350,"y":720,"wires":[["da5f8db0.5ff25"]]},{"id":"1c5cd4ce.9f0e5b","type":"rbe","z":"dea9ee4a.091b4","d":true,"name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":450,"y":1240,"wires":[["1ff74875.1a9258"]]},{"id":"a89df4d9.1a1988","type":"link in","z":"dea9ee4a.091b4","name":"to initialFightingDetection","links":["6b22972f.adc3a8"],"x":1795,"y":760,"wires":[["e40ea5a6.f76ec8"]]},{"id":"a124b3e4.fef36","type":"delay","z":"dea9ee4a.091b4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2430,"y":920,"wires":[["95286c99.b34ef"]]},{"id":"3d51cb51.7319e4","type":"debug","z":"dea9ee4a.091b4","name":"debug fightingDetection","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2210,"y":680,"wires":[]},{"id":"d7dc008d.138f4","type":"switch","z":"dea9ee4a.091b4","name":"","property":"zeroing_flag","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1550,"y":500,"wires":[["5839e887.24ad28"],[]]},{"id":"5839e887.24ad28","type":"smooth","z":"dea9ee4a.091b4","name":"","property":"payload","action":"mean","count":"50","round":"","mult":"single","reduce":false,"x":1680,"y":500,"wires":[["e1d473b3.413b6"]]},{"id":"e1d473b3.413b6","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"pres_offset","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":500,"wires":[["73725303.3e8d1c"]]},{"id":"35a917fb.8ed588","type":"delay","z":"dea9ee4a.091b4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1530,"y":960,"wires":[["98772ff8.7f5bb"]]},{"id":"1b9bce64.b5cf92","type":"switch","z":"dea9ee4a.091b4","name":"","property":"mode_on_off","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2010,"y":1040,"wires":[["467b98e6.d8b768"],["4202fdc9.699bc4"]]},{"id":"4202fdc9.699bc4","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"count_start","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":1080,"wires":[["34648a52.f5ff46"]]},{"id":"467b98e6.d8b768","type":"function","z":"dea9ee4a.091b4","name":"count_start++","func":"var a = parseFloat(flow.get(\"count_start\"));\nvar breathing_phase = global.get(\"breathing_phase\") || \"\";\n\nif(breathing_phase.indexOf(\"eoi\") != -1){\n    flow.set(\"count_start\",a+1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":2240,"y":1040,"wires":[["3571f834.01dfb8"]]},{"id":"8b4a491.3ed7fb8","type":"switch","z":"dea9ee4a.091b4","name":"if exhale","property":"breathing_phase","propertyType":"global","rules":[{"t":"cont","v":"eoi","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":1160,"wires":[["78652b8d.98c3c4"],["1838e9fe.35e5f6"]]},{"id":"78652b8d.98c3c4","type":"function","z":"dea9ee4a.091b4","name":"countSpur ++","func":"var count_spur = parseInt(flow.get(\"count_spur\")) || 0;\nflow.set(\"count_spur\",count_spur+1);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1160,"wires":[["85467aa6.ec9d48"]]},{"id":"1838e9fe.35e5f6","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"count_spur","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1200,"wires":[[]]},{"id":"4500b28d.85e36c","type":"link in","z":"927d9689.f973b8","d":true,"name":"flow data","links":["b1c8dc4c.7ce1b"],"x":175,"y":660,"wires":[["34365754.56f2f8"]]},{"id":"109488ff.780957","type":"ui_text","z":"c234feb0.ef673","group":"c9263dd0.4c6a3","order":2,"width":"2","height":"1","name":"","label":"I:E","format":"1: {{msg.payload}}","layout":"col-center","x":430,"y":3560,"wires":[]},{"id":"3c0d2a25.b904e6","type":"link in","z":"c234feb0.ef673","name":"from I:E","links":["953eaf6b.52996"],"x":335,"y":3560,"wires":[["109488ff.780957"]]},{"id":"d981ff57.9677e","type":"ui_text","z":"c234feb0.ef673","group":"c9263dd0.4c6a3","order":3,"width":"2","height":"1","name":"","label":"RR","format":"{{msg.payload}} bpm","layout":"col-center","x":610,"y":3560,"wires":[]},{"id":"2bd9b69.e083f4a","type":"link in","z":"c234feb0.ef673","name":"from RR","links":["f9b71d27.834f7"],"x":515,"y":3560,"wires":[["d981ff57.9677e"]]},{"id":"848e0ebf.df802","type":"ui_text","z":"c234feb0.ef673","group":"c9263dd0.4c6a3","order":4,"width":"2","height":"1","name":"","label":"VTi","format":"{{msg.payload}} mL","layout":"col-center","x":810,"y":3560,"wires":[]},{"id":"1a3b4b38.f70055","type":"link in","z":"c234feb0.ef673","name":"from VT","links":["979fa7b8.14cbe8"],"x":695,"y":3560,"wires":[["848e0ebf.df802"]]},{"id":"4d738bbb.00e004","type":"change","z":"dea9ee4a.091b4","name":"dt","rules":[{"t":"set","p":"dt","pt":"flow","to":"dt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":540,"wires":[[]]},{"id":"f386eed4.e7e5d","type":"link in","z":"c234feb0.ef673","name":"from btp3","links":["43aeaf3f.ec01f"],"x":535,"y":3820,"wires":[["d52fcb4a.c3ed38","61c4e70a.912638"]]},{"id":"d43f6f48.6a82c","type":"function","z":"dea9ee4a.091b4","name":"count_Vol","func":"var vol = parseFloat(flow.get(\"vol_count\")) || 0 ;\nvar correction_factor = 2;\n// var lastflow = parseFloat(flow.get(\"lastflow\")) || 0;\n// if(lastflow === 0) { lastflow = msg.flow;}\n// vol += correction_factor*((msg.flow/60 + lastflow/60)/2 * flow.get(\"dt\")/1000); //LPM to LPS, Micros to Sec\n//var flowq = parseFloat(flow.get(\"flow_val\")); //msg.payload;\nvar flowq = msg.payload;\n\nvol += 1*(flowq * parseInt(flow.get(\"dt\"))/60000); //LPM to LPS, Micros to Sec\n\n// var slope = (flowq - lastflow);\n// if(slope < -2 || flowq <0) {vol = 0;}\n\nflow.set(\"vol_count\", vol);\n// flow.set(\"lastflow\", flowq)\nnewmsg={\"payload\":vol};\n\nreturn newmsg;","outputs":1,"noerr":0,"x":540,"y":1360,"wires":[["c6ee7b49.864988","62dc4629.7a3868"]]},{"id":"8d0f341.876bfc8","type":"link in","z":"dea9ee4a.091b4","name":"[debug] flow","links":["b1c8dc4c.7ce1b"],"x":75,"y":1360,"wires":[["7bec83c6.32113c","c97dfea8.02de8"]]},{"id":"c6ee7b49.864988","type":"link out","z":"dea9ee4a.091b4","name":"[result] volume","links":["67700e0d.a1fb6","e0cd2483.2b3f78","2143d037.2bbd9"],"x":695,"y":1400,"wires":[]},{"id":"1c2676c7.fdf959","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"vol_count","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"lastflow","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1440,"wires":[["c6ee7b49.864988","62dc4629.7a3868"]]},{"id":"67700e0d.a1fb6","type":"link in","z":"927d9689.f973b8","d":true,"name":"","links":["c6ee7b49.864988"],"x":175,"y":620,"wires":[["8bf4f399.f6304"]]},{"id":"62dc4629.7a3868","type":"debug","z":"dea9ee4a.091b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":1320,"wires":[]},{"id":"c97dfea8.02de8","type":"switch","z":"dea9ee4a.091b4","name":"","property":"mode_on_off","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1360,"wires":[["2f2c93c9.d0b4fc","e7638846.64efb8"],["1c2676c7.fdf959"]]},{"id":"2cfd7d87.bc2112","type":"debug","z":"dea9ee4a.091b4","name":"debug_underPress","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":1360,"wires":[]},{"id":"a6d3f561.26c938","type":"rbe","z":"dea9ee4a.091b4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1730,"y":1220,"wires":[["ab5fcb4e.9382c8"]]},{"id":"d52fcb4a.c3ed38","type":"delay","z":"c234feb0.ef673","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":3820,"wires":[["5a026646.6f9568"]]},{"id":"a7b96a92.30bec8","type":"ui_template","z":"c234feb0.ef673","group":"410c9e1f.ac8cf","name":"","order":1,"width":"9","height":"4","format":"<iframe src=\"http://localhost:3000/d-solo/isM3hhmgz/ventilator2?orgId=1&refresh=%201s&from=now-7s&to=now&panelId=2\" width=\"500\" height=\"200\" frameborder=\"0\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1220,"y":3020,"wires":[[]]},{"id":"7aa96534.40455c","type":"inject","z":"c234feb0.ef673","d":true,"name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":880,"y":3020,"wires":[["a48c19f8.7b3768"]]},{"id":"a48c19f8.7b3768","type":"template","z":"c234feb0.ef673","name":"pressure","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"http://localhost:3000/d-solo/isM3hhmgz/ventilator2?orgId=1&refresh=%201s&from=now-7s&to=now&panelId=2\" width=\"500\" height=\"200\" frameborder=\"0\"></iframe>","output":"str","x":1040,"y":3020,"wires":[["a7b96a92.30bec8"]]},{"id":"fccde2d8.acc44","type":"inject","z":"c234feb0.ef673","d":true,"name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":880,"y":3060,"wires":[["7fc002bf.73cadc"]]},{"id":"7fc002bf.73cadc","type":"template","z":"c234feb0.ef673","name":"flowrate","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"http://localhost:3000/d-solo/isM3hhmgz/ventilator2?orgId=1&refresh=%201s&from=now-7s&to=now&panelId=3\" width=\"500\" height=\"200\" frameborder=\"0\"></iframe>","output":"str","x":1040,"y":3060,"wires":[[]]},{"id":"8924d214.c9c3","type":"inject","z":"c234feb0.ef673","d":true,"name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":880,"y":3100,"wires":[["317bf990.0d28e6"]]},{"id":"317bf990.0d28e6","type":"template","z":"c234feb0.ef673","name":"volume","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"http://localhost:3000/d-solo/isM3hhmgz/ventilator2?orgId=1&refresh=%201s&from=now-7s&to=now&panelId=4\" width=\"500\" height=\"200\" frameborder=\"0\"></iframe>","output":"str","x":1040,"y":3100,"wires":[[]]},{"id":"7f45c54e.bc8bcc","type":"rpi-gpio out","z":"dea9ee4a.091b4","name":"","pin":"8","set":true,"level":"0","freq":"","out":"out","x":1820,"y":1380,"wires":[]},{"id":"dd4f051f.7463d8","type":"link in","z":"dea9ee4a.091b4","name":"[alarm] overpres","links":["ff2ad660.604308"],"x":1495,"y":1320,"wires":[["8a33dd8b.013e4"]]},{"id":"4b71f54c.626f9c","type":"debug","z":"dea9ee4a.091b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1830,"y":1340,"wires":[]},{"id":"e0cd2483.2b3f78","type":"link in","z":"dea9ee4a.091b4","name":"[alarm] overvol","links":["c6ee7b49.864988"],"x":1375,"y":1380,"wires":[["3453897b.1daf66"]]},{"id":"3453897b.1daf66","type":"function","z":"dea9ee4a.091b4","name":"cekOvervol","func":"var vol_real = msg.payload;\nvar set_vol = global.get(\"set_vol\");\nvar mandatory = global.get(\"modemandatory\")\nvar stat = false;\nset_vol += 0.1*set_vol;\n\nif(vol_real > set_vol && !mandatory){\n    stat = true;\n}\n\nvar newmsg = {'payload': stat};\nreturn newmsg;","outputs":1,"noerr":0,"x":1485,"y":1380,"wires":[["8a33dd8b.013e4","867e441b.92b1a8"]]},{"id":"3b7fedfb.904932","type":"inject","z":"dea9ee4a.091b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1690,"y":1340,"wires":[["8a33dd8b.013e4","7f45c54e.bc8bcc"]]},{"id":"8a33dd8b.013e4","type":"rbe","z":"dea9ee4a.091b4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1690,"y":1380,"wires":[["4b71f54c.626f9c","7f45c54e.bc8bcc"]]},{"id":"86db276a.c5a4c8","type":"inject","z":"dea9ee4a.091b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":1690,"y":1300,"wires":[["7f45c54e.bc8bcc"]]},{"id":"ebe4403f.cfccd","type":"link in","z":"c234feb0.ef673","name":"from trigger","links":["e2843ce7.aac6d"],"x":515,"y":3620,"wires":[["2fdf751c.4f407a"]]},{"id":"900afbe4.b7c8d8","type":"debug","z":"dea9ee4a.091b4","name":"debug_alarm_gan","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":2000,"wires":[]},{"id":"3971c226.5cc62e","type":"rbe","z":"dea9ee4a.091b4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":370,"y":2000,"wires":[["730f771d.6ad218"]]},{"id":"4eaa88ab.caae58","type":"function","z":"dea9ee4a.091b4","name":"kondisi_alarm","func":"var alarm_01 = global.get(\"alarm_01\");\nvar alarm_02 = global.get(\"alarm_02\");\nvar alarm_03 = global.get(\"alarm_03\");\nvar alarm_04 = global.get(\"alarm_04\");\n\nif(alarm_01 || alarm_02 || alarm_03 || alarm_04 )\n{\n    \n}\n\nelse\n{\nreturn msg;\n}","outputs":1,"noerr":0,"x":1380,"y":2100,"wires":[["5b863297.ea19bc"]]},{"id":"867e441b.92b1a8","type":"function","z":"dea9ee4a.091b4","name":"overVolAlarm","func":"var stat = msg.payload;\nvar alarmmsg = \"06_OFF\"\nif(stat){\n    alarmmsg = \"06_ON\";\n}\n\nnewmsg = {\"payload\": alarmmsg};\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1485,"y":1420,"wires":[["d9366bfb.65bcb8"]]},{"id":"d9366bfb.65bcb8","type":"link out","z":"dea9ee4a.091b4","name":"[alarm2] OverFlow","links":["31673605.46d5aa","b4616265.62e1f"],"x":1535,"y":1460,"wires":[]},{"id":"86565a88.bf7ff8","type":"comment","z":"dea9ee4a.091b4","name":"Overpres/Overvol interrupt (OK MINUS)","info":"Test Overpres OK\nTest overvol belum\n- pas overvol sempet ke skip 1 cycle dulu","x":1490,"y":1260,"wires":[]},{"id":"455d0132.a9e25","type":"function","z":"dea9ee4a.091b4","name":"set Title","func":"if(msg.payload == \"05_ON\"){\n    msg.payload = \"Assisted Volume Control\";\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1200,"wires":[["604e5ce8.c9b2e4"]]},{"id":"9541876e.261498","type":"link out","z":"dea9ee4a.091b4","name":"Spurious Titile","links":["5768e8c1.0a8f68","5b75260.d7992dc","b820805.67cd78","bdef2fb9.9b2a7","6e87af14.1a8ba"],"x":915,"y":1240,"wires":[]},{"id":"604e5ce8.c9b2e4","type":"switch","z":"dea9ee4a.091b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Assisted Volume Control","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1240,"wires":[["9541876e.261498"],[]]},{"id":"5416e29a.b5ec5c","type":"function","z":"dea9ee4a.091b4","d":true,"name":"calcBit2Pres","func":"var pres_raw = parseFloat(msg.payload); // in 16 bit\n//pres_raw = pres_raw * 6.144 / 32768; // in volt\n\n//var pres_val = 0;\n// opt 1 offset + gain adjust\n//pres_val = ((pres_raw/5) - 0.04)/0.0012858 * 10.19716;// + global.get(\"offset_pressure\");\n\n// opt 2 regression\n// var x1 = 0.7;   var y1 = 2;\n// var x2 = 1;   var y2 = 4;\n// pres_val = ( (y2-y1)/(x2-x1)*(pres_raw-x1) )+y1;\n\n// opt 3 direct\n//pres_val = (((pres_val + 850) * 15 / 1000 * 2) - 45)*2;\nvar pres_val = pres_raw;\n\nmsg.topic = \"pressure\";\nmsg.payload = pres_val;\nmsg.raw = pres_raw;\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":560,"wires":[[]]},{"id":"b2afb17d.1ed5b","type":"mqtt in","z":"dea9ee4a.091b4","d":true,"name":"","topic":"val/flow_val","qos":"1","datatype":"auto","broker":"913f80b.7920f8","x":570,"y":840,"wires":[["ae2c941d.fdcd28"]]},{"id":"16d68c2a.3fc344","type":"change","z":"dea9ee4a.091b4","d":true,"name":"","rules":[{"t":"set","p":"flow_val","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":920,"wires":[["b1c8dc4c.7ce1b"]]},{"id":"7bec83c6.32113c","type":"switch","z":"dea9ee4a.091b4","d":true,"name":"","property":"modemandatory","propertyType":"global","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":190,"y":1440,"wires":[["c97dfea8.02de8"],["1c2676c7.fdf959"]]},{"id":"9dfc3267.24e41","type":"function","z":"dea9ee4a.091b4","d":true,"name":"serial_nano parser","func":"frNano = msg.payload;\nif (frNano.indexOf(\"{ec}\") != -1) {\n    msg.payload = \"eoc\";\n    return msg;\n} else if (frNano.indexOf(\"{ei}\") != -1) {\n    msg.payload = \"eoi\";\n    return msg;\n}\n// else {msg.payload = \"\";}\n\n// return msg;","outputs":1,"noerr":0,"x":1110,"y":220,"wires":[["f1bd5a47.e40fb8"]]},{"id":"2f2c93c9.d0b4fc","type":"switch","z":"dea9ee4a.091b4","d":true,"name":"","property":"breathing_phase","propertyType":"global","rules":[{"t":"cont","v":"eoc","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1400,"wires":[["d43f6f48.6a82c"],["1c2676c7.fdf959"]]},{"id":"11031a72.ea8b76","type":"mqtt out","z":"dea9ee4a.091b4","d":true,"name":"","topic":"val/flow_val","qos":"","retain":"","broker":"913f80b.7920f8","x":590,"y":780,"wires":[]},{"id":"ae2c941d.fdcd28","type":"function","z":"dea9ee4a.091b4","d":true,"name":"","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":840,"wires":[["b1c8dc4c.7ce1b"]]},{"id":"70e2032.fb423fc","type":"function","z":"dea9ee4a.091b4","name":"fighting stop","func":"if(msg.payload==\"03_ON\"){\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1500,"wires":[["8a33dd8b.013e4"]]},{"id":"131aa11f.1d26df","type":"link in","z":"dea9ee4a.091b4","name":"","links":["e7fe6470.448a98"],"x":1375,"y":1500,"wires":[["70e2032.fb423fc"]]},{"id":"d84365c9.81d3a8","type":"switch","z":"dea9ee4a.091b4","name":"","property":"breathing_phase","propertyType":"global","rules":[{"t":"cont","v":"eoi","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2710,"y":880,"wires":[["637156ed.b40f78"]]},{"id":"e7638846.64efb8","type":"switch","z":"dea9ee4a.091b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1360,"wires":[["d43f6f48.6a82c"],["1c2676c7.fdf959"]]},{"id":"86e6eabb.fd5be8","type":"debug","z":"dea9ee4a.091b4","name":"o2alarm","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":680,"wires":[]},{"id":"f5995494.babf28","type":"function","z":"c234feb0.ef673","name":"Step_RR","func":"var val_before = parseInt(flow.get('RR_before'));\n\n// Maju\nif (val_before<msg.payload){\n    msg.payload=msg.payload+1;\n}\nelse{\n    msg.payload=msg.payload-1;\n}\n\nif(val_before==14 && msg.payload==16){\n    msg.payload = 15;\n    flow.set('RR_before',msg.payload);\n    return msg;\n}\nelse if (val_before==15 && msg.payload==17){\n    msg.payload = 16;\n    flow.set('RR_before',msg.payload);\n    return msg;\n}\nelse if (val_before==20 && msg.payload==22){\n    msg.payload = 25;\n    flow.set('RR_before',msg.payload);\n    return msg;\n}\nelse if (val_before==25 && msg.payload==27){\n    msg.payload = 30;\n    flow.set('RR_before',msg.payload);\n    return msg;\n}\n// Mundur\nelse if (val_before==30 && msg.payload==28){\n    msg.payload = 25;\n    flow.set('RR_before',msg.payload);\n    return msg;\n}\nelse if (val_before==25 && msg.payload==23){\n    msg.payload = 20;\n    flow.set('RR_before',msg.payload);\n    return msg;\n}\nelse if (val_before==16 && msg.payload==14){\n    msg.payload = 15;\n    flow.set('RR_before',msg.payload);\n    return msg;\n}\nelse if (val_before==15 && msg.payload==13){\n    msg.payload = 14;\n    flow.set('RR_before',msg.payload);\n    return msg;\n}\n\nif(msg.payload > 30) {\n    msg.payload = 30;\n} else if (msg.payload <10){\n    msg.payload = 10;\n}\n\nflow.set('RR_before',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":2160,"wires":[["a2cf4b84.116528","f9b71d27.834f7","7bef798b.ddb178"]]},{"id":"2dc5336c.225c3c","type":"ui_button","z":"c234feb0.ef673","name":"calibrate","group":"7d9abf5c.20d99","order":1,"width":"4","height":"1","passthru":false,"label":"Calibration Page","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Kalibrasi Flow Pressure","payloadType":"str","topic":"","x":1020,"y":1760,"wires":[["930e6d97.b53ad"]]},{"id":"d3d38bb0.316d08","type":"ui_toast","z":"c234feb0.ef673","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":590,"y":1860,"wires":[]},{"id":"f3aaa4d6.34fe38","type":"switch","z":"c234feb0.ef673","name":"","property":"buttoncal","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":1860,"wires":[["6c5d3359.c78dcc"],["5921bae4.009034"]]},{"id":"6c5d3359.c78dcc","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"labelcal","pt":"msg","to":"Calibrate","tot":"str"},{"t":"set","p":"buttoncal","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"Calibrating..","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1820,"wires":[["d3d38bb0.316d08","d06ef757.09ae78","7e428c8d.8a31b4"]]},{"id":"5921bae4.009034","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"labelcal","pt":"msg","to":"Done","tot":"str"},{"t":"set","p":"buttoncal","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"Remove breathing circuit, then press DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1860,"wires":[["d3d38bb0.316d08"]]},{"id":"f86df1d1.22033","type":"link in","z":"c234feb0.ef673","name":"from trigger","links":["e2843ce7.aac6d"],"x":115,"y":1820,"wires":[[]]},{"id":"d06ef757.09ae78","type":"trigger","z":"c234feb0.ef673","name":"","op1":"","op2":"Calibration done","op1type":"nul","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":560,"y":1900,"wires":[["d3d38bb0.316d08","b901126e.775aa"]]},{"id":"b901126e.775aa","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1860,"wires":[[]]},{"id":"7e428c8d.8a31b4","type":"link out","z":"c234feb0.ef673","name":"to calibration","links":["99780c07.fd3b6"],"x":515,"y":1780,"wires":[]},{"id":"49c1b722.d23618","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"zeroing_flag","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":460,"wires":[["abae7feb.84e2f"]]},{"id":"abae7feb.84e2f","type":"delay","z":"dea9ee4a.091b4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1980,"y":460,"wires":[["d3b546ea.aa4888"]]},{"id":"d3b546ea.aa4888","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"zeroing_flag","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":460,"wires":[[]]},{"id":"73725303.3e8d1c","type":"debug","z":"dea9ee4a.091b4","name":"debug presZeroing","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2090,"y":500,"wires":[]},{"id":"85805513.f0fce8","type":"function","z":"dea9ee4a.091b4","name":"include zero-ing offset","func":"var offset = global.get(\"pres_offset\");\nvar pressure = msg.payload;\nvar value = parseFloat(pressure) - parseFloat(offset);\n\nmsg.payload = value;\nmsg.offset = offset;\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":640,"wires":[["658d4d0.f870bb4"]]},{"id":"99780c07.fd3b6","type":"link in","z":"dea9ee4a.091b4","name":"to presZeroing","links":["7e428c8d.8a31b4","8ce4377c.da0558"],"x":1615,"y":420,"wires":[["49c1b722.d23618"]]},{"id":"15865f7d.838701","type":"inject","z":"dea9ee4a.091b4","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1570,"y":460,"wires":[["49c1b722.d23618"]]},{"id":"76e6e41c.19aeec","type":"comment","z":"dea9ee4a.091b4","name":"Zero-ing","info":"","x":180,"y":980,"wires":[]},{"id":"32b9a09b.3b5c5","type":"switch","z":"dea9ee4a.091b4","name":"","property":"zeroing_flag","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":1020,"wires":[["4a42ba1c.f176b4"],[]]},{"id":"4a42ba1c.f176b4","type":"smooth","z":"dea9ee4a.091b4","name":"","property":"payload","action":"mean","count":"50","round":"","mult":"single","reduce":false,"x":320,"y":1020,"wires":[["a6049dbe.5972"]]},{"id":"a6049dbe.5972","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"flow_offset","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1020,"wires":[["6dbf1896.663d88"]]},{"id":"6dbf1896.663d88","type":"debug","z":"dea9ee4a.091b4","name":"debug flowZeroing","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":1020,"wires":[]},{"id":"31276aeb.eaf5a6","type":"function","z":"dea9ee4a.091b4","name":"include zero-ing offset","func":"var offset = global.get(\"flow_offset\");\nvar flow = msg.payload;\nvar value = parseFloat(flow) - parseFloat(offset);\n\nmsg.payload = value;\nmsg.offset = offset;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":1060,"wires":[["b1c8dc4c.7ce1b"]]},{"id":"84263f02.7db99","type":"function","z":"c234feb0.ef673","name":"","func":"var rr = parseInt(global.get(\"set_rr\")) + 1;\nflow.set(\"RR_before\", rr);\nmsg.payload = rr;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":2120,"wires":[["f5995494.babf28"]]},{"id":"7bef798b.ddb178","type":"debug","z":"c234feb0.ef673","name":"debug set RR","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":2100,"wires":[]},{"id":"1acd1b31.0525b5","type":"function","z":"dea9ee4a.091b4","name":"cekUnderPressure","func":"var pres_val = msg.payload;\nvar lim = global.get(\"loplimit\");\nvar stat = \"\";\n\nif(pres_val < lim) {\n    stat = \"02_ON\";\n    msg.payload = stat;\n    return msg;\n}","outputs":1,"noerr":0,"x":2170,"y":1180,"wires":[["84f925a7.1fd828"]]},{"id":"1df0e654.c2d9ca","type":"link in","z":"dea9ee4a.091b4","name":"[check] Fighting","links":["4a1fa4ed.8ed21c"],"x":1895,"y":1180,"wires":[["503f633d.eb037c"]]},{"id":"4a5b809b.82a14","type":"comment","z":"dea9ee4a.091b4","name":"Check for Under Pressure (alt. vD)","info":"","x":2000,"y":1140,"wires":[]},{"id":"84f925a7.1fd828","type":"link out","z":"dea9ee4a.091b4","name":"[alarm] LowPres","links":["ae15df76.3131b","31673605.46d5aa"],"x":2315,"y":1180,"wires":[]},{"id":"503f633d.eb037c","type":"switch","z":"dea9ee4a.091b4","name":"","property":"low_pres_detect","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1990,"y":1180,"wires":[["1acd1b31.0525b5"],[]]},{"id":"e2811e36.a466d","type":"delay","z":"811eb35.554d75","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":1020,"wires":[["3ac3f2c4.db05ee"]]},{"id":"3ac3f2c4.db05ee","type":"change","z":"811eb35.554d75","name":"","rules":[{"t":"set","p":"low_pres_detect","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1020,"wires":[[]]},{"id":"34648a52.f5ff46","type":"switch","z":"dea9ee4a.091b4","name":"","property":"UnderPress","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2430,"y":1080,"wires":[["c5ce9b0a.3fad58"]]},{"id":"c5ce9b0a.3fad58","type":"change","z":"dea9ee4a.091b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"02_ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2600,"y":1080,"wires":[["bc40cce.d2ceb3"]]},{"id":"9d91503b.53cae","type":"switch","z":"dea9ee4a.091b4","name":"","property":"modemandatory","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1160,"wires":[["8b4a491.3ed7fb8"]]},{"id":"e264afd6.01c1c","type":"ui_text","z":"c234feb0.ef673","group":"20600b38.b92fc4","order":5,"width":"3","height":"1","name":"","label":"VTi_a","format":"{{msg.payload | number:2}} mL","layout":"col-center","x":390,"y":3620,"wires":[]},{"id":"79d23f78.bc699","type":"change","z":"dea9ee4a.091b4","d":true,"name":"","rules":[{"t":"set","p":"vpeak_val","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"vpeak_val","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1520,"wires":[[]]},{"id":"43b772e0.54ed7c","type":"function","z":"dea9ee4a.091b4","name":"find_Volume_actual","func":"var vol_now = parseFloat(msg.payload);\nvar vpeak_now = parseFloat(global.get(\"vpeak_val\"));\n\nif (vol_now > vpeak_now) {\n    vpeak_now = vol_now;\n}\n\nmsg.payload = vpeak_now;\nglobal.set(\"vpeak_val\",vpeak_now);\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1520,"wires":[["79d23f78.bc699","e153287e.2e4f08"]]},{"id":"2143d037.2bbd9","type":"link in","z":"dea9ee4a.091b4","name":"to_vol_actual","links":["c6ee7b49.864988"],"x":375,"y":1520,"wires":[["43b772e0.54ed7c"]]},{"id":"7396268b.02eb38","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"vpeak_val_disp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":3620,"wires":[["12ea332f.1bafbd","34bbe0fe.f9d8e"]]},{"id":"12ea332f.1bafbd","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"vpeak_val","pt":"global","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":3660,"wires":[["cec5b70b.f62bc"]]},{"id":"5cb925e5.4fa26c","type":"debug","z":"dea9ee4a.091b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1560,"wires":[]},{"id":"dab0f5cc.f24568","type":"change","z":"dea9ee4a.091b4","d":true,"name":"","rules":[{"t":"set","p":"vpeak_val","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"vpeak_val","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1620,"wires":[[]]},{"id":"ac25a8ae.6d8798","type":"function","z":"dea9ee4a.091b4","name":"find_PIF","func":"var flow_now = parseFloat(msg.payload);\nvar fpeak_now = parseFloat(global.get(\"fpeak_val\"));\n\nif (flow_now > fpeak_now) {\n    fpeak_now = flow_now;\n}\n\nmsg.payload = fpeak_now;\nglobal.set(\"fpeak_val\",fpeak_now);\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1620,"wires":[["dab0f5cc.f24568","95f394c1.ccfd68"]]},{"id":"59673e60.8b497","type":"link in","z":"dea9ee4a.091b4","name":"to_vol_actual","links":["b1c8dc4c.7ce1b"],"x":375,"y":1620,"wires":[["ac25a8ae.6d8798"]]},{"id":"95f394c1.ccfd68","type":"debug","z":"dea9ee4a.091b4","name":"debug findPIF","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":1660,"wires":[]},{"id":"34725af3.ae1216","type":"ui_text","z":"c234feb0.ef673","group":"20600b38.b92fc4","order":6,"width":"3","height":"1","name":"","label":"PIF","format":"{{msg.payload | number:2}} LPM","layout":"col-center","x":430,"y":3820,"wires":[]},{"id":"ffa58044.8d317","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"fpeak_val","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":181,"y":3840,"wires":[["9739feba.4549b"]]},{"id":"9739feba.4549b","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"fpeak_val","pt":"global","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":3880,"wires":[["e1aaab7c.38f4a"]]},{"id":"9aeb2127.e81d1","type":"ui_text","z":"c234feb0.ef673","group":"c9263dd0.4c6a3","order":1,"width":"2","height":"1","name":"","label":"Set Value:","format":"","layout":"row-left","x":230,"y":3560,"wires":[]},{"id":"64cfe87.1172f18","type":"debug","z":"dea9ee4a.091b4","name":"debug pres_result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1910,"y":560,"wires":[]},{"id":"39b9d5ff.fdb84a","type":"change","z":"c234feb0.ef673","d":true,"name":"","rules":[{"t":"set","p":"pip_val","pt":"global","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":3140,"wires":[[]]},{"id":"b6b27f18.223ae","type":"debug","z":"c234feb0.ef673","name":"debug setValPIP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":3180,"wires":[]},{"id":"25b86ff1.1f147","type":"switch","z":"dea9ee4a.091b4","name":"","property":"find_pip_flag","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":840,"wires":[["1e532d90.0f27c2"],[]]},{"id":"e519f4e8.b15ec8","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"find_pip_flag","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":3300,"wires":[[]]},{"id":"38df69f5.8adf56","type":"comment","z":"c234feb0.ef673","name":"Page 5","info":"Callibration Page Contain :\n- callibration procedure","x":55,"y":4000,"wires":[]},{"id":"58f887a0.2124a8","type":"ui_text","z":"c234feb0.ef673","group":"f7d851f2.d077","order":0,"width":"9","height":"1","name":"Callibration Page","label":"","format":"Callibration Page","layout":"row-left","x":322,"y":4045,"wires":[]},{"id":"1c9804fa.631d1b","type":"ui_media","z":"c234feb0.ef673","group":"2570d1e1.9b8bce","name":"GIF ","width":"9","height":"6","order":0,"category":"Kalibrasi","file":"hasil1.gif","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":522,"y":4045,"wires":[[]]},{"id":"8a0c219d.4ef57","type":"ui_button","z":"c234feb0.ef673","name":"","group":"72f3f941.432c18","order":1,"width":"4","height":"1","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":4136,"wires":[["bc2e53de.e5aaa"]]},{"id":"6d97321.9360dcc","type":"ui_ui_control","z":"c234feb0.ef673","name":"","events":"all","x":1049,"y":4136,"wires":[[]]},{"id":"ca93d28c.c2f8e","type":"ui_button","z":"c234feb0.ef673","name":"","group":"72f3f941.432c18","order":3,"width":"4","height":"1","passthru":false,"label":"{{labelcalpage}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":523,"y":4182,"wires":[["b5143cc5.0d651"]]},{"id":"f8448868.245b18","type":"change","z":"c234feb0.ef673","name":"Initial","rules":[{"t":"set","p":"buttoncalpage","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"Lepas selang dari ventilator, kemudian tekan Next","tot":"str"},{"t":"set","p":"labelcalpage","pt":"msg","to":"Next","tot":"str"},{"t":"set","p":"calstate","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":282,"y":4090,"wires":[["ca93d28c.c2f8e","df9aa156.94adc"]]},{"id":"8ce4377c.da0558","type":"link out","z":"c234feb0.ef673","name":"to calibration","links":["99780c07.fd3b6"],"x":415,"y":4280,"wires":[]},{"id":"df9aa156.94adc","type":"ui_text","z":"c234feb0.ef673","group":"fa3ccd5b.855f7","order":0,"width":"9","height":"1","name":"text display","label":"","format":"{{msg.payload}}","layout":"row-center","x":542,"y":4090,"wires":[]},{"id":"bc2e53de.e5aaa","type":"switch","z":"c234feb0.ef673","name":"","property":"calstate","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":664,"y":4136,"wires":[["fe7c500c.25a73"],["f8448868.245b18"]]},{"id":"71c99e25.88f11","type":"change","z":"c234feb0.ef673","name":"back to use mode","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ventilator Use Mode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":4134,"wires":[["6d97321.9360dcc","f8448868.245b18"]]},{"id":"5f15474e.19fcd8","type":"switch","z":"c234feb0.ef673","name":"","property":"buttoncalpage","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":122,"y":4138,"wires":[["e6cf60ea.b3319"],["2696159a.07a05a"]]},{"id":"b5143cc5.0d651","type":"switch","z":"c234feb0.ef673","name":"","property":"calstate","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":662,"y":4182,"wires":[["71c99e25.88f11"],["5f15474e.19fcd8"]]},{"id":"2696159a.07a05a","type":"change","z":"c234feb0.ef673","name":"Mid Process","rules":[{"t":"set","p":"payload","pt":"msg","to":"Apabila selang sudah dilepas, tekan tombol Callibrate","tot":"str"},{"t":"set","p":"labelcalpage","pt":"msg","to":"Calibrate","tot":"str"},{"t":"set","p":"buttoncalpage","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":302,"y":4136,"wires":[["df9aa156.94adc","ca93d28c.c2f8e"]]},{"id":"e6cf60ea.b3319","type":"change","z":"c234feb0.ef673","name":"callibration process","rules":[{"t":"set","p":"payload","pt":"msg","to":"Proses kalibrasi, mohon tunggu","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":4180,"wires":[["ca93d28c.c2f8e","d47fb9b.3095f48","8a0c219d.4ef57","8ce4377c.da0558","df9aa156.94adc"]]},{"id":"d47fb9b.3095f48","type":"trigger","z":"c234feb0.ef673","name":"","op1":"","op2":"Calibration done","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":292,"y":4238,"wires":[["b86d12a8.138b1"]]},{"id":"b86d12a8.138b1","type":"change","z":"c234feb0.ef673","name":"Done Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"proses kalibrasi selesai","tot":"str"},{"t":"set","p":"buttoncalpage","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"labelcalpage","pt":"msg","to":"Done","tot":"str"},{"t":"set","p":"calstate","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":452,"y":4239,"wires":[["ca93d28c.c2f8e","df9aa156.94adc","8a0c219d.4ef57"]]},{"id":"90f46035.cba9d","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7710d010.a4402","order":3,"width":"3","height":"2","passthru":false,"label":"RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":420,"wires":[["44282871.69d8d8"]]},{"id":"1bab0791.2c6cd8","type":"ui_button","z":"c234feb0.ef673","name":"silence bt","group":"7710d010.a4402","order":8,"width":"3","height":"2","passthru":false,"label":"{{labelsilence}}","tooltip":"","color":"{{textcoloursilence}}","bgcolor":"{{coloursilence}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":420,"wires":[["df265240.6b18b"]]},{"id":"410b3daa.955ad4","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7710d010.a4402","order":1,"width":"3","height":"1","passthru":false,"label":"High Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":620,"wires":[[]]},{"id":"611938f3.7692b8","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7710d010.a4402","order":2,"width":"3","height":"1","passthru":false,"label":"Low Press","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":820,"wires":[[]]},{"id":"143260bf.f30a6f","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7710d010.a4402","order":4,"width":"3","height":"1","passthru":false,"label":"Fighting","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":760,"y":1200,"wires":[[]]},{"id":"2169efed.e0971","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7710d010.a4402","order":5,"width":"3","height":"1","passthru":false,"label":"Emergency","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":1400,"wires":[[]]},{"id":"a7e9e164.bd8a9","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7710d010.a4402","order":6,"width":"3","height":"1","passthru":false,"label":"Spurious","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1700,"y":620,"wires":[[]]},{"id":"88e90a0e.d24ad8","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7710d010.a4402","order":7,"width":"3","height":"1","passthru":false,"label":"Over Vol","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1700,"y":820,"wires":[[]]},{"id":"90926e88.43e6a","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7710d010.a4402","order":9,"width":"3","height":"1","passthru":false,"label":"Low PEEP","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1710,"y":1200,"wires":[[]]},{"id":"2f08ceae.801942","type":"ui_button","z":"c234feb0.ef673","name":"","group":"7710d010.a4402","order":10,"width":"3","height":"1","passthru":false,"label":"Low/High O2","tooltip":"","color":"{{textcolour}}","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1710,"y":1400,"wires":[[]]},{"id":"6e87af14.1a8ba","type":"link in","z":"c234feb0.ef673","name":"from text control","links":["b205332.44d23d","4ce4d8d5.7ac268","9541876e.261498"],"x":135,"y":4080,"wires":[["f8448868.245b18"]]},{"id":"2d384f86.e794","type":"mysql","z":"811eb35.554d75","mydb":"a420ba14.ddc818","name":"","x":840,"y":660,"wires":[["8143b5a5.b71e78"]]},{"id":"a364d2e7.9fd0d","type":"inject","z":"811eb35.554d75","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM `kalibrasi` WHERE vti = 300 AND rr =10 AND erat=1","payload":"","payloadType":"date","x":600,"y":580,"wires":[["2d384f86.e794"]]},{"id":"8143b5a5.b71e78","type":"function","z":"811eb35.554d75","name":"","func":"var mode_on_off = global.get(\"mode_on_off\");\nvar mode_breathing = global.get(\"modemandatory\");\nif (mode_breathing) {mode_breathing = 1;}\nelse {mode_breathing = 2}\n\nif (mode_on_off != 1) {\n    mode_breathing = 0;\n}\n\nvar vti = global.get(\"set_vol\");\nvar rr = global.get(\"set_rr\");\nvar ie = global.get(\"set_ie\");\n\nvar q = msg.payload[0];\n\nmsg.payload = '<' + mode_breathing + ',' + q.step + ',' + rr + ',' + ie + ',' + q.dti + '>';\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":660,"wires":[["5c589f7c.42012","df3fdb95.7130e8"]]},{"id":"5c589f7c.42012","type":"debug","z":"811eb35.554d75","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":660,"wires":[]},{"id":"c68904f3.41d168","type":"comment","z":"811eb35.554d75","name":"Ambil dr DB (WIP Pras)","info":"Ambil","x":620,"y":540,"wires":[]},{"id":"8b16463d.d689f8","type":"function","z":"811eb35.554d75","name":"","func":"var vti = global.get(\"set_vol\");\nvar rr = global.get(\"set_rr\");\nvar ie = global.get(\"set_ie\");\n\nmsg.topic = \"SELECT * FROM `kalibrasi2` WHERE vti =\" + vti + \" AND rr = \" + rr + \" AND erat=\" + ie;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":660,"wires":[["2d384f86.e794"]]},{"id":"afe38847.8781d8","type":"debug","z":"dea9ee4a.091b4","name":"debug nilai pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1220,"y":720,"wires":[]},{"id":"bc40cce.d2ceb3","type":"link out","z":"dea9ee4a.091b4","name":"[alarm] LowPres","links":["ae15df76.3131b","31673605.46d5aa"],"x":2735,"y":1040,"wires":[]},{"id":"fe7c500c.25a73","type":"switch","z":"c234feb0.ef673","name":"","property":"buttoncalpage","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":809,"y":4098,"wires":[["f8448868.245b18"],["71c99e25.88f11"]]},{"id":"93ecaf41.92c9a","type":"ui_ui_control","z":"c234feb0.ef673","name":"","events":"all","x":1500,"y":2820,"wires":[["43c2bd75.e9c444"]]},{"id":"1425181c.2c1288","type":"inject","z":"c234feb0.ef673","d":true,"name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1090,"y":2820,"wires":[["fb1865a.4483398"]]},{"id":"fb1865a.4483398","type":"template","z":"c234feb0.ef673","name":"init chart","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": \n    {\n        \"hide\": \n        [\n            \"Monitoring_showchart\"\n        ], \n        \"show\": \n        [\n            \"Monitoring_startchart\"\n        ], \n        \"focus\": true\n    }\n}","output":"str","x":1300,"y":2820,"wires":[["93ecaf41.92c9a"]]},{"id":"29ffbb04.90b304","type":"ui_button","z":"c234feb0.ef673","name":"","group":"5985a320.da364c","order":1,"width":"3","height":"1","passthru":false,"label":"show chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1230,"y":2960,"wires":[[]]},{"id":"d6673177.a55c","type":"ui_text","z":"c234feb0.ef673","group":"5985a320.da364c","order":2,"width":"6","height":"1","name":"","label":"xx","format":"{{msg.payload}}xx","layout":"row-right","x":1480,"y":2960,"wires":[]},{"id":"43c2bd75.e9c444","type":"debug","z":"c234feb0.ef673","name":"test chart","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1660,"y":2820,"wires":[]},{"id":"e153287e.2e4f08","type":"function","z":"dea9ee4a.091b4","name":"Calculate Correction Factor","func":"//Pseudocode:\n//  If error dari set point < batas toleransi\n//      Hitung correction factor setiap x cycle nafas\n//  else tampilin nilai asli\n\n// Tunables\nvar cycle_limit = 5; //cek correction factor tiap berapa cycle?\nvar err_threshold = 90; //toleransi error dlm mililiter\n\n// Global Vars\nvar set_vol = parseFloat(global.get(\"set_vol\"));\nvar breath_count = parseInt(global.get(\"breath_count\")) || 0;\nvar correction_factor = parseFloat(global.get(\"correction_factor\")) || 1;\nvar vpeak = global.get(\"vpeak_val\");\nvar last_cor = global.get(\"last_cor\") || 1;\n\n\nif( (parseInt(breath_count % cycle_limit) <= 0) || (breath_count < 3) ){\n    global.set(\"vpeak_val_disp\",vpeak*last_cor);\n    if(Math.abs(set_vol - vpeak) < err_threshold ){\n        correction_factor = set_vol / vpeak;    \n    } else {\n        correction_factor = 1;\n    }\n    global.set(\"correction_factor\", correction_factor);\n    \n} else {\n    if(Math.abs(set_vol - vpeak) < err_threshold ){\n        global.set(\"vpeak_val_disp\",vpeak*correction_factor);   \n    } else {\n        global.set(\"vpeak_val_disp\",vpeak);\n    }\n    \n}    \n\nvar msg2 = {'vpeak':msg.payload, 'vdisp':global.get(\"vpeak_val_disp\"), \"count\":global.get(\"breath_count\"), \"corr\":global.get(\"correction_factor\")};\nreturn msg2;","outputs":1,"noerr":0,"x":500,"y":1560,"wires":[["5cb925e5.4fa26c"]]},{"id":"b48d09cc.f13698","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"breath_count","pt":"global","to":"$globalContext(\"breath_count\")+1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":3940,"wires":[["973d65e8.688d"]]},{"id":"da576e0.026781","type":"comment","z":"c234feb0.ef673","name":"Breath Counter","info":"Sudah loop nafas ke berapa semenjak dinyalakan?","x":420,"y":3900,"wires":[]},{"id":"52ea80c1.197258","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"breath_count","pt":"global","to":"0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":3940,"wires":[["973d65e8.688d"]]},{"id":"3bbc4232.16f076","type":"link in","z":"c234feb0.ef673","name":"Reset Global breath_count","links":["7e677653.e53968","43aeaf3f.ec01f"],"x":595,"y":3940,"wires":[["52ea80c1.197258"]]},{"id":"5b088126.77a138","type":"comment","z":"c234feb0.ef673","name":"Reset Global breath_count","info":"Reset global breath_count setiap tekan tombol next","x":690,"y":3900,"wires":[]},{"id":"7e677653.e53968","type":"link out","z":"c234feb0.ef673","name":"","links":["3bbc4232.16f076"],"x":1275,"y":3740,"wires":[]},{"id":"973d65e8.688d","type":"function","z":"c234feb0.ef673","name":"","func":"msg.payload = global.get(\"breath_count\")\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":3860,"wires":[["6a87b201.7488ac"]]},{"id":"6a87b201.7488ac","type":"debug","z":"c234feb0.ef673","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":3920,"wires":[]},{"id":"cec5b70b.f62bc","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":3660,"wires":[["e264afd6.01c1c"]]},{"id":"e1aaab7c.38f4a","type":"switch","z":"c234feb0.ef673","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":3880,"wires":[["34725af3.ae1216","332503b8.f04ddc"]]},{"id":"332503b8.f04ddc","type":"switch","z":"c234feb0.ef673","name":"","property":"mode_on_off","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":3940,"wires":[["b48d09cc.f13698","534b9d73.d54264"],["52ea80c1.197258"]]},{"id":"534b9d73.d54264","type":"change","z":"c234feb0.ef673","name":"","rules":[{"t":"set","p":"last_cor","pt":"global","to":"$globalContext(\"correction_factor\")\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":3980,"wires":[[]]}]